---
layout: legacy
title: Success Purchase - DEVit Conference
metaTitle: DEVit the 360° Web Development Conference
metaDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /purchase/error.html
custom_js:
- purchase.bundle.js
---

{% include legacy/header.html %}

{% include legacy/navigation.html %}

<div class="container content">
  <section>
    <div class="row">
      <div class="col-sm-12">
        <div class="section-header text-center">
          <h2>
            There was a problem <br/> completing your order.
          </h2>
          <br/>
          <p>Please contact us at <a href="mailto:tickets@devitconf.org">tickets@devitconf.org</a>.</p>
        </div>
      </div>
    </div>
  </section>

  {% include legacy/footer.html %}

</div>
