<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <head>
    <title>{{ page.title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ page.metaDescription }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.metaTitle }}">
    <meta itemprop="description" content="{{ page.metaDescription }}">
    <meta itemprop="image" content="http://devitconf.org/images/devit_profile_google.jpg?1474393691">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@devitconf">
    <meta name="twitter:title" content="{{ page.metaTitle }}">
    <meta name="twitter:image" content="http://devitconf.org/images/devit_profile_twitter.jpg?1474393691">
    <meta name="twitter:description" content="{{ page.metaDescription }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.metaTitle }}">
    <meta property="og:site_name" content="devitconf.org">
    <meta property="og:url" content="http://devitconf.org{{ page.url }}">
    <meta property="og:description" content="{{ page.metaDescription }}">
    <meta property="og:image" content="http://devitconf.org/images/devit_profile_facebook.jpg?1474393691">
    <meta property="og:type" content="website">


    <!--== CSS Files ==-->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="/css/flexslider.css" rel="stylesheet" media="screen">
    <link href="/css/responsive.css" rel="stylesheet" media="screen">
    <link href="/css/devit-custom.css" rel="stylesheet" media="screen">
    <!-- endbuild -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
