---
layout: default
title: DEVit 2018 - 10th & 11st June - Thessaloniki, Greece
metaTitle: DEVit the 360° Web Development Conference
metaDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /index.html
custom_js:
- homepage.bundle.js
---

{% include header.html %}

{% include navigation.html %}

<div class="container content">

  {% include about.html %}

  <!-- {% include speakers.html year="2017" %} -->

  <!-- {% include location.html %} -->

  <!-- {% include hotels.html %} -->

  {% include registration.html %}

  <!-- {% include sponsors.html %} -->

  {% include organizers.html %}

  {% include slack-invite.html %}

  {% include footer.html %}

</div>
