---
layout: default
permalink: /tickets/index.html
---

{% include blocks/header.html %}

<div class="container">
  <div class="block text-center">
    <div class="block__heading--dark">
      Buy Tickets
    </div>
    <p class="leading--dark">
      Every year we are setting the bar higher and deliver a world-class conference on web development.
    </p>
    <p>
      DEVit started in 2015 and it takes place every year in Thessaloniki, Greece. It is known for its top speaking talent, a mixture of world-class and world-renowned developers, highly specialized technology niches and developers who are on the edge of technology frontiers.
    </p>
  </div>
  <iframe
    width="100%"
    height="100%"
    scrolling="auto"
    frameborder="0"
    hspace="0"
    vspace="0"
    allowtransparency="true"
    style="height: 1200px;"
    src="https://www.eventora.com/en/Events/devit_conference_2018?iframe=iframe"
  ></iframe>
</div>

{% include blocks/footer.html %}
