env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

language:
  - node_js
  - ruby

node_js:
  - 6

rvm:
  - 2.2.4

before_install:
  - gem install bundler
  - npm install -g yarn

install:
  - bundle install
  - yarn

script:
  - gulp build
  - htmlproofer ./_site --file-ignore "/2015/,/2016/" --assume-extension true --check-opengraph true --check-html true --url-ignore "/.+\.linkedin\.com/"
