env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

cache:
  directories:
  - $TRAVIS_BUILD_DIR/tmp/.htmlproofer #https://github.com/gjtorikian/html-proofer/issues/381

language:
  - node_js
  - ruby

node_js:
  - 6

rvm:
  - 2.4.2

before_install:
  - rvm install 2.4.2
  - gem install bundler
  - npm install -g yarn netlify-cli

install:
  - bundle install
  - yarn

addons:
  apt:
    packages:
    - libcurl4-openssl-dev

script:
  - gulp build

  # Deploy on Production. Needs some work.
  # - git config --global user.email publish@travis.github && git config --global user.name "Travis"
  # - cd node_modules/gulp-gh-pages/ && npm install --save gift@0.10.2 && cd ../../
  # - if [ "$TRAVIS_BRANCH" = "master" ]; then gulp deploy; fi

  # Previous folders are HUGE. Remove them before deploying.
  - rm -rf ./_site/2017 ./_site/2016 ./_site/2015
  # Deploy a PR Preview
  - export RESULT=$(netlify deploy -t $NETLIFY_ACCESS_TOKEN -s vigorous-wilson-121bb5 -p _site/ | grep -Eo 'http://[^ >]+'|head -1)
  - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then curl -H "Authorization:token $GITHUB_COMMENT" -X POST -d "{\"body\":\"View your PR here $RESULT.\"}" "https://api.github.com/repos/skgtech/devit/issues/$TRAVIS_PULL_REQUEST/comments"; fi

  # Previous site folders are considered to be legacy.
  # Do not check on them.
  # This is not very accurate, that's why it's at the bottom.
  - htmlproofer ./_site --file-ignore "/2015/,/2016/,/2017/,/legacy/,/working/" --assume-extension true --check-opengraph true --check-html true --http_status_ignore 999
