env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

cache:
  directories:
  - $TRAVIS_BUILD_DIR/tmp/.htmlproofer #https://github.com/gjtorikian/html-proofer/issues/381

language:
  - node_js
  - ruby

node_js:
  - 6

rvm:
  - 2.4.2

before_install:
  - rvm install 2.4.2
  - gem install bundler
  - npm install -g yarn

install:
  - bundle install
  - yarn

addons:
  apt:
    packages:
    - libcurl4-openssl-dev

script:
  - gulp build
  - htmlproofer ./_site --file-ignore "/2015/,/2016/,/2017/,/legacy/,/working/" --assume-extension true --check-opengraph true --check-html true --http_status_ignore 999
  - git config --global user.email publish@travis.github && git config --global user.name "Travis"
  - if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_BRANCH" != "gh-pages" && "$TRAVIS_BRANCH" != "gh-sta-pages" ]; then cd node_modules/gulp-gh-pages/ && npm install --save gift@0.10.2 && cd ../../ && gulp deploy; fi
