#preloader {
  background: none;
}

.header-background-hide {
  right: 10000px;
}

.header-caption .box {
  padding: 0 3rem;
  border-color: #FFF;
}

.header .logo {
  margin-bottom: 20px;
}

#footer {
  background: url(/images/FooterFold.svg) no-repeat right top;
  background-size: contain;
  background-color: #1169a7;
}

.copyrights {
  color: #6AA7CE;
}

.copyrights a:hover {
  color: #18467D;
}

.followit-ribbon {
  background: url(/images/Followit.svg) no-repeat right top;
  background-size: contain;
  width: 320px;
  height: 100px;
}

@media (max-width: 768px){
  .followit-ribbon {
    width: 290px;
  }
}

.no-p {
  padding: 0 !important;
}

.venue-info {
  padding: 5rem 6.5rem;
}
