---
layout: default
title: Talks
description: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /talks
---

{% include blocks/header.html page="talks" %}

<div class="block block-sessions text-center">
  <div class="container">
    <h1 class="block__heading--dark">
      Talks
    </h1>

    <p>
      Here are our talks
    </p>
  </div>
</div>

<div class="block">
  <div class="container">
    <ol>
      {% for session in site.data.talks['2018'] %}
        {% if session.type == "Talk" %}
          {% for speaker in site.data.speakers['2018'].speakers %}
            {% if speaker.url == session.speaker %}
            <li class="sessions__item">
              <div class="sessions__item-img">
                <img
                  src="/assets/images/speakers/2018/{{ speaker.image_filename }}"
                  alt="{{ speaker.first_name }} {{ speaker.last_name }}" />
              </div>
              <div class="sessions__item-copy">
                <div class="sessions__item-copy-small">{{ speaker.first_name }} {{ speaker.last_name }}</div>
                <a
                  class="sessions__item-copy-large"
                  href="/speakers/{{ speaker.url }}#{{session.title | slugify}}">
                  {{ session.title }}
                </a>
              </div>
            </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</div>

{% include blocks/footer.html %}
