---
layout: default
title: Talks
description: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /talks
---

{% include blocks/header.html page="talks" %}

<div class="block block-schedule text-center">
  <div class="container">
    <h1 class="block__heading--dark">
      Schedule
    </h1>

    <div class="schedule__nav">
      <a class="schedule__nav-btn btn" href="/workshops">Workshops</a>
      <div class="schedule__nav-separator"></div>
      <a class="schedule__nav-btn schedule__nav-btn--active btn" href="/talks">Talks</a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <ol>
      <li class="schedule__item">
        <strong class="schedule__item-time">10:30</strong>
        <div class="schedule__item-img">
          <i class="fas fa-ticket-alt"></i>
          <img src="https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=aa3a807e1bbdfd4364d1f449eaa96d82" alt="Speaker name" />
        </div>
        <div class="schedule__item-copy">
          <div class="schedule__item-copy-small">Speaker name</div>
          <div class="schedule__item-copy-large">
            <strong>Talk title</strong>
          </div>
        </div>
        <a target="_blank" rel="noopener" class="schedule__item-cta btn btn-primary" href="#">Buy now</a>
      </li>
    </ol>
  </div>
</div>

{% include blocks/footer.html %}
