---
layout: default
title: Conference & Sponsorship Information
description: Learn all about how to sponsor and support the DEVit conference.
permalink: /how-to-become-sponsor
custom_js:
- how-to-become-sponsor.bundle.js
---

{% include blocks/header.html page="how-to-become-sponsor" %}

<div class="container">
  <div class="block">
    <h1 class="block__heading--dark">
      Conference & Sponsorship Information
    </h1>
    <p class="leading--dark">
      Each year we meticulously vet and select remarkable speakers to deliver the best talks on web development.
    </p>
    <p>
      Learn all about how to sponsor and support the DEVit conference. The PDF below contains all information you
      need to know plus all contact details to get in touch. We would love to hear from you.
    </p>

    <div style="height: 600px; border: none; margin-top: 50px;" id="pdf-sponsorship-embed"></div>

  </div>
</div>

{% include blocks/footer.html %}
