---
layout: default
title: Conference & Sponsorship Information
description: DEVit conference will deliver the unmatched ability to gain access to the most talented, self driven developers, designers and entrepreneurs, community and thought leaders in Web Development today.
permalink: /how-to-become-sponsor
custom_js:
- how-to-become-sponsor.bundle.js
---

{% include blocks/header.html page="how-to-become-sponsor" %}

<div class="container">
  <div class="block">
    <h1 class="block__heading--dark">
      Conference & Sponsorship Information
    </h1>
    <p class="leading--dark">
      DEVit conference will deliver the unmatched ability to gain access to the most talented,
      self driven developers, designers and entrepreneurs, community and thought leaders in
      Web Development today.
    </p>

    <h2>DEVit Sponsorship Benefits</h2>

    <p><b>Talent acquisition & recruitment</b><br/>
      You will have access to every level and specialty of web developer talent, frontend, backend, UI,UX, product, DevOps, all the disciplines and arts in one place at the same time. We also make sure to curate and select the most prom- ising students from Thessaloniki’s 120,000 student pool. </p>

    <p><b>Increase brand awareness & recognition</b><br/>
      Your brand and logo will be all over the conference signage, official website, youtube videos, and social media. </p>

    <p><b>Highly targeted marketing opportunities</b><br/>
      You will meet with the decision makers, the people who are responsible for proposing technological solutions to the problems large or small corporations have. </p>

    <p><b>Media exposure & PR Announcements</b><br/>
      DEVit being the prominent technological conference in the country has easier access to mass and specialized media. Our marketing campaign encompasses all local and international channels providing you unprecedented exposure.</p>

    <p><b>Generate new partnerships, alliances & customers</b><br/>
      DEVit is the meeting point for all high tech companies of the region, the stake- holders, the players, the CTOs the CEOs, everyone will be there in a positive, relaxed mood. The perfect scenery to contact new business partnerships, network and meet your customers in person. </p>

    <h2>Sponsorship Packages</h2>

    <p>
      All sponsors get:
      <ul>
        <li>Mention by our Master of Ceremonies at the start and end of event.</li>
        <li>Permanent logo placement on the talks published on youtube (intro and outro).</li>
        <li>Logo placement and link on DEVit’s official website.</li>
        <li>Normal ticket discount in addition to the complimentary pack: 15%.</li>
        <li>Company profile presentation through our social media channels, including Facebook and Twitter. </li>
      </ul>
    </p>

    <p class="text-center">
      <small>Select the sponsorship package that best fits your needs</small>
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>&nbsp;</td>
            <td>Bronze <br/> €500 </td>
            <td>Silver <br/> €1,500</td>
            <td>Gold <br/> €2,500</td>
            <td>Platinum <br/> €4,500</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total complimentary tickets:</td>
            <td>2</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Rollup banner in Royal Theater Lobby
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <td>Rollup banner in City College Lobby</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <td>Ability to share swag with the attendees</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <td>Rollup banner in Stage</td>
            <td>✘</td>
            <td>3rd tier</td>
            <td>2nd tier</td>
            <td>1st tier</td>
          </tr>
          <tr>
            <td>Booth tables for Talks day</td>
            <td>✘</td>
            <td>1 table (2 m2)</td>
            <td>2 tables (4 m2)</td>
            <td>3 tables (6 m2)</td>
          </tr>
          <tr>
            <td>Booth Rollup banner</td>
            <td>✘</td>
            <td>✓</td>
            <td>✓ or larger construction</td>
            <td>✓ or larger construction</td>
          </tr>
          <tr>
            <td>Interview from DEVit staff, the final clip of the interview will be published on DEVit’s official YouTube channel “DEVit Conference”</td>
            <td>✘</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <td>Free promotional video during talk switch</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✓</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
    To cover your specific promotional goals we also offer Addon Packages that can complement you selected package.
    </p>

    <p><b>Promotional Video During Talk Switch (2 slots)</b><br/>
      Two slots available to play a promotional video between speakers switching back to back with each other without a break. </p>

    <p><b>T-shirt Sponsorship (1 slot)</b><br/>
      Position your branding on the official DEVit’s t-shirt all attendees will get.</p>

    <p><b>Gift Bag Sponsorship (1 slot)</b><br/>
      Be able to sponsor the whole gift bag itself. </p>

    <p>Download our 2020 Sponsorship brochure to learn more on why to become a sponsor, who attends DEVit and what to expect from this year’s event.</p>
    <p>We would love to hear from you ❤️</p>

    <div style="height: 600px; border: none; margin-top: 50px;" id="pdf-sponsorship-embed"></div>

  </div>
</div>

{% include blocks/footer.html %}
