<!--===============================-->
<!--== Code of Conduct ============-->
<!--===============================-->

<section id="codeofconduct">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Code of <b>Conduct</b></h2>
        <p>tl;dr: Be excellent with each other</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <p>
        All attendees, speakers, sponsors and volunteers at our conference
        are required to agree with the following code of conduct. Organisers
        will enforce this code throughout the event. We are expecting
        cooperation from all participants to help ensuring a safe environment
        for everybody.
      </p>

      <b>Need Help?</b>

      <p>
        If you are at the event, reach out to any team member wearing a staff
        t-shirt.
      </p>

      <p>
        If you are unable to, we are available to help at any time:
      </p>

      <ul>
        <li>
          John Economou:
          <a target="_blank" href="http://twitter.com/hsoc">@hsoc</a>,
          john[at]devitconf[dot]org
        </li>
        <li>
          Kostas Margaritis:
          <a target="_blank" href="http://twitter.com/_margaritis">@_margaritis</a>,
          kostas[at]devitconf[dot]org
        </li>
        <li>
          DEVit:
          <a target="_blank" href="http://twitter.com/devitconf">@devitconf</a>,
          report[at]devitconf[dot]org
        </li>
      </ul>

      <a href="/coc"><b>Read our Code of Conduct</b></a>
    </div>
  </div>
</section>
