<div id="home"></div>
<header id="header" class="header">

  <div id="preloader">
    <div class="preloader"></div>
  </div>

  <div class="header-caption">
    <div class="container">
      <div class="box text-center">
        <div class="logo">
          <img src="/assets/images/DevitLogo.svg" alt="DEVit Conference" class="img-responsive"/>
        </div>
        <span class=""><strong>Sat 9</strong> June 2018</span><br/>
        <span class="">Thessaloniki, Greece</span>
      </div>
    </div>
  </div>

  <div id="header-background" class="header-background header-background-hide">
    <ul class="slides">
      <li><img src="/assets/images/demo/0.jpg" alt="DEVit Conference 2017"/></li>
      <li><img src="/assets/images/demo/01.jpg" alt="DEVit Conference 2017"/></li>
      <li><img src="/assets/images/demo/02.jpg" alt="DEVit Conference 2017"/></li>
      <li><img src="/assets/images/demo/03.jpg" alt="DEVit Conference 2017"/></li>
      <li><img src="/assets/images/demo/04.jpg" alt="DEVit Conference 2017"/></li>
      <li><img src="/assets/images/demo/05.jpg" alt="DEVit Conference 2017"/></li>
      <li><img src="/assets/images/demo/06.jpg" alt="DEVit Conference 2017"/></li>
      <li><img src="/assets/images/demo/07.jpg" alt="DEVit Conference 2017"/></li>
    </ul>
  </div>

</header>
