<section id="hotels">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our Official <b>Hotel</b></h2>
        <p>
          We partnered with Park Hotel to offer you great rates.
        </p>
      </div>
    </div>
  </div>

  <div class="hotel-row">
    <div class="hotel">
      <div class="row">
        <div class="col-lg-6">
          <a href="http://www.parkhotel.com.gr/" target="_blank">
            <img src="/assets/images/hotels/park_hotel_thessaloniki.jpg" alt="Park Hotel Thessaloniki" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-6">
          <ul class="contact">
            <li class="contact-info">
              <em class="fa fa-map-marker"></em>
              <span><a href="https://goo.gl/EBCNN2" title="Park Hotel Location" target="_blank">Ionos Dragoumi 81, 54630 Thessaloniki</a></span>
            </li>
            <li class="contact-info">
              <em class="fa fa-phone"></em>
              <span>+30 2310 524121</span>
            </li>
            <li class="contact-info">
              <em class="fa fa-home"></em>
              <span><a href="http://www.parkhotel.com.gr/" title="Park Hotel" target="_blank">website</a></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pull-right">
          <a href="http://www.parkhotel.com.gr/" target="_blank">
            <img src="/assets/images/hotels/park_hotel_thessaloniki_room.jpg" alt="Park Hotel Thessaloniki Room" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-6 pull-left">
          <table class="table">
            <thead>
              <tr>
                <td colspan="2">
                  <small>* In order to take advantage of the exclusive rates for DEVit, you will need to directly contact Park hotel and mention you are a DEVit attendee.</small>
                  <small>* Excluding €1.5 overnight stay tax.</small>
                </td>
              </tr>
              <tr>
                <th>Room type</th>
                <th>Price/night</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Single Bed</td>
                <td>55€</td>
              </tr>
              <tr>
                <td>Double Bed</td>
                <td>66€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
