<section id="hotels">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our Official <b>Hotel</b></h2>
        <p>
          We partnered with City Hotel to offer you great rates.
        </p>
      </div>
    </div>
  </div>

  <div class="hotel-row">
    <div class="hotel">
      <div class="row">
        <div class="col-lg-6">
          <a href="http://www.cityhotel.gr/" target="_blank">
            <img src="/assets/images/hotels/city_hotel_thessaloniki.jpg" alt="City Hotel Thessaloniki" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-6">
          <ul class="contact">
            <li class="contact-info">
              <em class="fa fa-map-marker"></em>
              <span><a href="http://goo.gl/Ufnlfz" title="City Hotel Location" target="_blank">Komninon 11, Thessaloniki 546 24, Greece</a></span>
            </li>
            <li class="contact-info">
              <em class="fa fa-phone"></em>
              <span>+30 2310 269421</span>
            </li>
            <li class="contact-info">
              <em class="fa fa-home"></em>
              <span><a href="http://www.cityhotel.gr/" title="City Hotel" target="_blank">website</a></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pull-right">
          <a href="http://www.cityhotel.gr/" target="_blank">
            <img src="/assets/images/hotels/city_hotel_thessaloniki_room.jpg" alt="City Hotel Thessaloniki Room" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-6 pull-left">
          <table class="table">
            <thead>
              <tr>
                <td colspan="2">
                  <small>* In order to take advantage of the exclusive rates for DEVit, you will need to directly contact City hotel and mention you are a DEVit attendee.</small>
                </td>
              </tr>
              <tr>
                <th>Room type</th>
                <th>Price/night</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Internal view - Single Bed</td>
                <td>75€</td>
              </tr>
              <tr>
                <td>Internal view - Double Bed</td>
                <td>80€</td>
              </tr>
              <tr>
                <td>City view - Single Bed</td>
                <td>85€</td>
              </tr>
              <tr>
                <td>City view - Single Bed</td>
                <td>90€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
