{% assign current = page.url | downcase | split: '/' %}

<div id="navigation-wrap" class="navigation-wrap">

  <div id="navigation" class="navigation">
    <div class="container">
      <nav class="navbar navbar-custom" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav">
              <li {% if current[1] == "index.html" %}class="active"{% endif %}><a href="/">Home</a></li>
              <li {% if current[1] == 'speakers' %}class="active"{% endif %}><a href="/#speakers">Speakers</a></li>
              <li {% if current[1] == 'workshops' %}class="active"{% endif %}><a href="/workshops/2017">Workshops</a></li>
              <li {% if current[1] == 'schedule' %}class="active"{% endif %}><a href="/schedule">Schedule</a></li>
              <li><a href="/#sponsors">Sponsors</a></li>
              <li><a href="/#venue">Venue</a></li>
              <li><a href="/#hotels">Hotel</a></li>
              <li {% if current[1] == 'blog' %}class="active"{% endif %}><a href="/blog">Blog</a></li>
              <li {% if current[1] == 'week' %}class="active"{% endif %}><a href="/week/2017">DEVit Week</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="http://devit2017.eventzilla.net/" class="register" id="register-cta">Buy Tickets</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
