<section id="partners">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our <b>Partners</b></h2>
        <p>
          DEVit could not happen without the help of these partners:
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h3>Gold Partners</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-sm-4 partner">
        <a href="http://www.coho.gr/" target="_blank">
          <img src="/assets/images/affiliates/coho_logo_web_small.jpg" alt="COHO Coworking Space" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="http://www.citycollege.sheffield.eu/" target="_blank">
          <img src="/assets/images/affiliates/logo_city_sheffield.png" alt="City College Thessaloniki" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="http://hcn.gr" target="_blank">
          <img src="/assets/images/sponsors/hcn.png" alt="HCN" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h3>Silver Partners</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-sm-offset-5 col-sm-2 partner">
        <a href="http://www.devastation.tv/" target="_blank">
          <img src="/assets/images/affiliates/devastation-podcast.png" alt="Devastation Podcast" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>



<section id="organizers">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>DEVit is <b>Organized by:</b></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-sm-offset-3 col-sm-3 partner">
        <a href="http://skgtech.io" target="_blank" title="Thessaloniki Tech Community">
          <img src="/assets/images/affiliates/skgtech-alt.png" alt="Thessaloniki Tech Community" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="http://www.shesharp.org/" target="_blank" title="SHESHARP Community">
          <img src="/assets/images/affiliates/shesharp.png" alt="SHESHARP Community" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
