<section id="organizers">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>DEVit is <b>organized</b> &amp; <b>supported</b> by:</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="partners">
      <div class="col-sm-3 partner">
        <a href="http://skgtech.io" target="_blank" title="Thessaloniki Tech Community">
          <img src="/assets/images/affiliates/skgtech-alt.png" alt="Thessaloniki Tech Community" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="http://www.shesharp.org/" target="_blank" title="SHESHARP Community">
          <img src="/assets/images/affiliates/shesharp.png" alt="SHESHARP Community" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="http://www.coho.gr/" target="_blank">
          <img src="/assets/images/affiliates/coho-logo.png" alt="COHO Coworking Space" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="http://www.devastation.tv/" target="_blank">
          <img src="/assets/images/affiliates/devastation-podcast.png" alt="Devastation Podcast" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
