<section id="register">
    <div class="section-header text-center">
      <h2>Stay <b>Informed</b></h2>
    </div>
    <div class="mc-embed-signup">
      <form method="post" class="form" name="mc-embedded-subscribe-form" target="_blank" rel="noopener" novalidate="novalidate"
            action="//datablaster.us2.list-manage.com/subscribe/post?u=249dbe460c3c1857a489dde05&amp;id=faa2000c02">
        <div class="cta validate"></div>
        <fieldset class="mc-field-group row">
          <div class="form-group col-lg-4">
            <input id="mce-FNAME" type="text" name="FNAME" placeholder="First Name">
          </div>
          <div class="form-group col-lg-4">
            <input id="email-list" type="email" placeholder="Email" value="" name="EMAIL" size="30" class="required">
          </div>
          <div class="form-group col-lg-4">
            <input type="hidden" value="signup" name="SOURCE">
            <input type="hidden" value="" name="REF_SOURCE" class="js-signup-ref-source">
            <button type="submit" class="button button-active" style="width:100%">Subscribe
            </button>
          </div>
          <div class="mce-responses clear">
            <div style="display:none" class="response js-error error"></div>
            <div style="display:none" class="response js-success success"></div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="thankyou hide">
      <h3><b>Thank</b> you!</h3>

      <p>Please confirm your subscription from the email we sent you...</p>
    </div>
</section>
