<section id="sponsors">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our <b>Sponsors</b></h2>
        <p>
          The sponsors supporting our conference. See how you can <a href="sponsorship/2017/">sponsor DEVit</a> too!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h3>Gold</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners gold-partners">
      <div class="col-sm-offset-3 col-sm-6 partner">
        <a href="https://microsoft.com" target="_blank">
          <img src="/assets/images/sponsors/microsoft.png" alt="Microsoft" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h3>Silver</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners silver-partners">
      <div class="col-sm-6 partner">
        <a href="http://www.toptal.com/" target="_blank">
          <img src="/assets/images/sponsors/toptal.png" alt="Toptal" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 partner">
        <a href="https://workable.com" target="_blank">
          <img src="/assets/images/sponsors/workable.png" alt="Workable" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 partner">
        <a href="https://automattic.com" target="_blank">
          <img src="/assets/images/sponsors/automattic.png" alt="Automattic" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 partner">
        <a href="https://efood.gr" target="_blank">
          <img src="/assets/images/sponsors/efoodgr.png" alt="efood.gr" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h4>Bronze</h4>
    </div>
  </div>
  <div class="row">
    <div class="partners bronze-partners">
      <div class="col-sm-3 partner">
        <a href="https://ibm.com" target="_blank">
          <img src="/assets/images/sponsors/ibm.png" alt="IBM" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="https://goodvid.io" target="_blank">
          <img src="/assets/images/sponsors/goodvidio.png" alt="Goodvidio" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="https://schoox.com" target="_blank">
          <img src="/assets/images/sponsors/schoox.png" alt="Schoox" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="https://www.axosoft.com/" target="_blank">
          <img src="/assets/images/sponsors/axosoft.png" alt="Axosoft" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="https://www.gitkraken.com/" target="_blank">
          <img src="/assets/images/sponsors/gitkraken.png" alt="GitKraken" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="http://hikey-resources.com" target="_blank">
          <img src="/assets/images/sponsors/hikey.png" alt="Hikey Resources" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="https://cloud.google.com/" target="_blank">
          <img src="/assets/images/sponsors/gcp.png" alt="Google Cloud Platform" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="https://yandex.com" target="_blank">
          <img src="/assets/images/sponsors/yandex.png" alt="Yandex" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-offset-3 col-sm-3 partner">
        <a href="https://trivago.com" target="_blank">
          <img src="/assets/images/sponsors/trivago.png" alt="Trivago" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 partner">
        <a href="http://www.stonesoup.io/" target="_blank">
          <img src="/assets/images/sponsors/stonesoup.png" alt="Stonesoup" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h3>Media</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners bronze-partners">
      <div class="col-sm-offset-2 col-sm-4 partner">
        <a href="https://www.jobfind.gr/" target="_blank">
          <img src="/assets/images/sponsors/jobfind.png" alt="JobFind" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="https://www.semifind.gr/" target="_blank">
          <img src="/assets/images/sponsors/semifind.png" alt="SemiFind" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
