<section id="sponsors">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our <b>Sponsors</b></h2>
        <p>
          The sponsors supporting our conference. See how you can <a href="sponsorship/2017/">sponsor DEVit</a> too!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h3>Silver</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners silver-partners">
      <div class="col-sm-offset-2 col-sm-4 partner">
        <a href="http://www.toptal.com/" target="_blank">
          <img src="/assets/images/sponsors/toptal.png" alt="Toptal" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="https://workable.com" target="_blank">
          <img src="/assets/images/sponsors/workable.png" alt="Workable" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h4>Bronze</h4>
    </div>
  </div>
  <div class="row">
    <div class="partners bronze-partners">
      <div class="col-sm-4 partner">
        <a href="https://booknbloom.com" target="_blank">
          <img src="/assets/images/sponsors/booknbloom.png" alt="Booknbloom" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="https://goodvid.io" target="_blank">
          <img src="/assets/images/sponsors/goodvidio.png" alt="Goodvidio" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="https://schoox.com" target="_blank">
          <img src="/assets/images/sponsors/schoox.png" alt="Schoox" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
