<section id="sponsors">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our <b>sponsors</b></h2>
        <p>
          We must thank these guys for their support. If you don’t want to miss this opportunity and you are willing to  offer your support as a sponsor please see our <a href="https://drive.google.com/file/d/0B7-hiTwoZn0BanNfSjVwUU03Q3c/view" title="DEVit Sponsorship Proposal">sponsorship proposal.</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section-header text-center">
      <h3>Silver</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-sm-offset-4 col-sm-4 partner">
        <a href="http://www.toptal.com/" target="_blank">
          <img src="/assets/images/sponsors/toptal.png" alt="Toptal" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
