---
layout: default
custom_js:
- workshop.bundle.js
---

{% include navigation.html %}

<div class="container content">

  {% assign workshop = page.workshop %}
  {% assign speaker = site.data.speakers.2017.speakers | where:"url", workshop.speaker | first %}
  {% assign speakerName = speaker.first_name | append: ' ' | append: speaker.last_name %}
  {% assign speakerImg = speaker.first_name | append: '_' | append: speaker.last_name %}
  <ol class="breadcrumb">
    <li><a href="/">DEVit 2017</a></li>
    <li><a href="/workshops/2017/">Workshops</a></li>
    <li class="active">{{ workshop.title }}</li>
  </ol>
  <section>
    <header>
      <div class="text-center">
        <h1>{{ workshop.title }}</h1>
        <h4><i>by {{ speakerName }}</i></h4>
      </div>
    </header>
  </section>
  <section>
    <ul class="list-unstyled">
      {% if workshop.type == "allDay" %}
      <li>All day Workshop Ticket price: <b>€250</b></li>
      <li>Limited to <b>25 seats</b> / workshop.</li>
      <li>Schedule: <b>11:00 AM - 8:00 PM</b>. Registration will start at <b>10:00 AM</b>.</li>
      {% endif %}
      <li>Coffee and drinks during the day, lunch will be <b>all provided</b>.</li>
      <li>Please note that a computer will not be provided, so <b>please bring your </b>own laptop to the workshop.</li>
    </ul>
    <div class="workshop">
      <h3 class="workshop__title">
        {{ workshop.title }}
      </h3>
      <div class="row">
        <div class="col-lg-3 workshop__img">
          {% if workshop.tba %}
            <img class="img-responsive" src="{{ workshop.speakerPhoto }}" alt="{{ workshop.title }}">
          {% else %}
            <img class="img-responsive" src="/assets/images/speakers/2017/{{ speakerImg }}.png" alt="{{ speakerImg }}">
          {% endif %}
        </div>
        <div class="{% if workshop.type == 'allDay' %}col-lg-7{% else %}col-lg-9{% endif %} workshop__info">
          <table class="table">
            <tr>
              <th>Instructor</th>
              <td>{{ speakerName }}</td>
            </tr>
            <tr>
              <th>Skill Level</th>
              <td>{{ workshop.skill }}</td>
            </tr>
            <tr>
              <th>Prerequisites</th>
              <td>{{ workshop.prerequisites }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ workshop.description }}</td>
            </tr>
          </table>
        </div>
        {% if workshop.type == "allDay" %}
        <div class="col-lg-2 workshop__cart-info">
          <div>
            Ticket Price:<br/>
            <div class="workshop__price">€250</div>
          </div>
          <small>
            Only 25 seats available.
          </small>
          <div class="workshop__actions">
            <a target="blank" href="http://devit2017.eventzilla.net/" class="button btn-block btn-action workshop__buy">Buy now</a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 style="margin-top:50px;">This workshop covers:</h3>
          <ul>
            {% for cover in workshop.covers %}
            <li style="padding-top:10px;">{{ cover }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</div>
