---
layout: default
---

{% include header.html %}

{% include navigation.html %}

<div class="container content">
  <section id="codeofconduct" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-header text-center">
          <h2>About <b>DEVit</b></h2>
          <p>Here are some facts about us</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

        <p>

        </p>

      </div>
    </div>
  </section>

  {% include footer.html %}
</div>
