---
layout: workshops
title: DEVit Workshops - Thessaloniki 21 May 2017
ogTitle: DEVit Workshops - Thessaloniki 21 May 2017
ogDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /workshops/2017/
custom_js:
- workshop.bundle.js
---

{% assign workshops=site.data.workshops.2017 %}

<ol class="breadcrumb">
  <li><a href="/">DEVit 2017</a></li>
  <li class="active">Workshops</li>
</ol>
<section>
  <header>
    <div class="text-center">
      <h1>DEVit 2017 Workshops</h1>
      <h4><i>Sunday, 21 May</i></h4>
    </div>
  </header>
</section>
<section>
  <header>
    <h2>All Day Workshops</h2>
  </header
  <p>An all day workshop is an exclusive, low participant count, class. You will get 8 hours of intense, focused training on the state of the art technologies of the web today.</p>
  <ul class="list-unstyled">
    <li>All day Workshop Ticket price: <b>€250</b></li>
    <li>Limited to <b>25 seats</b> / workshop.</li>
    <li>Schedule: <b>11:00 AM - 8:00 PM</b>. Registration will start at <b>10:00 AM</b>.</li>
    <li>Coffee and drinks during the day, lunch will be <b>all provided</b>.</li>
    <li>Please note that a computer will not be provided, so <b>please bring your </b>own laptop to the workshop.</li>
  </ul>
  <div class="workshops">

    {% for workshop in workshops.allDay %}

    <div class="workshop">
      <h3 class="workshop__title">
        <a href="/workshops-all-day/2017/{{ workshop.url }}/" title="{{ workshop.title }}">{{ workshop.title }}</a>
      </h3>
      <div class="row">
        <div class="col-lg-3 workshop__img">
          <img class="img-responsive" src="{{ workshop.speakerPhoto }}" alt="{{ workshop.name }}">
        </div>
        <div class="col-lg-7 workshop__info">
          <table class="table">
            <tr>
              <th>Instructor</th>
              <td>{{ workshop.name }}</td>
            </tr>
            <tr>
              <th>Skill Level</th>
              <td>{{ workshop.skill }}</td>
            </tr>
            <tr>
              <th>Prerequisites</th>
              <td>{{ workshop.prerequisites }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ workshop.description }}</td>
            </tr>
          </table>
          <a href="/workshops-all-day/2017/{{ workshop.url }}/" title="{{ workshop.title }}">More info...</a>
        </div>
        <div class="col-lg-2 workshop__cart-info">
          <div>
            Ticket Price:<br/>
            <div class="workshop__price">€250</div>
          </div>
          <small>
            Only 25 seats available.
          </small>
          <div class="workshop__actions">
            <a target="blank" href="http://devit2017.eventzilla.net/" class="button btn-block btn-action workshop__buy">Buy now</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section id="open-workshops">
  <header>
    <h2>Open Workshops</h2>
  </header>
  <p>The Open Workshops are multi-stage classes that will cover hot web development topics by industry veterans. We gave each workshop ample time to get the message through, 2.5 hours of pure hands-on experience.</p>
  <ul>
    <li>Open Workshops Ticket price: <b>€60€</b> - (<b>€100</b> bundle with Speaker day)</li>
    <li>Schedule: <b>11:00 AM - 8:00 PM</b>. Registration will start at <b>10:00 AM.</b></li>
    <li>Coffee and drinks during the day, lunch will be <b>all provided.</b></li>
    <li>Please note that a computer will not be provided, so please <b>bring your own laptop</b> to the workshop.</li>
  </ul>
  <div class="row workshops">
    {% for workshop in workshops.open %}
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="workshop-open">
        <h3 class="workshop__title">
          {{ workshop.title }}
        </h3>
        <div class="workshop-open__img text-center">
            <img height="240px" src="{{ workshop.speakerPhoto }}" alt="{{ workshop.name }}">
        </div>
        <div class="workshop-open__info">
          <table class="table">
            <tr>
              <th>Instructor</th>
              <td>{{ workshop.name }}</td>
            </tr>
            <tr>
              <th>Skill Level</th>
              <td>{{ workshop.skill }}</td>
            </tr>
            <tr>
              <th>Prerequisites</th>
              <td>{{ workshop.prerequisites }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ workshop.description }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
