{% include header.html %}

{% include navigation.html %}

<div class="container content">

  <section>
    <div class="row">

      <div class="col-sm-12 text-center">
        <img src="/images/2017/speakers/Natasha_Murashev.png" class="img-circle" alt="Natasha Murashev">
      </div>
      <div class="col-sm-12">
        <div class="section-header text-center">
          <h2>
            <b>Natasha</b>
            Murashev
          </h2>
          <ul class="speaker-contacts">
            <li><a href="https://twitter.com/natashatherobot" target="_blank" class="fa fa-twitter"></a></li>
            <li><a href="https://github.com/NatashaTheRobot" target="_blank" class="fa fa-github"></a></li>
          </ul>

        </div>
      </div>
      <div class="col-lg-push-3 col-lg-6">
        <p>
          Natasha is an iOS developer by day and a robot by night.<br />
          She blogs about Swift, watchOS, and iOS development on her
          <a href="http://natashatherobot.com" target="_blank">blog</a>, curates a fast-growing weekly Swift newsletter,
          <a href="https://swiftnews.curated.co" target="_blank">This Week in Swift</a>, and organizes the
          <a href="http://www.tryswiftconf.com/en" target="_blank">try! Swift Conference</a>
          around the world (the next one is in Tokyo!).
        </p>
      </div>
    </div>
  </section>

  {% include footer.html %}

  </div>
</div>
