---
layout: default
title: DEVit Conference - Thessaloniki 15 May 2015
---
    <div id="home"></div>
    <header id="header" class="header" data-stellar-ratio="0.5">

      <!--== Preloader ==-->
      <div id="preloader"><div class="preloader"></div></div>

      <!--== Caption ==-->
      <div class="header-caption" data-stellar-ratio="2">
        <div class="container">
          <div class="box">
            <div class="logo">
              <img src="/images/DevitLogo.svg" alt="DEVit Conference" class="img-responsive"/>
            </div>
            <span class="typed">&nbsp;</span>
          </div>
        </div>
      </div>

      <!--== Header Background ==-->
      <div id="header-background" class="header-background header-background-hide">
        <ul class="slides">
          <li><img src="images/demo/bg-slide-01.jpg" alt="Slide 1"></li>
          <li><img src="images/demo/bg-slide-02.jpg" alt="Slide 2"></li>
        </ul>
      </div>

    </header>

    <div id="navigation-wrap" class="navigation-wrap">
      <div id="navigation" class="navigation">
        <div class="container">
          <nav class="navbar navbar-custom" role="navigation">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="#tickets" class="register">Buy Tickets!</a>
            </div>

            <!--== Site Menu ==-->
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#speakers">Speakers</a></li>
                <li><a href="#shareit">Share</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#register">Engage</a></li>
              </ul>
            </div>

          </nav>
        </div>
      </div>
    </div>

    <div class="container content">
      <!--===============================-->
      <!--== About ======================-->
      <!--===============================-->
      <section id="about">
        <div class="row">
          <div class="col-sm-12 col-md-2">
            <div class="section-header text-left">
              <h2><b>About</b> DEVit</h2>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <h4>DEVit is a 360° Web Development Conference</h4>
            <p>Get ready to step out of your comfort zone! Learn about the latest trends and techniques for <b>Frontend</b>, <b>Backend</b>, <b>DevOps</b> and <b>Security</b>! Meet the experts, the evangelists, the masterminds! We are 360° and proud of it!</p>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
              <b class="accent">12</b>
              Speakers
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
              <b class="accent">2</b>
              Tracks
            </div>
          </div>
        </div>
      </section>
      <!--==========-->

      {% include speakers.html %}

      <!--===============================-->
      <!--== SHARE IT ===================-->
      <!--===============================-->
      <section id="shareit" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-header text-left">
              <div class="pull-left">
                <img class="shareit" src="/images/shareit.png">
              </div>

              <div class="pull-left">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://devitconf.org" class="share-box share-box-fb">
                  <span class="fa fa-facebook"></span>
                  <div class="share-box-count fb-count js-fb-count"></div>
                </a>
              </div>

              <div class="pull-left">
                <a target="_blank" href="https://twitter.com/home?status=Join%20%23DEVitConf%20the%20360%C2%B0%20Web%20Development%20Conference%2015%20May%202015%20Thessaloniki%20Greece%20http://devitconf.org" class="share-box share-box-tw">
                  <span class="fa fa-twitter"></span>
                  <div class="share-box-count tw-count js-tw-count"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!--===============================-->
      <!--== Location ===================-->
      <!--===============================-->
      <section id="venue" class="wow bounceInUp no-p" data-wow-duration="0.8s" data-wow-delay="0.1s">
        <div class="row">
          <div class="col-sm-12 col-md-7">
            <div class="map">
              <div id="map-canvas"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md-5 venue-info">
            <h2>The <b>Venue</b> M2</h2>
            <ul class="contact">
              <li class="contact-info">
                <em class="fa fa-map-marker"></em>
                <span>25 Martiou & Paralia, Thessaloniki, Greece</span>
              </li>
              <li class="contact-info telephone">
                <em class="fa fa-phone"></em>
                <span>+30 2310 895800</span>
              </li>
              <li class="contact-info">
                <em class="fa fa-envelope"></em>
                <span>hello@devitconf.org</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!--==========-->

      <!--===============================-->
      <!--== Subscribe & Register =======-->
      <!--===============================-->
      <section id="register" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="section-header text-left">
              <h2><b>Stay</b> Connected!</h2>
            </div>
            <div class="mc-embed-signup">
              <form method="post" class="form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate" action="//datablaster.us2.list-manage.com/subscribe/post?u=249dbe460c3c1857a489dde05&amp;id=faa2000c02">
                <div class="cta validate"></div>
                <fieldset class="mc-field-group">
                  <div class="form-group">
                    <label for="mce-FNAME">First Name</label>
                    <input id="mce-FNAME" type="text" name="FNAME" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    <label for="email-list">Your Email</label>
                    <input id="email-list" type="email" placeholder="Email" value="" name="EMAIL" size="30" class="required">
                  </div>
                  <div class="form-group">
                    <input type="hidden" value="signup" name="SOURCE">
                    <input type="hidden" value="" name="REF_SOURCE" class="js-signup-ref-source">
                    <button type="submit" class="button button-active pull-right">Keep me in the
                      loop!</button>
                  </div>
                  <div class="mce-responses clear">
                    <div style="display:none" class="response js-error error"></div>
                    <div style="display:none" class="response js-success success"></div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="thankyou hide">
              <h3><b>Thank</b> you!</h3>
              <p>Please confirm your subscription from the email we sent you...</p>
            </div>
          </div>
        </div>
      </section>
      <!--==========-->

      {% include tickets.html %}

      <!--===============================-->
      <!--== Footer =====================-->
      <!--===============================-->
      <footer id="footer" class="footer">
        <div class="row">
          <div class="col-sm-8">

            <!--== Social Icons ==-->
            <ul class="social-icons">
              <li><a target="_blank" href="https://www.facebook.com/DEVitConf" class="fa fa-facebook"></a></li>
              <li><a target="_blank" href="https://twitter.com/devitconf" class="fa fa-twitter"></a></li>
              <li class="followit-ribbon">&nbsp;</li>
            </ul>
            <div class="copyrights">© <span class="js-current-year">2015</span> <a href="https://github.com/skgtech/devit/graphs/contributors" target="_blank">SKGTech Contributors</a>, Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons 4.0</a></div>

          </div>
          <div class="col-sm-4 footer-fold">
          </div>
        </div>
      </footer>
      <!--==========-->

    </div>

