---
layout: default
title: DEVit Conference - Thessaloniki 20 May 2016
metaTitle: DEVit the 360° Web Development Conference
metaDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
---

{% include header.html %}

{% include navigation.html %}


<div class="container content">
  <!--===============================-->
  <!--== About ======================-->
  <!--===============================-->

  {% include about.html %}

  <!--==========-->

  {% include speakers.html %}

  <!--===============================-->
  <!--== Location ===================-->
  <!--===============================-->

  {% include location.html %}

  <!--==========-->

  {% include tickets.html %}

  <!--===============================-->
  <!--== Subscribe & Register =======-->
  <!--===============================-->

  {% include registration.html %}

  <!--==========-->

  {% include sponsors.html %}

  {% include affiliates.html %}

  {% include codeofconduct.html %}

  <!--===============================-->
  <!--== Footer =====================-->
  <!--===============================-->

  {% include footer.html %}

  <!--==========-->

</div>
