---
layout: page
title : DEVit 2017 Schedule
metaTitle: DEVit 2017 Schedule
metaDescription: Two days of continuous talks and extensive workshops.
ogTitle: DEVit 2017 Schedule
ogDescription: Two days of continuous talks and extensive workshops.
permalink: /schedule/
custom_js:
- schedule.bundle.js
---
<section id="sessions">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>The <b>schedule</b></h2>
        <p>Two days of continuous talks and extensive workshops.</p>
      </div>
    </div>
  </div>
  <div class="content-tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#saturday" data-toggle="tab">Saturday 20/5</a></li>
      <li><a href="#sunday" data-toggle="tab">Sunday 21/5</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="saturday">
        <ul class="accordion">
          {% for entry in site.data.schedule['2017'].talks %} {% if entry.type == 'talk' %}
          <li class="panel accordion">
            <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
              <a class="accordion-heading collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}"
                aria-expanded="false" aria-controls="collapse{{ forloop.index }}">
                <span class="schedule-time accent">
                            {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                          </span> {% if entry.speaker %}
                <div class="schedule-speaker">
                  {% assign speaker = site.data.speakers.2017.speakers | where:"url", entry.speaker | first %} {% assign speakerName = speaker.first_name
                  | append: ' ' | append: speaker.last_name %} {% assign speakerImg = speaker.first_name | append: '_' | append:
                  speaker.last_name %}
                  <small class="hidden-xs hidden-sm">{{ speakerName }}</small>
                  <img src="/assets/images/speakers/2017/{{ speakerImg }}.png" alt="{{ speakerName }}">
                </div>
                {% endif %}
                <h4 class="accordion-title">{{ entry.title }}</h4>
              </a>
            </div>
            <div id="collapse{{ forloop.index }}" class="panel-collapse collapse accordion-body" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
              <div class="panel-body">
                {% if entry.description %} {{entry.description}} {% else %} TBA {% endif %}
              </div>
            </div>
          </li>
          {% else %}
          <li class="panel accordion conf-related">
            <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
              <a class="accordion-heading collapsed" role="button">
                <span class="schedule-time accent">
                            {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                          </span>
                <h4 class="accordion-title">{{ entry.title }}</h4>
              </a>
            </div>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
      <div class="tab-pane fade in" id="sunday">
        <div class="row">
          <div class="col-sm-12">
            <div class="content-tabs">
              <ul class="nav schedule nav-tabs">
                <li class="active"><a href="#room0" data-toggle="tab">Room 1</a></li>
                <li><a href="#room1" data-toggle="tab">Room 2</a></li>
                <li><a href="#room2" data-toggle="tab">Room 3</a></li>
                <li><a href="#room3" data-toggle="tab">Room 4</a></li>
                <li><a href="#room4" data-toggle="tab">Room 5</a></li>
                <li><a href="#room5" data-toggle="tab">Room 6</a></li>
                <li><a href="#room6" data-toggle="tab">Room 7</a></li>
                <li><a href="#room7" data-toggle="tab">Room 8</a></li>
              </ul>

              <div class="tab-content">
                {% for roomIndex in (0..2) %}
                <div class="tab-pane fade in {% if roomIndex == 0 %}active{% endif %}" id="room{{ roomIndex }}">
                  <ul class="accordion">
                    {% for entry in site.data.schedule['2017'].workshops %}
                    {% if entry.type == 'session' %} {% assign workshop = site.data.workshops['2017'].allDay | where: "id", entry.entries[roomIndex]
                    | first %}
                    <li class="panel accordion">
                      <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                        <a class="accordion-heading collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ workshop.id }}{{ forloop.index }}"
                          aria-expanded="false" aria-controls="collapse{{ workshop.id }}{{ forloop.index }}">
                          <span class="schedule-time accent">
                                {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                              </span> {% if workshop.speaker %}
                          <div class="schedule-speaker">
                            {% assign speaker = site.data.speakers.2017.speakers | where:"url", workshop.speaker | first %} {% assign speakerName = speaker.first_name
                            | append: ' ' | append: speaker.last_name %} {% assign speakerImg = speaker.first_name | append: '_'
                            | append: speaker.last_name %}
                            {% if workshop.tba == true %}
                              <img class="img-responsive" src="{{ workshop.speakerPhoto }}" alt="{{ workshop.name }}">
                            {% else %}
                              <small class="hidden-xs hidden-sm">{{ speakerName }}</small>
                                <img src="/assets/images/speakers/2017/{{ speakerImg }}.png" alt="{{ speakerName }}">
                            {% endif %}
                          </div>
                          {% endif %}
                          <h4 class="accordion-title">{{ workshop.title }}</h4>
                        </a>
                      </div>
                      {% if workshop.description %}
                      <div id="collapse{{ workshop.id }}{{ forloop.index }}" class="panel-collapse collapse accordion-body" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
                        <div class="panel-body">
                          {{workshop.description}}
                          <br/>
                          <br/>
                          {% if workshop.tba != true  %}
                            <a href="/workshops-all-day/2017/{{workshop.url}}">More details about this workshop</a>
                          {% endif %}
                        </div>
                      </div>
                      {% endif %}
                    </li>
                    {% else %}
                    <li class="panel accordion conf-related">
                      <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                        <a class="accordion-heading collapsed" role="button">
                          <span class="schedule-time accent">
                                {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                              </span>
                          <h4 class="accordion-title">{{ entry.title }}</h4>
                        </a>
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %} {% for roomIndex in (3..7) %}
                <div class="tab-pane fade in {% if roomIndex == 0 %}active{% endif %}" id="room{{ roomIndex }}">
                  <ul class="accordion">
                    {% for entry in site.data.schedule['2017'].workshops %}
                    {% if entry.type == 'session' %} {% assign workshop = site.data.workshops['2017'].open | where: "id", entry.entries[roomIndex]
                    | first %}
                    <li class="panel accordion">
                      <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                        <a class="accordion-heading collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ workshop.id }}{{ forloop.index }}"
                          aria-expanded="false" aria-controls="collapse{{ workshop.id }}{{ forloop.index }}">
                          <span class="schedule-time accent">
                                {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                              </span> {% if workshop.speaker %}
                          <div class="schedule-speaker">
                            {% assign speaker = site.data.speakers.2017.speakers | where:"url", workshop.speaker | first %} {% assign speakerName = speaker.first_name
                            | append: ' ' | append: speaker.last_name %} {% assign speakerImg = speaker.first_name | append: '_'
                            | append: speaker.last_name %}
                            {% if workshop.tba == true %}
                              <img class="img-responsive" src="{{ workshop.speakerPhoto }}" alt="{{ workshop.name }}">
                            {% else %}
                              <small class="hidden-xs hidden-sm">{{ speakerName }}</small>
                                <img src="/assets/images/speakers/2017/{{ speakerImg }}.png" alt="{{ speakerName }}">
                            {% endif %}
                          </div>
                          {% endif %}
                          <h4 class="accordion-title">{{ workshop.title }}</h4>
                        </a>
                      </div>
                      <div id="collapse{{ workshop.id }}{{ forloop.index }}" class="panel-collapse collapse accordion-body" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
                        <div class="panel-body">
                          {{ workshop.description}}
                          <br/>
                          <br/>
                          {% if workshop.tba != true  %}
                            <a href="/workshops-open/2017/{{ workshop.url }}/">More details about this workshop</a>
                          {% endif %}
                        </div>
                      </div>
                    </li>
                    {% else %}
                    <li class="panel accordion conf-related">
                      <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                        <a class="accordion-heading collapsed" role="button">
                          <span class="schedule-time accent">
                                {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                              </span>
                          <h4 class="accordion-title">{{ entry.title }}</h4>
                        </a>
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
