---
layout: page
title : Saturday Schedule
permalink: /schedule/saturday/
custom_js:
- schedule.bundle.js
---
<section id="sessions">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>The <b>schedule</b></h2>
        <p>Two days of continuous talks and awesome workshops.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="accordion">
        {% for entry in site.data.schedule['2017'].talks %}

          {% if entry.type == 'talk' %}
            <li class="panel accordion">
              <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                <!--<a class="accordion-heading collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">-->
                <div class="accordion-heading collapsed">
                  <span class="schedule-time accent">
                    TB<sup>A</sup>
                  </span>

                  {% if entry.speaker %}
                    <div class="schedule-speaker">
                      {% assign speaker = site.data.speakers.2017.speakers | where:"url", entry.speaker | first %}
                      {% assign speakerName = speaker.first_name | append: ' ' | append: speaker.last_name %}
                      {% assign speakerImg = speaker.first_name | append: '_' | append: speaker.last_name %}
                      <small class="hidden-xs hidden-sm">{{ speakerName }}</small>
                      <img src="/assets/images/speakers/2017/{{ speakerImg }}.png" alt="{{ speakerName }}">
                    </div>
                  {% endif %}
                  <h4 class="accordion-title">{{ entry.title }}</h4>
                </div>
              </div>
              {% if entry.description %}
                <div id="collapse{{ forloop.index }}" class="panel-collapse collapse accordion-body" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  </div>
                </div>
              {% endif %}
            </li>
          {% else %}
            <li class="panel accordion conf-related">
              <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                <a class="accordion-heading collapsed" role="button">
                  <span class="schedule-time accent">
                    TB<sup>A</sup>
                  </span>
                  <h4 class="accordion-title">{{ entry.title }}</h4>
                </a>
              </div>
            </li>
          {% endif %}

        {% endfor %}
      </ul>
    </div>
  </div>
</section>
