---
layout: page
title : Sunday Schedule
permalink: /schedule/sunday
custom_js:
- schedule.bundle.js
---
<section id="sessions">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>The <b>schedule</b></h2>
        <p>Two days of continuous talks and awesome workshops.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#room0" data-toggle="tab">Room 1</a></li>
          <li><a href="#room1" data-toggle="tab">Room 2</a></li>
          <li><a href="#room2" data-toggle="tab">Room 3</a></li>
          <li><a href="#room3" data-toggle="tab">Room 4</a></li>
          <li><a href="#room4" data-toggle="tab">Room 5</a></li>
          <li><a href="#room5" data-toggle="tab">Room 6</a></li>
        </ul>

        <div class="tab-content">
          {% for roomIndex in (0..2) %}
          <div class="tab-pane fade in {% if roomIndex == 0 %}active{% endif %}" id="room{{ roomIndex }}">
          {% for entry in site.data.schedule['2017'].workshops %}
            <ul class="accordion">
              {% if entry.type == 'session' %}
                {% assign workshop = site.data.workshops['2017'].allDay | where: "id", entry.entries[roomIndex] | first %}
                <li class="panel accordion">
                  <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                    <a class="accordion-heading collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">
                      <span class="schedule-time accent">
                        {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                      </span>

                      {% if workshop.speaker %}
                        <div class="schedule-speaker">
                          {% assign speaker = site.data.speakers.2017.speakers | where:"url", workshop.speaker | first %}
                          {% assign speakerName = speaker.first_name | append: ' ' | append: speaker.last_name %}
                          {% assign speakerImg = speaker.first_name | append: '_' | append: speaker.last_name %}
                          <small class="hidden-xs hidden-sm">{{ speakerName }}</small>
                          <img src="/assets/images/speakers/2017/{{ speakerImg }}.png" alt="{{ speakerName }}">
                        </div>
                      {% endif %}
                      <h4 class="accordion-title">{{ workshop.title }}</h4>
                    </a>
                  </div>
                  <div id="collapse{{ forloop.index }}" class="panel-collapse collapse accordion-body" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    </div>
                  </div>
                </li>
              {% else %}
                <li class="panel accordion conf-related">
                  <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                    <a class="accordion-heading collapsed" role="button">
                      <span class="schedule-time accent">
                        {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                      </span>
                      <h4 class="accordion-title">{{ entry.title }}</h4>
                    </a>
                  </div>
                </li>
              {% endif %}
            </ul>
          {% endfor %}
          </div>
          {% endfor %}
          {% for roomIndex in (3..5) %}
          <div class="tab-pane fade in {% if roomIndex == 0 %}active{% endif %}" id="room{{ roomIndex }}">
          {% for entry in site.data.schedule['2017'].workshops %}
            <ul class="accordion">
              {% if entry.type == 'session' %}
                {% assign workshop = site.data.workshops['2017'].open | where: "id", entry.entries[roomIndex] | first %}
                <li class="panel accordion">
                  <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                    <a class="accordion-heading collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">
                      <span class="schedule-time accent">
                        {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                      </span>

                      {% if workshop.speaker %}
                        <div class="schedule-speaker">
                          {% assign speaker = site.data.speakers.2017.speakers | where:"url", workshop.speaker | first %}
                          {% assign speakerName = speaker.first_name | append: ' ' | append: speaker.last_name %}
                          {% assign speakerImg = speaker.first_name | append: '_' | append: speaker.last_name %}
                          <small class="hidden-xs hidden-sm">{{ speakerName }}</small>
                          <img src="/assets/images/speakers/2017/{{ speakerImg }}.png" alt="{{ speakerName }}">
                        </div>
                      {% endif %}
                      <h4 class="accordion-title">{{ workshop.title }}</h4>
                    </a>
                  </div>
                  <div id="collapse{{ forloop.index }}" class="panel-collapse collapse accordion-body" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    </div>
                  </div>
                </li>
              {% else %}
                <li class="panel accordion conf-related">
                  <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                    <a class="accordion-heading collapsed" role="button">
                      <span class="schedule-time accent">
                        {{ entry.hours }}<sup>{{ entry.mins }}</sup>
                      </span>
                      <h4 class="accordion-title">{{ entry.title }}</h4>
                    </a>
                  </div>
                </li>
              {% endif %}
            </ul>
          {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
