---
layout: legacy
metaDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /legacy/index.html
custom_js:
- homepage.bundle.js
---

{% include legacy/header.html %}

{% include legacy/navigation.html %}

<div class="container content">

  {% include legacy/about.html %}

  {% include legacy/cfp.html %}

  {% include legacy/speakers.html year="2018" %}

  {% include legacy/location.html %}

  {% include legacy/hotels.html %}

  {% include legacy/registration.html %}

  {% include legacy/sponsors.html %}

  {% include legacy/organizers.html %}

  {% include legacy/slack-invite.html %}

  {% include legacy/footer.html %}

</div>
