<div class="cfp">
  <div class="cfp__row">
    <div class="container">
      <div class="cfp__row--top-right">
        <div class="block__heading--dark">
          DEVit speakers
        </div>
        <p class="block__paragraph--dark">
          David sought my help because of chronic feels of inner emptiness. David is very good in his work, has a good marriage and
          two adult children. Like Vera, everything seemed fine.
        </p>
        <button class="block__cta">All past speakers</button>
      </div>
      <div class="cfp__row--top-left">
        <div class="cfp__speaker-top">
          <img class="speaker__avatar" src="/assets/images/speakers/2015/Christian_Heilmann.jpg" alt="Speaker one">
          <div class="speaker__name">
            Christian Heilmann
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cfp__row cfp__row--orange">
    <div class="container">
      <div class="cfp__row--bottom-left">
        <div class="cfp__speaker-bottom">
          <div class="speaker__title">Founder and CEO</div>
          <div class="speaker__tags">
            <span class="speaker__tag">
              Frontend
            </span>
            <span class="speaker__tag">
              Backend
            </span>
            <span class="speaker__tag">
              Mobile
            </span>
            <span class="speaker__tag">
              Will work for bananas
            </span>
          </div>
          <div class="speaker__social">
            <a href="#" class="speaker__social__item fab fa-facebook-f"></a>
            <a href="#" class="speaker__social__item fab fa-twitter"></a>
            <a href="#" class="speaker__social__item fab fa-github"></a>
          </div>
        </div>
      </div>
      <div class="cfp__row--bottom-right">
        <div class="block__heading">
          Join the family
        </div>
        <p class="block__paragraph">
          We are always on the look for new, gifted speakers. Apply to speak at DEVit and become part of our cozy little family. Wecan’t
          wait for you to blow our minds off!
        </p>
        <a href="#" class="block__more-cta">
          Apply to speak
          <i class="fas fa-long-arrow-alt-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
