{% assign speaker = site.data.speakers.2018.speakers[2] %}

<div class="cfp">
  <div class="cfp__row">
    <div class="container">
      <div class="cfp__row--top-right">
        <div class="block__heading--dark">
          Our speakers
        </div>
        <p class="dark">
          Each year we meticulously vet and select remarkable speakers to deliver the best talks on web development.
        </p>
        <a href="all-speakers" class="block__cta">All past speakers</a>
      </div>
      <div class="cfp__row--top-left">
        <div class="cfp__speaker-top">
          <a class="speaker__avatar" href="/speakers/{{speaker.url}}">
            <img
              class="lazy"
              src="/assets/images/new/placeholder-profile-photo.svg"
              data-src="/assets/images/speakers/{{speaker.year}}/{{ speaker.image_filename }}"
              alt="{{ speaker.first_name }} {{ speaker.last_name }}">
          </a>
          <a class="speaker__name" href="/speakers/{{speaker.url}}">
            <span>
              {{ speaker.first_name }} {{ speaker.last_name }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="cfp__row cfp__row--orange">
    <div class="container">
      <div class="cfp__row--bottom-left">
        <div class="cfp__speaker-bottom">
          <div class="speaker__title">{{ speaker.tagline | truncate: 60 }}</div>
          {% include components/tags.html tags=speaker.tags %}
          {% include components/speaker-social.html social=speaker.social %}
        </div>
      </div>
      <div class="cfp__row--bottom-right">
        <div class="block__heading">
          Interested in speaking?
        </div>
        <p class="light">
          {% if site.data.config.isCFPOpen %}
            Hear our call!
          {% else %}
            Even though we do not have an open call for papers, we are always looking to meet gifted speakers.
          {% endif %}
          If you are interested in speaking in the next edition of DEVit, feel free to fill this form.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{ site.data.config.CFPlink }}"
          class="block__more-cta">
            Apply to talk
          <i class="fas fa-long-arrow-alt-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
