<div class="cfs">
  <div class="cfs__container text-center">
    <div class="block__heading--dark">
      Sponsors through the years
    </div>
    <div class="block__paragraph--dark">
      The popularity of breakfast foods is a good reason to keep dependable starters, such as eggs, bread and other staples, on hand.
    </div>
    <div class="sponsors">
      <div class="sponsors__row">
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/microsoft.svg" alt="">
        </div>
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/toptal.svg" alt="">
        </div>
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/trivago.svg" alt="">
        </div>
      </div>
      <div class="sponsors__row">
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/github.svg" alt="">
        </div>
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/automattic.svg" alt="">
        </div>
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/ibm.svg" alt="">
        </div>
      </div>
      <div class="sponsors__row">
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/taxibeat.svg" alt="">
        </div>
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/skroutz.svg" alt="">
        </div>
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/workable.svg" alt="">
        </div>
      </div>
      <div class="sponsors__row">
        <div class="sponsors__item"></div>
        <div class="sponsors__item">
          <img src="/assets/images/sponsors/svg/efoodgr.svg" alt="">
        </div>
        <div class="sponsors__item"></div>
      </div>
    </div>
    <button class="block__cta">
      Apply to sponsor
    </button>
  </div>
</div>
