<div class="cfs">
  <div class="cfs__container text-center">
    <div class="block__heading--dark">
      Sponsors through the years
    </div>
    <div class="block__paragraph--dark">
      The popularity of breakfast foods is a good reason to keep dependable starters, such as eggs, bread and other staples, on hand.
    </div>
    <div class="cfs__sponsors">
      <img src="/assets/images/sponsors/microsoft.png" alt="">
      <img src="/assets/images/sponsors/toptal.png" alt="">
      <img src="/assets/images/sponsors/trivago.png" alt="">
      <!-- <img src="/assets/images/sponsors/github.png" alt="">
      <img src="/assets/images/sponsors/automattic.png" alt="">
      <img src="/assets/images/sponsors/ibm.png" alt="">
      <img src="/assets/images/sponsors/taxibeat.png" alt="">
      <img src="/assets/images/sponsors/skroutz.png" alt="">
      <img src="/assets/images/sponsors/workable.png" alt="">
      <img src="/assets/images/sponsors/efoodgr.png" alt=""> -->
    </div>
    <button class="block__cta">
      Apply to sponsor
    </button>
  </div>
</div>
