<div class="cfs">
  <div class="cfs__container text-center">
    <div class="block__heading--dark">
      Sponsors through the years
    </div>
    <p class="dark">
      The popularity of breakfast foods is a good reason to keep dependable starters, such as eggs, bread and other staples, on hand.
    </p>
    {% include components/icons-stack.html items=site.data.homepage.sponsors %}
    <a href="mailto:hello@devitconf.org?Subject=We%20would%20like%20to%20sponsor%20DEVit" class="block__cta">
      Contact us
    </a>
  </div>
</div>
