<!-- Stay -->
<div>
  <div class="block-stay text-center">
    <h2 class="block__heading--dark">Stay</h2>
    <p class="dark">The popularity of breakfast foods is a good reason to keep dependable starters, such as eggs, bread and other staples,
    on hand.</p>
</div>
</div>

<div class="destinations">

  <!-- Park Hotel -->
  <div class="destinations__panel destinations__image"></div>
  <div class="destinations__panel">
    <h2 class="block__heading--dark">Park Hotel</h2>
    <p class="dark">
      Ionos Dragoumi 81, 54630 Thessaloniki
      <br> +30 2310 524121
      <br>
      <a href="#">www.parkhotel.com.gr</a>
    </p>
  </div>
  <div class="destinations__panel">
    <strong>Room type</strong>
    Single bed <br />
    Double bed <br />

    <strong>Price/night</strong>
    €55<br />
    €66<br />

    <div>
      <small>* In order to take advantage of the exclusive rates for DEVit, you will need to directly contact Park hotel and mention
        you are a DEVit attendee. * Excluding €1.5 overnight stay tax.</small>
    </div>
  </div>
  <div class="destinations__panel destinations__image"></div>

  <!-- Testimonials -->
  <div class="destinations-testimonials" style="display: block; width: 100%;">
    <p>Thanks #devitconf for having us! Awesome first impression of Greece. To all new friends, feel free to connect :)</p>
    <p>- Rita Zhang 2017</p>
  </div>

  <!-- Visit -->
  <div class="destinations__panel destinations__image"></div>
  <div class="destinations__panel">
    <h2 class="block__heading--dark">Visit</h2>
    <p>The popularity of breakfast foods is a good reason to keep dependable starters, such as eggs, bread and other staples,
      on hand.</p>
  </div>
  <div class="destinations__panel destinations__image"></div>
  <div class="destinations__panel destinations__image"></div>

  <!-- Experience -->
    <div class="destinations__panel">
      <h2 class="block__heading--dark">Experience</h2>
      <p>The popularity of breakfast foods is a good reason to keep dependable starters, such as eggs, bread and other staples,
        on hand.</p>
    </div>
    <div class="destinations__panel destinations__image"></div>
    <div class="destinations__panel destinations__image"></div>
    <div class="destinations__panel destinations__image"></div>
  </div>
</div>
