<div class="index-item">
  <div class="index-item__container">
    <div class="index-item__left">
      <img class="index-item__img" src="/assets/images/new/devitweek.svg" alt="DEVit week logo with two pints of beer and two pizza slices">
    </div>
    <div class="index-item__right">
      <div class="block__heading--dark text-left">
        DEVit Week
      </div>
      <p class="dark">
        Each day there will be multiple meetups, gatherings and events, accompanied by our international speakers.
      </p>
      <a style="color: #57585A;" href="/devit-week" class="block__more-cta">
        See the schedule
        <i class="fas fa-long-arrow-alt-right"></i>
      </a>
    </div>
  </div>
</div>
