
{% capture text %}
  Each year we grow bigger. This year we introduce the DEVit week.
  Our local communities have grown strong and are ready to celebrate the biggest technological event of the year with a full week of festivities.
  Each day there will be multiple meetups, gatherings and events, accompanied by our international speakers.
  As the conference grows so do our budgets, this allows us to host the international speakers for longer periods of time maximizing their impact
  on the local community and creating new, international bonds that open up new opportunities and knowledge sharing on all the levels.
{% endcapture %}


{% include components/index-item.html
    title="DEVit Week" text=text
    image_url="/assets/images/new/devitweek.svg"
    image_alt="DEVit week logo with two pints of beer and two pizza slices"
    link_url="/devit-week"
    link_text="DEVit week"
%}
