<div class="early-birds">
  <div class="early-birds__left">
    <img class="early-birds__img" src="/assets/images/new/tickets.svg" alt="Early birds tickets">
  </div>
  <div class="early-birds__right">
    <div class="block__heading--dark">
      Early bird are out!
    </div>
    <div class="block__paragraph--dark">
      It is a small world after all. Globalization is that great process that started perhaps with Mr. Marco Polo, but has since regained its prestige after a short stint of protectionism following the great depression.
    </div>
    <button class="block__cta">Buy tickets</button>
  </div>
</div>
