<footer class="footer">
  <div class="footer__container">
    <img class="footer__logo" src="/assets/images/logo/white/logo.svg" alt="DEVit logo">
    <div class="footer-row">
      <div class="footer-row__column">
        <div class="footer-menu">
          <div class="footer-menu__header">
            ABOUT US
          </div>
          <ul class="footer-menu__list">
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://medium.com/devitconf">Blog</a>
            </li>
            <li>
              <a href="/press">Press</a>
              </li>
            <li>
              <a href="/code-of-conduct">Code of Conduct</a>
              </li>
          </ul>
        </div>
      </div>
      {% if site.data.config.currentMode != 'nextblind' %}
        <div class="footer-row__column">
          <div class="footer-menu">
            <div class="footer-menu__header">
              DEVit {{site.data.config.currentYear}}
            </div>
            <ul class="footer-menu__list">
              {% if site.data.config.tickets.enabled %}
              <li>
                <a target="_blank" rel="noopener" href="{{ site.data.config.tickets.url }}">Buy tickets</a>
              </li>
              {% endif %}
              <li>
                <a href="/schedule">Schedule</a>
              </li>
              <li>
                <a href="/devit-week">DEVit Week</a>
              </li>
              <li>
                <a href="/#speakers">Speakers</a>
              </li>
              <li>
                <a href="/#sponsors">Sponsors</a>
              </li>
              <li>
                <a href="/#venue">Venue</a>
              </li>
              <li>
                <a href="/talks">Talks</a>
              </li>
              <li>
                <a href="/workshops">Workshops</a>
              </li>
            </ul>
          </div>
        </div>
      {% endif %}
      <div class="footer-row__column">
        <div class="footer-menu">
          <div class="footer-menu__header">
            PAST
          </div>
          <ul class="footer-menu__list">
            <li>
              <a href="http://devitconf.org/2018">DEVit 2018</a>
            </li>
            <li>
              <a href="http://devitconf.org/2017">DEVit 2017</a>
            </li>
            <li>
              <a href="http://devitconf.org/2016">DEVit 2016</a>
            </li>
            <li>
              <a href="http://devitconf.org/2015">DEVit 2015</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-row__column">
        <div class="footer-menu">
          <div class="footer-menu__header">
            Social
          </div>
          <ul class="social-icons">
            <li>
              <a target="_blank" rel="noopener" href="https://www.facebook.com/DEVitConf" class="fab fa-facebook-f"></a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://twitter.com/devitconf" class="fab fa-twitter"></a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCrKmMv6c6oqZPYC7zzbP-RQ" class="fab fa-youtube"></a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.instagram.com/devitconf/" class="fab fa-instagram"></a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/11399285/" class="fab fa-linkedin"></a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.medium.com/@devitconf" class="fab fa-medium"></a>
            </li>
          </ul>
          <div class="footer-menu__header">
            <i class="fab fa-slack"></i> Slack
            <form class="slack-form" method="post" action="#">
              <div class="input-group">
                <input name="email" type="email" class="slack-field" placeholder="Enter your email">
                <span class="input-group-btn">
                  <button class="slack-submit" type="submit">
                    <i class="fas fa-long-arrow-alt-right"></i>
                  </button>
                </span>
              </div>
              <div class="slack-form__results"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <span class="copyrights__text">© 2019</span>
      <a class="copyrights__link" href="https://github.com/skgtech/devit/graphs/contributors" target="_blank" rel="noopener">SKGTech Contributors</a><span class="copyrights__text">, Licensed under</span>
      <a class="copyrights__link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">Creative Commons 4.0</a>
    </div>
  </div>
</footer>
