<footer class="footer">
  <div class="footer__container">
    <img class="footer__logo" src="/assets/images/new/devit-logo-white.svg" alt="DEVit logo">
    <div class="footer-row">
      <div class="footer-row__column">
        <div class="footer-menu">
          <div class="footer-menu__header">
            DEVit
          </div>
          <ul class="footer-menu__list">
            <li>
              <a href="/blog">Buy tickets</a>
              </li>
            <li>
              <a href="/blog">Speakers</a>
              </li>
            <li>
              <a href="/blog">Workshops</a>
              </li>
            <li>
              <a href="/blog">Schedule</a>
              </li>
            <li>
              <a href="/blog">Press</a>
              </li>
            <li>
              <a href="/blog">Discover Thessaloniki</a>
              </li>
            <li>
              <a href="/blog">Apply to speak</a>
              </li>
            <li>
              <a href="/blog">Apply to sponsor</a>
              </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-row__column">
        <div class="footer-menu">
          <div class="footer-menu__header">
            devit
          </div>
          <ul class="footer-menu__list">
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Code of Conduct</a>
            </li>
            <li>
              <a href="http://devitconf.org/2017">DEVit 2017</a>
            </li>
            <li>
              <a href="http://devitconf.org/2016">DEVit 2016</a>
            </li>
            <li>
              <a href="http://devitconf.org/2015">DEVit 2015</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-row__column">
        <div class="footer-menu">
          <div class="footer-menu__header">
            Blah
          </div>
          <ul class="footer-menu__list">
            <li>
              <a href="http://devitconf.org/2017">Something</a>
            </li>
            <li>
              <a href="http://devitconf.org/2017">Something</a>
            </li>
            <li>
              <a href="http://devitconf.org/2017">Something</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-row__column">
        <div class="footer-menu">
          <div class="footer-menu__header">
            Social
          </div>
          <ul class="social-icons">
            <li>
              <a target="_blank" href="https://www.facebook.com/DEVitConf" class="fab fa-facebook-f"></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/devitconf" class="fab fa-twitter"></a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/channel/UCrKmMv6c6oqZPYC7zzbP-RQ" class="fab fa-youtube"></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/devitconf/" class="fab fa-instagram"></a>
            </li>
            <li>
              <a target="_blank" href="https://www.linkedin.com/company/11399285/" class="fab fa-linkedin"></a>
            </li>
            <li>
              <a target="_blank" href="https://www.medium.com/@devitconf" class="fab fa-medium"></a>
            </li>
          </ul>
          <div class="footer-menu__header">
            <i class="fab fa-slack"></i> Slack
            <form class="slack-form">
              <div class="input-group">
                <input name="email" type="email" class="slack-field" placeholder="Enter your email">
                <span class="input-group-btn">
                  <button class="slack-submit" type="submit">
                    <i class="fas fa-long-arrow-alt-right"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <span class="copyrights__text">© 2017</span>
      <a class="copyrights__link" href="https://github.com/skgtech/devit/graphs/contributors" target="_blank">SKGTech Contributors</a><span class="copyrights__text">, Licensed under</span>
      <a class="copyrights__link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons 4.0</a>
    </div>
  </div>
</footer>
