<div class="hero">
  <nav class="hero-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="hero-menu">
          <li>
            <a class="hero-menu__link" href="#">About</a>
          </li>
          <li>
            <a class="hero-menu__link" href="#">Speakers</a>
          </li>
          <li>
            <a class="hero-menu__link" href="#">Venue</a>
          </li>
          <li>
            <a class="hero-menu__link--cta" href="#" class="cta">Buy tickets</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <img class="hero__logo" src="/assets/images/DevitLogo.svg" alt="DEVit logo">
  <h1 class="hero__headline">JUN 9, 2018</h1>
</div>
