<div class="hero home-header">
  {% include blocks/menu.html %}
  <video playsinline autoplay muted loop poster="/assets/video-frame.jpg" id="background-video">
    <source src="/assets/video.webm" type="video/webm">
    <source src="/assets/video.mp4" type="video/mp4">
  </video>
  <img class="hero__logo" src="/assets/images/logo/white/logo.svg" alt="DEVit logo">
  {% if site.data.config.currentMode == 'nextday' %}
    <h1 class="hero__headline hero__headline--light">Thank you for being part of DEVit 2020 ❤️</h1>
  {% else %}
    <h1 class="hero__headline">{{site.data.config.date}}</h1>
    <h2 class="hero__location">Thessaloniki, Greece</h2>
  {% endif %}
</div>
