<nav class="main-navbar sticky">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-brand {% if page.url == "/index.html" %}navbar-brand--hidden{% endif %}">
      <a href="/" class="navbar-logo"></a>
      <div class="navbar-date">
        {% if site.data.config.currentMode != 'nextday' %}
          <span class="navbar-date__date">{{site.data.config.date}}</span><br/>
          <span class="navbar-date__place">Thessaloniki, Greece</span>
        {% endif %}
      </div>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="main-menu">
        {% if site.data.config.currentMode == 'nextblind' %}
          <li>
            <a class="main-menu__link" target="_blank" rel="noopener" href="https://medium.com/devitconf">Blog</a>
          </li>
          <li>
            <a class="main-menu__link" href="/press">Press</a>
          </li>
        {% endif %}
        <!--<li>
          Read speakers size from data and decide to show this or not
          <a class="main-menu__link" href="/#speakers">Speakers</a>
        </li> -->
        <!-- <li>
          <a class="main-menu__link" href="/#photos">Photos</a>
        </li> -->
        <li>
          <a class="main-menu__link" href="/#venue">Venue</a>
        </li>
        <!-- <li>
          <a class="main-menu__link" href="/devit-week">DEVit Week</a>
        </li> -->
        <!-- <li>
          <a class="main-menu__link" href="/schedule">Schedule</a>
        </li> -->
        <!-- <li>
          <a class="main-menu__link" href="/#sponsors">Sponsors</a>
        </li> -->
        <li>
          <a class="main-menu__link" href="/about">About</a>
        </li>
        {% if site.data.config.tickets.enabled %}
          <li>
            <a class="main-menu__link--cta cta" href="{{ site.data.config.tickets.url }}">Buy tickets</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
