<div class="partners">
  <div class="container">
    <div class="block {% if include.center == true %}text-center{% endif %}">
      <div class="block__heading--dark">
        Our partners
      </div>
      <p>
        We are lucky to have partnered with a lot of organizations across Thessaloniki. We want to thank them for helping us with DEVit every year
      </p>
      <div class="partners__container">
        {% include components/icons-stack.html items=site.data.team.partners %}
      </div>
    </div>
  </div>
</div>
