{% assign year = include.year %}

<div class="album" id="photos">
  <div class="block container text-center">
    <div class="block__heading--dark">
      The photo album
    </div>
    <p class="dark">
      We have released the photos of DEVit {{ year }}.
    </p>
  </div>
  <div class="album__row">
    <div class="album__one">
      <img class="album__img" src="/assets/images/albums/{{year}}/ph-342x342-1.jpg" alt="">
    </div>
    <div class="album__one">
      <img class="album__img" src="/assets/images/albums/{{year}}/ph-342x342-4.jpg" alt="">
    </div>
    <div class="album__two">
      <div class="album__cta">
        <div class="album__cta__heading">
          Tag you very much
        </div>
        <div class="album__cta__paragraph">
          Tag your self and your friends.
        </div>
        <a href="{{ site.data.previous[year].album }}" target="_blank" rel="noopener noreferrer" class="album__cta__button">Go</a>
      </div>
      <img class="album__img" src="/assets/images/albums/{{year}}/ph-683x342-1.jpg" alt="">
    </div>
  </div>
  <div class="album__row">
    <div class="album__one">
      <img class="album__img" src="/assets/images/albums/{{year}}/ph-342x342-3.jpg" alt="">
    </div>
    <div class="album__two">
      <img class="album__img" src="/assets/images/albums/{{year}}/ph-683x342-2.jpg" alt="">
    </div>
    <div class="album__one">
      <img class="album__img" src="/assets/images/albums/{{year}}/ph-342x342-2.jpg" alt="">
    </div>
  </div>
</div>
{% if site.data.previous[year].video %}
<div class="video-moments">
  <div class="container">
    <div class="block__heading--light">
      {{year}} moment videos
    </div>
    <p class="light">
      We have released the photos of the last DEVit. We have released the photos of the last DEVit. We have released the photos of the last DEVit.
    </p>
    <a href="{{ site.data.previous[year].video }}" target="_blank" rel="noopener noreferrer" class="watch__cta__button">Watch it now!</a>
  </div>
</div>
{% endif %}
