<div class="plan-block text-center">
  <div class="container">
    <h2 class="block__heading">Plan your stay at Thessaloniki</h2>
    <p class="">
      Lonely Planet has described Thessaloniki as “easy to fall in love with – it has beauty, chaos, history and culture, a remarkable cuisine and wonderful, vast sea views.” Discover hotel options, attractions, things to do and combine your visit with a memorable experience.
    </p>
    <a href="/explore-thessaloniki" class="block__more-cta">Find out more
      <i class="fas fa-long-arrow-alt-right"></i>
    </a>
  </div>
</div>
