
<div class="index-item">
  <div class="index-item__container">
    <div class="index-item__left">
      <div class="block__heading--dark text-left">
         Schedule
      </div>
      <p class="dark">
        Workshops are scheduled on June 9, and they are available for separate registration.
        The main conference talks are on June 10.
      </p>
      <a style="color: #57585A;" href="/schedule" class="block__more-cta">
        See the schedule
        <i class="fas fa-long-arrow-alt-right"></i>
      </a>
    </div>
    <div class="index-item__right" style="text-align: center">
      <img style="width:60%" class="index-item__img" src="/assets/images/new/calendar.svg" alt="DEVit calendar logo">
    </div>
  </div>
</div>
