{% assign speakers = "" | split: "" %}
{% assign years = include.years | split: ',' %}
{% for year in years %}
  {% for speaker in site.data.speakers[year].speakers %}
    {% assign speakers = speakers | push: speaker %}
  {% endfor %}
{% endfor %}

<div class="block">
  <div class="container text-center">
    <div class="block__heading--dark">
      Our beloved speakers
    </div>
    <div class="block__paragraph--dark">
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
      ipsum Lorem ipsum
    </div>
  </div>
</div>
<div class="speakers-list">
  {% for speaker in speakers | sort: 'last_name' %}
    <div class="speakers-list__item">
      {% include components/speaker.html speaker=speaker %}
    </div>
  {% endfor %}
</div>
