{% if site.data.team.partners.size > 0 %}
<div id="sponsors" class="cfs">
  <div class="cfs__container text-center">
    <div class="block__heading--dark">
      Our sponsors
    </div>
    <p class="dark">
      Thanks to all our sponsors for supporting us.
    </p>

    <div class="cfs__sponsors">
      {% assign year = site.data.config.currentYear %}

      {% assign platinumSponsors = site.data.sponsors[year].platinum %}
      {% if platinumSponsors %}
        <div class="cfs__title">Platinum</div>
        {% include
          components/icons-stack.html
          items=platinumSponsors
        %}
      {% endif %}

      {% assign goldSponsors = site.data.sponsors[year].gold %}
      {% if goldSponsors %}
        <div class="cfs__title">Gold</div>
        {% include
          components/icons-stack.html
          items=goldSponsors
        %}
      {% endif %}

      {% assign silverSponsors = site.data.sponsors[year].silver %}
      {% if silverSponsors %}
        <div class="cfs__title">Silver</div>
        {% include
          components/icons-stack.html
          items=silverSponsors
        %}
      {% endif %}

      {% assign bronzeSponsors = site.data.sponsors[year].bronze %}
      {% if bronzeSponsors %}
        <div class="cfs__title">Bronze</div>
        {% include
          components/icons-stack.html
          items=bronzeSponsors
        %}
      {% endif %}

      {% assign mediaSponsors = site.data.sponsors[year].media %}
      {% if mediaSponsors %}

        <div class="cfs__title">Media</div>
        {% include
          components/icons-stack.html
          items=mediaSponsors
        %}
      {% endif %}
    </div>

    {% if site.data.config.sponsors.cfs %}
      <a href="{{ site.data.config.sponsors.link_to_sponsorship }}" class="block__cta">
        Apply to sponsor
      </a>
    {% endif %}
  </div>
</div>
{% endif %}
