<div class="subscribe-block text-center">
  <div class="container">
    <h2 class="block__heading">Stay in the loop</h2>
    <p class="subscribe-block__paragraph">
      Get notified about new speaker announcements and get news updates straight to your inbox.
    </p>

    <form class="subscribe-form" action="//datablaster.us2.list-manage.com/subscribe/post-json?u=249dbe460c3c1857a489dde05&amp;id=faa2000c02" method="get">
      <input name="FNAME" type="text" class="subscribe-name-field" placeholder="First name">
      <div class="input-group">
        <input name="EMAIL" type="email" class="subscribe-email-field" placeholder="Email">
        <span class="input-group-btn">
          <button class="subscribe-submit" type="submit">Submit <i class="fas fa-long-arrow-alt-right"></i></button>
        </span>
      </div>
      <p class="subscribe-result"></p>
    </form>
  </div>
</div>
