<div id="subscribe" class="subscribe-block text-center">
  <div class="container">
    <h2 class="block__heading">Stay informed</h2>
    <p class="leading">
      Register for our newsletter and stay informed about our latest news.
    </p>
    <p>
      Special Offers are available exclusively to our newsletter subscribers.
    </p>

    <form class="subscribe-form" action="#" method="get">
      <input type="hidden" value="signup" name="SOURCE">
      <input type="hidden" value="" name="REF_SOURCE" class="js-signup-ref-source">
      <input name="FNAME" type="text" class="subscribe-name-field" placeholder="First name">
      <div class="input-group">
        <input name="EMAIL" type="email" class="subscribe-email-field" placeholder="Email">
        <span class="input-group-btn">
          <button class="subscribe-submit" type="submit">Submit <i class="fas fa-long-arrow-alt-right"></i></button>
        </span>
      </div>
      <p class="subscribe-result hidden"></p>
    </form>
  </div>
</div>
