<div class="ticketing">
  <link rel="stylesheet" type="text/css" href="https://pretix.eu/devitconf/devit2020/widget/v1.css">
  <script type="text/javascript" src="https://pretix.eu/widget/v1.en.js" async></script>
  <pretix-widget event="https://pretix.eu/devitconf/devit2020/"></pretix-widget>
  <noscript>
    <div class="pretix-widget">
      <div class="pretix-widget-info-message">
        JavaScript is disabled in your browser. To access our ticket shop without JavaScript, please <a target="_blank" rel="noopener" href="https://pretix.eu/devitconf/devit2020/4026/">click here</a>.
      </div>
    </div>
  </noscript>

  <small>
    <b>Cancellations & Refunds</b>

    <p>Given the nature of the event, we do not offer a refund for ticket cancellations within 10 days of the event. If you would like to request a refund you can do so by using our contact form and refer to the order ID.</p>

    <p>The refund equals the ticket deposit minus the processing fees and a €5 fixed cancellation fee. The later will be wired back to your respective payment provider (i.e. Paypal or Card). </p>
  </small>

</div>
