<div class="tweets">
  <div class="tweets__container">
    <ul id="autoWidth" class="cs-hidden">
      <li class="tweet-item">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">RFC 968 is one of my favs. &quot;Twas the Night Before Start-up&quot; Enjoy!<a href="https://t.co/VQuUqTx9Sq">https://t.co/VQuUqTx9Sq</a></p>&mdash; Ian Philpot 🤙🏻 Casual Delivery (@tripdubroot)<a href="https://twitter.com/tripdubroot/status/944962092343463936?ref_src=twsrc%5Etfw">December 24, 2017</a></blockquote>
      </li>
      <li class="tweet-item">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Friends with a Switch, DM me your Nintendo friend code thing</p>&mdash; Nicolas (@necolas) <a href="https://twitter.com/necolas/status/945329056853188609?ref_src=twsrc%5Etfw">December 25, 2017</a></blockquote>
      </li>
      <li class="tweet-item">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">RFC 968 is one of my favs. &quot;Twas the Night Before Start-up&quot; Enjoy!<a href="https://t.co/VQuUqTx9Sq">https://t.co/VQuUqTx9Sq</a></p>&mdash; Ian Philpot 🤙🏻 Casual Delivery (@tripdubroot)<a href="https://twitter.com/tripdubroot/status/944962092343463936?ref_src=twsrc%5Etfw">December 24, 2017</a></blockquote>
      </li>
      <li class="tweet-item">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Friends with a Switch, DM me your Nintendo friend code thing</p>&mdash; Nicolas (@necolas) <a href="https://twitter.com/necolas/status/945329056853188609?ref_src=twsrc%5Etfw">December 25, 2017</a></blockquote>
      </li>
    </ul>
    <button class="block__cta">Go to twitter</button>
  </div>
 

  <ul id="lightSlider">
    <li>
        <h3>First Slide</h3>
        <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
    </li>
    <li>
        <h3>Second Slide</h3>
        <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
    </li>
  
  </ul>

  <!-- <script type="text/javascript">
    $(document).ready(function() {
      $("#lightSlider").lightSlider(); 
    });
  </script> -->

</div>
