

 <div class="tweets">
  <div class="tweetsSlider"> 

    <div><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The <a href="https://twitter.com/devitconf?ref_src=twsrc%5Etfw">@devitconf</a> team is usually referring to the core team, which are people that have been around since day one, and the volunteers (practically we are all volunteers) which are newcomers and have been involved somehow with the operations that consist a DEVit event.</p>&mdash; Kostas Bariotis (@kbariotis) <a href="https://twitter.com/kbariotis/status/1007003565855035393?ref_src=twsrc%5Etfw">June 13, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

  <div><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The <a href="https://twitter.com/devitconf?ref_src=twsrc%5Etfw">@devitconf</a> team is usually referring to the core team, which are people that have been around since day one, and the volunteers (practically we are all volunteers) which are newcomers and have been involved somehow with the operations that consist a DEVit event.</p>&mdash; Kostas Bariotis (@kbariotis) <a href="https://twitter.com/kbariotis/status/1007003565855035393?ref_src=twsrc%5Etfw">June 13, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

    <div><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The <a href="https://twitter.com/devitconf?ref_src=twsrc%5Etfw">@devitconf</a> team is usually referring to the core team, which are people that have been around since day one, and the volunteers (practically we are all volunteers) which are newcomers and have been involved somehow with the operations that consist a DEVit event.</p>&mdash; Kostas Bariotis (@kbariotis) <a href="https://twitter.com/kbariotis/status/1007003565855035393?ref_src=twsrc%5Etfw">June 13, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

    <div><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The <a href="https://twitter.com/devitconf?ref_src=twsrc%5Etfw">@devitconf</a> team is usually referring to the core team, which are people that have been around since day one, and the volunteers (practically we are all volunteers) which are newcomers and have been involved somehow with the operations that consist a DEVit event.</p>&mdash; Kostas Bariotis (@kbariotis) <a href="https://twitter.com/kbariotis/status/1007003565855035393?ref_src=twsrc%5Etfw">June 13, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

    <div><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The <a href="https://twitter.com/devitconf?ref_src=twsrc%5Etfw">@devitconf</a> team is usually referring to the core team, which are people that have been around since day one, and the volunteers (practically we are all volunteers) which are newcomers and have been involved somehow with the operations that consist a DEVit event.</p>&mdash; Kostas Bariotis (@kbariotis) <a href="https://twitter.com/kbariotis/status/1007003565855035393?ref_src=twsrc%5Etfw">June 13, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
  </div>
    <button class="block__cta">Go to twitter</button>

</div>

    

 

</div>


 <script type="text/javascript">
$(document).on('ready', function () {
   $('.tweetsSlider').slick({
  centerMode: true,
  centerPadding: '60px',
  autoplay: true,
  autoplaySpeed: 2000,
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
});


  
  </script>