{% if site.data.config.venuesConfirmed.workshop or site.data.config.venuesConfirmed.talks %}
<div id="venue" class="venues text-center">
  <h2 class="block__heading--dark">The Venues</h2>
  {% if site.data.config.venuesConfirmed.workshop %}
  <div class="venue">
    <div class="venue__title">
      CITY College, International Faculty of the University of Sheffield, Sunday May 31
    </div>
    <div class="venue__for">
      Workshops
    </div>
    <div class="venue__description">
      Sunday, 31st of May will be a day dedicated to workshops, with at least 11 sessions of various topics to choose from. It will be hosted at CITY College, International Faculty of the University of Sheffield, which offers multiple academic classrooms, an ideal space for the purpose of delivering a hands-on session.
    </div>
    <div class="venue__container">
      <div class="venue__map">
        <div class="map" data-long="40.6373756" data-lat="22.9370313"></div>
      </div>
      {% responsive_image path: assets/images/venues/citycollege.jpg template: _includes/responsive/venue.html %}
    </div>
  </div>
  {% endif %}
  {% if site.data.config.venuesConfirmed.talks %}
  <div class="venue">
    <div class="venue__title">
      Royal Theatre, Monday Jun 01
    </div>
    <div class="venue__for">
        Talks
      </div>
    <div class="venue__description">
      Monday, 1st of June will be a day dedicated to presentations, with a single track of 8 speakers. It will be hosted at the iconic Royal Theater of Thessaloniki, a spacious theatrical venue with a capacity of 683 people located at the heart of Thessaloniki, right next to the historic White Tower by the seaside.
    </div>
    <div class="venue__container">
        {% responsive_image path: assets/images/venues/royal_theatre.jpg template: _includes/responsive/venue.html %}
      <div class="venue__map">
        <div class="map" data-long="40.6252233" data-lat="22.9495758"></div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}

{% include blocks/plan.html %}
