
<div class="visit">
  <a href="https://thessaloniki.gr/i-want-to-know-the-city/discover/the-waterfront-of-thessaloniki/?lang=en" title="Thessaloniki Waterfront" target="_blank" class="destinations__panel destinations__image destinations__image--park"></a>
  <div class="destinations__panel">
    <div>
      <h2 class="block__heading--dark">Visit</h2>
      <p class="dark">
        Get lost in the narrow streets of the town, or be out in the <br>
        open near the sea. Whatever you choose Thessaloniki has to <br>offer plenty of choices with things to see and do.
      </p>
    </div>
  </div>
</div>


<div class="visit">
  <a href="https://www.wikiwand.com/en/Aristotelous_Square" title="Aristotelous Square" target="_blank" class="visit__mosaic_big destinations__image destinations__image--aristotelous"></a>
  <a href="http://www.visitgreece.gr/en/culture/monuments/the_white_tower" title="White Tower of Thessaloniki
" target="_blank" class="visit__mosaic_small destinations__image destinations__image--thess1"></a>  
</div>


<div class="experience">
   <div class="destinations__panel">
    <div>
      <h2 class="block__heading--dark">Experience</h2>
      <p class="dark">
        See the history of the town unravel through the numerous museums <br> 
        and eat amazing local Greek food. Don't forget to see the sunset, <br> it will be on your trip's highlights!
      </p>
    </div>
  </div>
  <a href="https://www.amth.gr/en" title="Archaeological Museum of Thessaloniki" target="_blank" class="destinations__panel  destinations__image--museum"></a>
</div>

<div class="visit">
  <a href="https://thessaloniki.gr/i-want-to-know-the-city/discover/the-waterfront-of-thessaloniki/?lang=en" title="Thessaloniki Waterfront" target="_blank" class="visit__mosaic_small destinations__image destinations__image--vendor"></a>
  <a href="https://thessaloniki.gr/i-want-to-know-the-city/discover/the-waterfront-of-thessaloniki/?lang=en" title="Thessaloniki Waterfront" target="_blank" class="visit__mosaic_big destinations__image destinations__image--beach"></a>  
</div>