
<div class="visit">
  <div class="destinations__panel destinations__image destinations__image--chalkdiki1"></div>
  <div class="destinations__panel">
    <div>
      <h2 class="block__heading--dark">Visit</h2>
      <p class="dark">
        Swim in the crystal clear waters of <a href="https://www.wikiwand.com/en/Chalkidiki" target="_blank">Chalkidiki</a>, just 40 minutes away<br>
        from the city center. Discover the history of Thessaloniki through <br>
        the numerous churches and archeological sites like <br>
        <a href="http://www.visitgreece.gr/en/culture/monuments/the_white_tower" target="_blank">The White Tower</a> and 
        <a href="https://www.wikiwand.com/en/Aristotelous_Square" target="_blank">Artistotelous Square.</a>
      </p>
    </div>
  </div>
</div>


<div class="visit">
  <div class="visit__mosaic_big destinations__image destinations__image--aristotelous"></div>
  <div class="visit__mosaic_small destinations__image destinations__image--thess1"></div>
</div>

<div class="experience">
   <div class="destinations__panel">
    <div>
      <h2 class="block__heading--dark">Experience</h2>
      <p class="dark">
        Take a gastronomy journey of Greece through the unique tastes that Thessaloniki <br>
        has to offer and immerse you self in the vibrant culture of the city. <br>
        Go for an afternoon <a href="https://theculturetrip.com/europe/greece/articles/the-best-cafes-and-coffee-shops-in-thessaloniki-greece/" target="_blank">coffee</a>, a walk near the 
        <a href="http://www.greece-is.com/on-the-waterfront/" target="_blank">Waterfront</a> 
        or go out for 
        <a href="http://www.inthessaloniki.com/en/food/by-area/ladadika" target="_blank">drinks</a>. <br>
        No matter your preferences, Thessaloniki's nightlife will not disappoint you.
  
      </p>
    </div>
  </div>
  <div class="destinations__panel  destinations__image--Untitled"></div>
</div>

<div class="visit">
  <div class="visit__mosaic_small destinations__image destinations__image--vendor"></div>
  <div class="visit__mosaic_big destinations__image destinations__image--ladadika"></div>
</div>