
<div class="visit">
  <a href="http://www.parkhotel.com.gr/" title="Park Hotel Thessaloniki" target="_blank" class="destinations__panel destinations__image destinations__image--sea1"></a>
  <div class="destinations__panel">
    <div>
      <h2 class="block__heading--dark">Visit</h2>
      <p class="dark">
        Explore Thessaloniki by night dsadas sad<br>
      </p>
    </div>
  </div>
</div>


<div class="visit">
  <a href="http://www.parkhotel.com.gr/" title="Park Hotel Thessaloniki" target="_blank" class="visit__mosaic_big destinations__image destinations__image--sea3"></a>
  <a href="http://www.parkhotel.com.gr/" title="Park Hotel Thessaloniki" target="_blank" class="visit__mosaic_small destinations__image destinations__image--sea2"></a>  
</div>


<div class="experience">
   <div class="destinations__panel">
    <div>
      <h2 class="block__heading--dark">Experience</h2>
      <p class="dark">
        Explore Thessaloniki by night dsadas sad<br>
      </p>
    </div>
  </div>
  <a href="http://www.parkhotel.com.gr/" title="Park Hotel Thessaloniki" target="_blank" class="destinations__panel  destinations__image--building2"></a>
</div>

<div class="visit">
  <a href="http://www.parkhotel.com.gr/" title="Park Hotel Thessaloniki" target="_blank" class="visit__mosaic_small destinations__image destinations__image--market1"></a>
  <a href="http://www.parkhotel.com.gr/" title="Park Hotel Thessaloniki" target="_blank" class="visit__mosaic_big destinations__image destinations__image--building1"></a>  
</div>