{% assign speaker = include.speaker %}
{% assign entry = include.entry %}

{% if speaker %}
  <div class="schedule-item__image">
    {% if speaker == "tba" %}
      <img
        class="lazy"
        src="/assets/images/new/placeholder-profile-photo.svg"
        alt="To be announced">
    {% else %}
        <ul>
          {% assign currentYear = site.data.config.currentYear %}
          {% assign speakers = site.data.talks[currentYear] | where:"title", talk.title | map: "speaker" %}
          {% for item in speakers %}
            {% assign t = site.data.speakers[currentYear].speakers | where: "url", item | first %}
            <li><a href="/speakers/{{t.url}}">
              <img
                class="lazy"
                src="/assets/images/new/placeholder-profile-photo.svg"
                data-src="/assets/images/speakers/{{year}}/{{ t.image_filename }}"
                data-speaker-url="{{ t.url }}"
                alt="{{ t.first_name }} {{ t.last_name }}">
                </a></li>
          {% endfor %}
        </ul>
    {% endif %}
  </div>
{% else %}
  <div class="schedule-item__image">
    <span>
      <i class="fas {{ entry.type }}"></i>
    </span>
  </div>
{% endif %}
