---
layout: default
title: DEVit Week
ogTitle: DEVit Week
ogDescription: Find out what we have for you the week before DEVit
permalink: /week/2017/
custom_js:
- devit-week.bundle.js
---

{% include navigation.html %}

<div class="container content">


  <section>
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="section-header">
          <h1 class="h2">DEVit Week</h1>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <p>
          Find out what we have for you the week before DEVit
        </p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="content-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#monday" data-toggle="tab">Mondey</a></li>
            <li><a href="#tuesday" data-toggle="tab">Tuesday</a></li>
            <li><a href="#wednesday" data-toggle="tab">Wednesday</a></li>
            <li><a href="#thursday" data-toggle="tab">Thursday</a></li>
            <li><a href="#friday" data-toggle="tab">Friday</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="monday">
              <ul class="accordion">
                <li class="conf-related">
                  <div class="accordion-body row">

                    <div class="col-sm-12 col-md-6">
                      <div class="map" id="map-day-1"></div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                      <h3><b>Event Title</b></h3>
                      <p>
                        Some info about the event...
                      </p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. </p>

                      <ul class="contact">
                        <li class="contact-info">
                          <em class="fa fa-map-marker color-blue"></em>
                          <a href="https://goo.gl/D2aN7H" target="_blank">
                          <span>Leof. Meg. Alexandrou,
                          <br> Thessaloniki 546 21</span>
                        </a>
                        </li>
                        <li class="contact-info">
                          <em class="fa fa-home color-blue"></em>
                          <span><a href="http://www.ntng.gr/default.aspx?lang=en-GB&amp;page=10" title="'Royal Theatre" target="blank">website</a></span>
                        </li>
                      </ul>
                    </div>
                  </div>

                </li>


              </ul>
            </div>


            <div class="tab-pane fade" id="tuesday">
              <ul class="accordion">
                <li class="conf-related">
                  <div class="accordion-body">
                    <p>Tuesday</p>
                  </div>
                </li>
              </ul>
            </div>



            <div class="tab-pane fade" id="wednesday">
              <ul class="accordion">
                <li class="conf-related">
                  <div class="accordion-body">
                    <p>Wednesday</p>
                  </div>
                </li>
              </ul>
            </div>



            <div class="tab-pane fade" id="thursday">
              <ul class="accordion">
                <li class="conf-related">
                  <div class="accordion-body">
                    <p>Thursday</p>
                  </div>
                </li>
              </ul>
            </div>



            <div class="tab-pane fade" id="friday">
              <ul class="accordion">
                <li class="conf-related">
                  <div class="accordion-body">
                    <p>Friday</p>
                  </div>
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
  </section>


  {% include footer.html %}
  </div>
