.about-block {
  @extend .block;

  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/new/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
}

.about-block__paragraph {
  @extend .block__paragraph;
  font-size: 24px;
  line-height: 29px;
}

@media (min-width: $screen-lg-min) {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 25%;
  padding-right: 25%;
}
