.about-block {
  @extend .block;

  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/new/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  color: white;

  .block__heading {
    margin-bottom: 24px;
  }

  padding-top: 7.11em;
  padding-bottom: 7.11em;
}

.team {
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

.team__item {
  display: inline-block;
  margin-left: 0;
  margin-right: 2.2em;
  margin-bottom: 2.2em;

  img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
  }

  p {
    text-align: center;
    margin-top: 16px;
    font-weight: bold;
  }
}

.partners {
  background-color: #f5f8fa;
}

.organizers {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/new/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  color: white;

  padding-top: 4em;
  padding-bottom: 4em;

  text-align: center;
}

.organizers__logos {
  padding-top: 4em;

  p {
    margin-bottom: 32px;
  }

  li {
    line-height: 50px;
  }

  li + li {
    margin-left: 40px;
  }
}
