.cfs {
  background-color: #F4F3F4;
  padding-top: 70px;
  padding-bottom: 70px;
}
.cfs__container {
  @extend .container;
}

.cfs__sponsors {

  ul > li {
    text-align: center;

    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }

  img {
    max-height: 100px;
  }
}
