.cfs {
  background-color: #F4F3F4;
  padding-top: 70px;
  padding-bottom: 70px;
}
.cfs__container {
  @extend .container;
}

.sponsors {
  margin-bottom: 70px;
  margin-top: 70px;
}

.sponsors__row {
  @include make-row();

  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: $screen-sm-min) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $screen-sm-max) {
    display: flex;
    flex-direction: row;
  }

  .sponsors__item {
    @include make-sm-column(4);

    @media (max-width: $screen-sm-min) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media (min-width: $screen-sm-max) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    img {
      max-height: 100px;
    }
    &:last-child {
      @media (min-width: $screen-sm-max) {
        text-align: right;
        justify-content: flex-end;
      }
    }
    &:first-child {
      @media (min-width: $screen-sm-max) {
        text-align: left;
        justify-content: flex-start;
      }
    }
  }
}
