.block {
  padding-top: 5.5em;
  padding-bottom: 5.5em;
}

.block__heading {
  @extend .h1;

  margin-top: 0;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}

.block__heading--light {
  @extend .block__heading;
}
.block__heading--dark {
  @extend .block__heading;
  color: #57585A;
}

.leading {
  color: white;
  font-size: 1.33em;
  font-family: Lato;
  line-height: 29px;
  margin-top: 8px;
}

.leading--light {
  @extend .leading;
}
.leading--dark {
  @extend .leading;
  font-weight: bold;
  color: #57585A;
}

.light {
  color: white;
}

.dark {
  color: #57585A;
}

.block__cta {
  @extend .btn;

  border-radius: 36px;
  background-color: #00629E;
  text-transform: uppercase;
  font-size: 1.33em;
  font-weight: 900;
  line-height: 1.44em;
  color: white;
  padding: 1.27em 1.77em;
  margin-top: 1.77em;

  @media (max-width: $screen-sm-min) {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background-color: #003E73;
  }
}

.block__more-cta {
  @extend .btn-link;

  color: white;
  margin-top: 40px;
  display: block;
}

.block__more-cta:hover,
.block__more-cta:focus,
.block__more-cta:active,
.block__cta:hover,
.block__cta:focus,
.block__cta:active {
  color: white;
}
