.block {
  padding-top: 100px;
  padding-bottom: 100px;
}

.block__heading {
  @extend .h1;

  color: white;
  font-weight: bold;
  margin-bottom: 16px;
}

.block__heading--light {
  @extend .block__heading;
}
.block__heading--dark {
  @extend .block__heading;
  color: #57585A;
}

.block__paragraph {
  color: white;
  font-family: Lato;
  margin-bottom: 16px;
}

.block__paragraph--light {
  @extend .block__paragraph;
}
.block__paragraph--dark {
  @extend .block__paragraph;
  color: #57585A;
}

.block__cta {
  @extend .btn;

  border-radius: 36px;
  background-color: #00629E;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  color: white;
  padding: 23px 32px;
  margin-top: 16px;

  @media (max-width: $screen-sm-min) {
    margin: 0 auto;
    display: block;
  }
}

.block__more-cta {
  @extend .btn-link;

  color: white;
  margin-top: 25px;
  display: block;
}

.block__more-cta:hover,
.block__more-cta:focus,
.block__more-cta:active,
.block__cta:hover,
.block__cta:focus,
.block__cta:active {
  color: white;
  text-decoration: underline;
}
