.block-stay {
  margin: 70px auto;
  max-width: 624px;
}

.destinations {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f8fa;
}

.destinations__panel {
  height: 420px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 100%;

  @media (min-width: $screen-sm-min) {
    flex: 1 0 50%;
  }
}

.destinations__panel--25 {
  @media (min-width: $screen-sm-min) {
    flex: 1 0 25%;
  }
}

.destinations__panel--75 {
  @media (min-width: $screen-sm-min) {
    flex: 1 0 75%;
  }
}

.destinations__excerpt {
  max-width: 375px;
}

.destinations__image {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

$dest-images:(
  building1,
  building2,
  hotel1,
  hotel2,
  market1,
  sea1,
  sea2,
  sea3
);

@each $image in $dest-images {
  .destinations__image--#{$image} {
    background-image: url(/assets/images/destinations/#{$image}.jpg);
  }
}

.price-table {
  width: 90%;
  text-align: center;

  tr {
    border-bottom: 2px solid #d9d9d9;
  }

  th, td {
    padding: 25px;
  }

  tbody tr:last-child() {
    border-color: transparent;
  }
}

.table-footnote {
  margin-top: 30px;
  font-size: 12px;
  max-width: 50%;
}
