.early-birds {
  @extend .container;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #57585A;

  h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 57px;
  }

  p {
    font-size: 18.2px;
    line-height: 22px;
    margin-bottom: 50px;
  }
}

.early-birds__left {
  @include make-sm-column(6);
}
.early-birds__right {
  @include make-sm-column(6);
}

.early-birds__img {
  width: 100%;
}
