.footer{
  color: white;
  background-color: #00629E;
  background-image: url('/assets/images/new/wedge.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer__container {
  @extend .container;
}
.footer-row {
  @include make-row();
}
.footer-row__column {
  @include make-md-column(6);
  @include make-lg-column(3);

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    min-height: 350px;
  }
}
.footer__logo {
  width: 100px;
  margin-bottom: 50px;
}
.footer-menu {
  margin-bottom: 40px;
}
.footer-menu__header {
  color: white;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer-menu__list {
  list-style: none;
  padding-left: 0;

  li {
    padding-top: 5px;

    a {
      opacity: 0.7;
      color: white;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.copyrights {

  .copyrights__text {
    opacity: 0.7;
  }

  .copyrights__link {
    color: white;
  }
}

.social-icons {
  list-style: none;
  padding-left: 0;
  font-size: 0;

  li {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;

    a {
      padding-top: 10px;
      height: 40px;
      width: 40px;
      background-color: #FFFFFF;
      font-size: 20px;
      text-align: center;
      border-radius: 50%;

      opacity: 0.7;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.slack-form {
  margin-top: 8px;
}

.slack-form__results {
  text-transform: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.slack-field {
  @extend .form-control;
  border: 0;
  padding: 9px 16px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;

  font-weight: normal;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.slack-submit {
  @extend .btn;
  position: relative;

  background: white;
  color: #57585a;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px 16px;
  height: 40px;

  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;
    left: 0;
    top: 7px;
    background-color: #57585a;
  }

  &:active,
  &:active:focus,
  &:visited {
    outline: 0;
    box-shadow: none;
    border: 0;
  }
}

.slack-result {
  color: white;
  padding: 20px 0;
  text-align: center;
}
