.header {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/screen.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 300px;
  height: auto;
  padding-top: 40px;

  @media (max-width: $screen-sm-min) {
    height: auto;
    min-height: auto;
    padding-top: 0;
  }
}

.about-header {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/about/screen.jpg);

  background-position: center;
}

.speaker-header {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/speaker/screen.jpg);

  background-position: center;
}

.press-header {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/press/screen.jpg);

  background-position: center;
}
