.header {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 300px;
  height: auto;
  padding-top: 40px;

  @media (max-width: $screen-sm-min) {
    height: auto;
    min-height: auto;
    padding-top: 0;
  }
}

video#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 62, 115, 0.9);

  @media (max-width: $screen-sm-min) {
    display: none;
  }
}

.home-header {
  @media (max-width: $screen-sm-min) {
    background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/screen.jpg);
  }
}

.about-header {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/about/screen.jpg);

  background-position: center;
}

.speaker-header {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/speaker/screen.jpg);

  background-position: center;
}

.press-header {
  background-image: linear-gradient(rgba(0, 62, 115, 0.9), rgba(0, 62, 115, 0.9)), url(/assets/images/header/press/screen.jpg);

  background-position: center;
}
