.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/header/screen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 24px;

  // @media (min-width: 768px) {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/header/tablet.jpg);
  // }

  // @media (min-width: 1126px) {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/header/screen.jpg);
  // }
}

.hero__logo {
  padding-top: 120px;
  width: 250px;
}

.hero__headline,
.hero__location {
  margin: 0;
}
.hero__headline {
  color: white;
  font-weight: 900;
  font-size: 3.55em;
  line-height: 77px;
  margin-bottom: 8px;
  margin-top: 40px;
}

.hero__location {
  color: white;
  font-size: 1.66em;
}
