.hero {
  background-image: linear-gradient(rgba(0, 62, 115, 0.8), rgba(0, 62, 115, 0.8));
  text-align: center;

  padding-bottom: 8.33em;
  padding-top: 24px;

  @media (max-width: $screen-sm-min) {
    padding-bottom: 6em;
    padding-top: 14px;
  }
}

.hero__logo {
  padding-top: 6em;
  width: 250px;

  @media (max-width: $screen-sm-min) {
    padding-top: 4em;
  }
}

.hero__headline,
.hero__location {
  margin: 0;
}
.hero__headline {
  color: white;
  font-weight: 900;
  font-size: 3.55em;
  line-height: 77px;
  margin-bottom: 8px;
  margin-top: 40px;
}

.hero__location {
  color: white;
  font-size: 1.66em;
}
