
.icons-stack {
  margin-bottom: 70px;
  margin-top: 20px;
}

.icons-stack__row {
  @include make-row();

  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: $screen-sm-min) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $screen-sm-max) {
    display: flex;
    flex-direction: row;
  }

  .icons-stack__item {
    @media (max-width: $screen-sm-min) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media (min-width: $screen-sm-max) {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
    }

    img {
      max-height: 100px;
      max-width: 100%;
    }

    &--one {
      @include make-sm-column(12);
    }

    &--two {
      @include make-sm-column(6);
    }

    &--three {
      @include make-sm-column(4);

      &:last-child {
        @media (min-width: $screen-sm-max) {
          text-align: right;
          justify-content: flex-end;
        }
      }
      &:first-child {
        @media (min-width: $screen-sm-max) {
          text-align: left;
          justify-content: flex-start;
        }
      }
    }
  }
}
