.main-navbar {
  @extend .navbar;

  z-index: 999;
  padding: 16px 56px 16px 56px;

  @media (max-width: $screen-sm-min) {
    padding-left: 32px;
    padding-right: 32px;
  }

  margin-bottom: 0;
  border-radius: 0;

  .navbar-toggle .icon-bar {
    background: white;
  }

  &.sticky--stick {
    padding-top: 14px;
    padding-bottom: 14px;
    background: white;

    .navbar-toggle .icon-bar {
      background: black;
    }
  }
}

.main-menu {
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-right;

  @media (min-width: $screen-sm-min) {
    li + li {
      margin-left: 24px;
    }
  }
}

// Override bootstrap navbar
.main-menu__link {
  font-weight: bold;
  text-transform: uppercase;

  color: rgba(255,255,255,0.7);

  padding-left: 0 !important;
  padding-right: 0 !important;

  &:hover,
  &:focus {
    background: none !important;
    color: rgba(255,255,255,1) !important;
  }

  .sticky--stick & {
    color: rgba(87,88,90, 0.7);

    &:hover,
    &:focus {
      color: black !important;
    }
  }
}

.main-menu__link--cta {
  @extend .main-menu__link;
  border-radius: 24px;
  background-color: #00629e;
  color: white;
  font-weight: bold;
  line-height: 22px;

  padding: 13px 32px !important;

  &:hover,
  &:focus {
    color: #FFFFFF !important;
    background-color: #003E73 !important;
  }

  .sticky--stick & {
    background-color: #00629e;
    color: white;

    &:hover,
    &:focus {
      color: #FFFFFF !important;
      background-color: #003E73 !important;
    }
  }
}

.navbar-brand {
  padding: 0;

  .main-navbar:not(.sticky--stick) &--hidden {
    display: none;
  }
}

.navbar-date {
  text-align: left;
  color: white;
  margin-left: 10px;
  float: left;
  line-height: 18px;
  padding-top: 5px;

  .navbar-date__date {
    font-size: 1em;
    font-weight: 900;
  }
  .navbar-date__place {
    font-size: 0.77em;
	  font-weight: bold;
  }

  .sticky--stick & {
    color: black;
  }
}

.navbar-logo {
  width: 4em;
  height: 52px;
  float: left;

  background-image: url(/assets/images/new/devit-logo-white.svg);
  background-size: 100%;
  background-repeat: no-repeat;

  .sticky--stick & {
    background-image: url(/assets/images/new/devit-logo-blue.svg);
  }
}
