.schedule-block {
  @extend .block;
  background-color: #f5f8fa;
  padding-bottom: 0;
}

.workshops__header,
.schedule__header {
  background-color: #f5f8fa;
}

.schedule {
  .workshops__tabs {
    @extend .list-inline;
    @extend .container;

    padding: 0;
    margin-bottom: 0;

    li {
      padding: 16px 24px;
      font-family: Lato;
      font-size: 18px;
      font-weight: bold;
      color: #57585a;

      a {
        color: #57585a;
        opacity: 1;
      }

      &.active {
        background-color: white;

        a {
          opacity: 1;
          color: #57585a;
        }
      }
    }
  }

  .schedule__tabs {
    @extend .list-inline;
    font-family: Lato;

    padding: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;

    li {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }

      &.separator {
        border: 0;
        padding: 16px;
        width: 32px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: -10px;
          width: 32px;
          height: 4px;
          border-radius: 24px;
          background-color: #d9d9d9;
        }
      }
    }

    li > div {
      font-size: 14px;
      text-align: center;
      color: #57585a;
    }

    li > a {
      padding: 0;
      line-height: 1em;
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      color: #57585a;
      padding: 16px 40px;
      border-radius: 32px;
      border: solid 2px #b1b2b4;
      display: inline-block;
    }

    li:not(.active) > a {
      color: #57585a;
    }
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li>a,
  .nav-tabs>li>a:hover,
  .nav-tabs>li>a:focus {
    border: none;
  }
}

.schedule__content {
  background: white;
}


.schedule-item {
  @include make-row();

  background-color: #f5f8fa;
  padding: 24px;
  margin-bottom: 8px;

  .schedule-item__hour {
    @include make-md-column(1);
    padding-left: 0;
    padding-right: 0;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    color: #57585a;
    padding-top: 25px;
  }

  .schedule-item__image {
    @include make-md-column(2);
    text-align: center;

    img {
      width: 89px;
      height: 89px;
      border-radius: 50%;
    }

    span {
      width: 89px;
      height: 89px;
      border-radius: 50%;
      background: #00629e;
      display: inline-block;

      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }
    }

    i {
      margin: auto;
      text-align: center;
      vertical-align: middle;

      color: white;
      font-size: 2em;
    }
  }

  .schedule-item__main {
    @include make-md-column(9);

    // text-align: left;
    padding-top: 15px;
  }

  .schedule-item__buy {
    @include make-md-column(6);

    // text-align: left;
    padding-top: 15px;
  }

  .schedule__item-cta {
    margin: 0 24px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 32px;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 25px;
  }

  .schedule-item__title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    color: #57585a;
  }

  .schedule-item__subtitle {
    font-family: Lato;
    font-size: 18px;
    color: #57585a;
  }

  @media (max-width: $screen-md-min) {
    text-align: center;
  }
}

.schedule-list {
  @extend .container;
  padding-top: 50px;
  padding-bottom: 5.5em;
}

.workshopDescription {
    text-align: center;
    margin: 0px;
    padding: 0px 32px;
}

//need to create a new scss file for devit week and
// and put the below classes there, but I don't know 
// where exactly to import the scss file

.left_sidebar {
  @include make-sm-column(6);

  @media (min-width: $screen-sm-min) {
    padding-top: 35px;
  }
}

.right_sidebar {
  @include make-sm-column(6);

  @media (min-width: $screen-sm-min) {
    padding-top: 35px;
  }
}

.map {
    width: 100%;
    height: 246px;
//    margin-top: 25px;
}

.clock-o---FontAwesome {
  width: 21px;
  height: 24px;
}