.block-schedule {
  background-color: #f5f8fa;
}

.schedule__nav {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule__nav-btn {
  margin: 0 24px;
  border-radius: 50px;
  padding: 12px 40px;
  font-size: 24px;
  font-weight: bold;
  color: #b1b2b4;
  min-width: 206px;
  background-color: transparent;
  border: solid 2px #d9d9d9;
}

.schedule__nav-btn:hover,
.schedule__nav-btn--active {
  color: #57585a;
  border-color: #b1b2b4;
}

.schedule__nav-separator {
  margin: 0 -16px;
  width: 32px;
  height: 4px;
  border-radius: 24px;
  background-color: #d9d9d9;
}

.schedule__item {
  display: flex;
  align-items: center;
  font-size: 1.33em;
  min-height: 136px;
  color: #57585a;
  background-color: #f5f8fa;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.schedule__item-time {
  padding-left: 24px;
  flex-basis: 112px;
  flex-shrink: 0;
}

.schedule__item-img {
  width: 89px;
  height: 89px;
  margin-right: 24px;
  border-radius: 50%;
  background-color: #00629e;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  i {
    color: #fff;
    font-size: 1.1em;
    transform: rotate(135deg);
    position: absolute;
    z-index: 0;
  }

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
}

.schedule__item-copy {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}

.schedule__item-copy-small {
  font-size: 0.75em;
}

.schedule__item-copy-large {

}

.schedule__item-cta {
  margin: 0 24px;
  border-radius: 50px;
  padding: 10px 32px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
