.speakers-list {
  // @include make-row();
  @extend .block;
  @extend .container;
}
.speakers-list__item {
  @include make-sm-column(6);
  @include make-md-column(4);
  margin-top: 10px;
  margin-bottom: 10px;
}
.speaker {
  text-align: center;
  padding: 30px;
  background: white;

  &--hover,
  &:hover {
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,62,115,0.1);
  }
}
.speaker__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.speaker__name {
  font-size: 20px;
  font-weight: 900;
  line-height: 60px;
  height: 60px;
  padding-bottom: 10px;

  span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
  }
}

.speaker__title {
  font-size: 14px;
  line-height: 17px;
}

.speaker__tags {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}

.speaker__tag {
  border-radius: 24px;
  background-color: #74AACD;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  padding: 6px 8px;
  margin: 4px;
  display: inline-block;
  text-transform: uppercase;
}

.speaker__social {
  margin-top: 30px;
  font-size: 0;
}

.speaker__social__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(217, 217, 217, 0.5);
  color: white;
  font-size: 20px;
  padding-top: 10px;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(217, 217, 217, 1);
    color: white;
    text-decoration: none;
  }

}

.speaker-page {

}

.talks__tabs {
  background-color: #f5f8fa;
}

.speaker-page__header {
  @include make-row();

  background-color: #f5f8fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.speaker-page__header__left {
  @include make-sm-column(4);
}
.speaker-page__header__right {
  @include make-sm-column(8);

  @media (min-width: $screen-sm-max) {
    padding-left: 50px;
  }
}
.speaker-page__name {
  font-size: 48px;
	font-weight: 900;
	color: #57585a;
}
.speaker-page__title {
  font-size: 24px;
	font-weight: bold;
	color: #57585a;
}
.speaker-page__bio {
  color: #57585a;
}

.talks {
  .nav-tabs {
    border: 0;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border :0
  }
}
