.speakers-container {
  @extend .block;
  background: white;
}
.speakers-list {
  @extend .container;
  margin-top: 40px;
}
.speakers-list__item {
  @include make-sm-column(6);
  @include make-md-column(4);
  margin-top: 10px;
  margin-bottom: 10px;
}
.speaker {
  text-align: center;
  padding: 30px;
  background: white;

  &--hover,
  &:hover {
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,62,115,0.1);
  }
}

.speaker-tba-no-hover {
  text-align: center;
  padding: 30px;
  background: white;
}

.speaker-tba {
  position: relative;

  text-align: center;
  color: #57585a;

  .speaker-tba__center {
    position: absolute;
    width: 204px;
    height: 70px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .speaker-tba__title {
      font-size: 1.2em;
      font-weight: 900;
      line-height: 1.1em;
    }
    .speaker-tba__text {
      font-size: 1em;
    }
  }
}
.speaker__avatar {
  display: block;

  img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}

.speaker__name {
  color: #333;
  font-size: 1.1em;
  font-weight: 900;
  line-height: 60px;
  height: 60px;
  padding-bottom: 10px;

  span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
  }
}

.speaker__title {
  font-size: 0.77em;
  line-height: 17px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speaker__social {
  margin-top: 30px;
  font-size: 0;
}

.speaker__social__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(217, 217, 217, 0.5);
  color: white;
  font-size: 20px;
  padding-top: 10px;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(217, 217, 217, 1);
    color: white;
    text-decoration: none;
  }

}

.speaker-page .speaker {
  @media (min-width: $screen-sm-max) {
    margin-top: -130px;
  }
}

.talks__tabs {
  background-color: #f5f8fa;
}

.speaker-page__header {
  background-color: #f5f8fa;
  padding-top: 70px;
  padding-bottom: 70px;
}
.speaker-page__header__left {
  @include make-sm-column(4);
}
.speaker-page__header__right {
  @include make-sm-column(8);

  @media (min-width: $screen-sm-max) {
    padding-left: 50px;
  }

  @media (max-width: $screen-sm-min) {
    margin-top: 35px;
  }
}
.speaker-page__name {
  @extend .block__heading--dark;
	font-weight: 900;
}

.speaker-page__title {
  font-size: 1.33em;
	font-weight: bold;
	color: #57585a;
}
.speaker-page__bio {
  color: #57585a;
}

.talks {
  .nav-tabs {
    border: none;

    li > a {
      font-weight: bold;
      font-size: 1em;
    }

    li:not(.active) > a {
      color: #57585a;
    }
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li>a,
  .nav-tabs>li>a:hover,
  .nav-tabs>li>a:focus {
    border: none;
  }
}

.talks__content {
  margin-top: 70px;
}

.talk__title {
  @extend .block__heading--dark;
  font-weight: bold;
}

.talk__video {
  margin-top: 60px;
}

.speakers__cfp {
  @extend .block;

  text-align: center;

  color: white;
  background-color: #F5A623;
  background-image: url('/assets/images/new/bullhorn.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.speaker__type {
  border-radius: 24px;
  background-color: #e7e7e8;
  font-size: 0.55em;
  font-weight: bold;
  color: #57585a;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px;
  margin-top: 8px;
}
