.sticky--prepare {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);

  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);

  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}

.sticky--stick {

  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);

  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
