.tags {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 0;
}

.tag {
  border-radius: 24px;
  background-color: #74AACD;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  padding: 6px 8px;
  margin: 4px;
  display: inline-block;
  text-transform: uppercase;

  &:first-child {
    margin-left: 0;
  }
}
