.testimonials__row {
  @include make-row();

  background-color:#00629E;
  margin: 0;

  @media (min-width: $screen-sm-max) {
    // Make equal heights columns
    // @see: http://getbootstrap.com.vn/examples/equal-height-columns/
    display: flex;

    max-height: 432px;
    overflow: hidden;
  }
}
.testimonials__one {
  @include make-md-column(3);
}
.testimonials__two {
  @include make-md-column(6);
}

.testimonials__one,
.testimonials__two {
  padding-left: 0;
  padding-right: 0;
}

.testimonials__img {
  width: 100%;
}

.testimonial {
  padding: 40px;
  height: 100%;

  background-image: url('/assets/images/new/wedge.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 60%;
}

.testimonial__quote {
  color: white;
  font-size: 30px;
}

.testimonial__text {
  color: white;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 10px;
}
.testimonial__name {
  color: #FFFFFF;
}
