.venues {
  @extend .block;

  padding-bottom: 0;
}

.venue__title {
  font-size: 1.33em;
  font-weight: bold;

  margin: 72px 0 16px;
}

.venue__description {
  margin-bottom: 72px;

  @media (min-width: $screen-sm-max) {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.venue__container {
  @media (min-width: $screen-sm-max) {
    height: 420px;
    overflow: hidden;
  }
}

.venue__image {
  @include make-sm-column(8);

  padding-left: 0;
  padding-right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 420px;
}

.venue__map {
  @include make-sm-column(4);

  padding-left: 0;
  padding-right: 0;

  .map {
    height: 420px;
  }
}

.plan-block {
  @extend .block;

  background-image: linear-gradient(rgba(0, 62, 115, 0.5), rgba(0, 62, 115, 0.5)), url(/assets/images/new/thessaloniki.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;

  .block__heading {
    margin-bottom: 24px;
  }

  padding-top: 11.5em;
  padding-bottom: 11.5em;
}
