<section id="about">
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="section-header">
          <h2><b>DEVit</b> is a 360° <b>Web Development</b> Conference</h2>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <p>Get ready to step out of your comfort zone! Learn about the latest trends and techniques for <b>Frontend</b>,
          <b>Backend</b>, <b>DevOps</b> and <b>Mobile</b>! Meet the experts, the evangelists, the masterminds! We are
          360° and proud of it!</p>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
          <b class="accent">2</b>
          Days
        </div>
      </div>
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <b class="accent">1</b>
          Track
        </div>
      </div>
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
          <b class="accent">14</b>
          Speakers
        </div>
      </div>
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <b class="accent">4</b>
          Workshops
        </div>
      </div>
    </div>
  </section>
