<section id="about">
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <div class="section-header text-left">
          <h2><b>About</b> DEVit</h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h4>DEVit is a 360° Web Development Conference</h4>

        <p>Get ready to step out of your comfort zone! Learn about the latest trends and techniques for <b>Frontend</b>,
          <b>Backend</b>, <b>DevOps</b> and <b>Mobile</b>! Meet the experts, the evangelists, the masterminds! We are
          360° and proud of it!</p>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
          <b class="accent">14</b>
          Speakers
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <b class="accent">2</b>
          Tracks
        </div>
      </div>
    </div>
  </section>
