<section id="about" class="text-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-header">
          <h2><b>DEVit</b> is a 360° <b>Web Development</b> Conference</h2>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <p>
          We paid special attention to cover as much ground as possible and get
          you out of your comfort zone! Learn about the latest trends,
          techniques and people for <b>Frontend</b>, <b>Backend</b>,
          <b>DevOps</b> and <b>Mobile</b>! We are 360° and proud of it!
        </p>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
          <b class="accent">2</b>
          Days
        </div>
      </div>
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <b class="accent">1</b>
          Track
        </div>
      </div>
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
          <b class="accent">14</b>
          Speakers
        </div>
      </div>
      <div class="col-xs-3">
        <div class="number wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
          <b class="accent">4</b>
          Workshops
        </div>
      </div>
    </div>
    <div class="row">
      <div class="section-header" style="margin-top: 60px;">
        <h3>Share the <b>word</b></h3>
      </div>
      <div class="col-xs-6 col-xs-offset-3">
        <div class="pull-left">
          <img class="shareit" src="/images/shareit.png">
        </div>
        <div class="pull-left">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://devitconf.org"
             class="share-box share-box-fb">
            <span class="fa fa-facebook"></span>

            <div class="share-box-count fb-count js-fb-count"></div>
          </a>
        </div>

        <div class="pull-left">
          <a target="_blank"
             href="https://twitter.com/home?status=Join%20%23DEVitConf%20the%20360%C2%B0%20Web%20Development%20Conference%2020%20May%202016%20Thessaloniki%20Greece%20http://devitconf.org"
             class="share-box share-box-tw">
            <span class="fa fa-twitter"></span>

            <div class="share-box-count tw-count js-tw-count"></div>
          </a>
        </div>

        <div class="pull-left">
          <a target="_blank"
             href="https://www.youtube.com/channel/UCrKmMv6c6oqZPYC7zzbP-RQ"
             class="share-box share-box-yt">
            <span class="fa fa-youtube-play"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <small>Hashtag: #devitconf </small>
      </div>
    </div>
  </section>
