<!--===============================-->
<!--== Affiliates ===================-->
<!--===============================-->
<section id="devitsupports">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>DEVit <b>Supports</b></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="partners">
      <div class="col-sm-4 partner">
        <a href="http://www.technology-forum.eu" target="_blank">
          <img src="/images/affiliates/tech-forum.png" alt="Thessaloniki Technology Forum" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="http://www.shesharp.org/" target="_blank">
          <img src="/images/affiliates/shesharp.png" alt="SHESHARP Community" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-4 partner">
        <a href="http://www.techministry.gr/" target="_blank">
          <img src="/images/affiliates/tmlogo.png" alt="TechMinistry Hackerspace" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
<!--==========-->
