<section id="after-party">
  <div class="row">
    <div class="col-sm-12 col-md-6 venue-info">
      <h3>After <b>Party</b></h3>
      <h2>WE</h2>
      <ul class="contact">
        <li class="contact-info">
          <em class="fa fa-clock-o"></em>
          <span><strong>20:00</strong> - Friday 20th</span>
        </li>
        <li class="contact-info">
          <em class="fa fa-map-marker"></em>
          <a href="https://goo.gl/maps/UJiUs9FS6cH2" target="_blank">
              <span>Leoforos 3hs Septemvriou & Gr. Lampraki
                  <br>Thessaloniki, 546 36</span>
          </a>
        </li>
        <li class="contact-info">
          <em class="fa fa-home"></em>
          <span><a href="http://www.weskg.gr/" title="WE" target=blank>website</a></span>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 party-map">
      <div class="map">
        <div id="map-canvas-after-party"></div>
      </div>
    </div>
  </div>
</section>
