<footer id="footer" class="footer">
  <div class="row">
    <div class="col-sm-8">

      <!--== Social Icons ==-->
      <ul class="social-icons">
        <li><a target="_blank" href="https://www.facebook.com/DEVitConf" class="fa fa-facebook"></a></li>
        <li><a target="_blank" href="https://twitter.com/devitconf" class="fa fa-twitter"></a></li>
        <li class="followit-ribbon">&nbsp;</li>
      </ul>
      <div class="copyrights">© <span class="js-current-year">2016</span>
        <a href="https://github.com/skgtech/devit/graphs/contributors" target="_blank">SKGTech Contributors</a>,
        Licensed
        under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons 4.0</a>
      </div>

    </div>
    <div class="col-sm-4 footer-fold">
    </div>
  </div>
</footer>
