<!--===============================-->
<!--== Hotels =====================-->
<!--===============================-->
<section id="hotels" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>A place <b>to stay</b></h2>
        <p>
          Engineers do surfing, not couch surfing.
        </p>
      </div>
    </div>
  </div>

  <div class="row hotel-row">

    <div class="col-md-6 hotel">

      <div class="row">
        <div class="col-xs-6">

          <a href="http://www.metropolitan.gr/" target="_blank">
            <img src="images/hotels/metropolitan.jpg" alt="Hotel Metropolitan" class="img-responsive">
          </a>

        </div>
        <div class="col-xs-6">

          <ul class="contact">
            <li class="contact-info">
              <em class="fa fa-map-marker"></em>
              <span>Vas. Olga's Avenue & Fleming 65, 546 42 Thessaloniki</span>
            </li>
            <li class="contact-info">
              <em class="fa fa-phone"></em>
              <span>+30 2310 824221-8</span>
            </li>
          </ul>

        </div>
      </div>

    </div>

    <div class="col-md-6 hotel" id="metropolitanHotel" style="height: 230px;">

    </div>

  </div>

  <div class="row">

    <div class="col-md-6 hotel">
      <div class="row">

        <div class="col-xs-6">
          <a href="http://www.hotelluxembourg.gr/" target="_blank">
            <img src="images/hotels/luxembourg_.gif" alt="Hotel Luxembourg" class="img-responsive">
          </a>
        </div>

        <div class="col-xs-6">

          <ul class="contact">
            <li class="contact-info">
              <em class="fa fa-map-marker"></em>
              <span>Komninon 6, 546 24 Thessaloniki Greece</span>
            </li>
            <li class="contact-info">
              <em class="fa fa-phone"></em>
              <span>+30 2310 252605</span>
            </li>
            <li class="contact-info">
              <em class="fa fa-home"></em>
              <small>
                <span>Where speakers will stay.</span>
              </small>
            </li>

          </ul>

        </div>

      </div>

    </div>

    <div class="col-md-6 hotel" id="luxembourgHotel" style="height: 230px;">

    </div>

  </div>

</section>
<!--==========-->
