<section id="venue" class="wow bounceInUp no-p" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="map">
        <div id="map-canvas"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 venue-info">
      <h3>The <b>Venue</b></h3>
      <h2>Ioannis Vellidis C.C.</h2>
      <ul class="contact">
        <li class="contact-info">
          <em class="fa fa-map-marker"></em>
          <a href="https://goo.gl/D2aN7H" target="_blank">
              <span>Leof. Stratou 3,
                  <br>Thessaloniki, 546 39</span>
          </a>
        </li>
        <li class="contact-info">
          <em class="fa fa-home"></em>
          <span><a href="http://profile.helexpo.gr/profile/en/thessaloniki%20vellidis" title="'Ioannis Vellidis' Congress Centre" target=blank>website</a></span>
        </li>
      </ul>
    </div>
  </div>
</section>
