<section id="venue">
  <div class="row">

    <div class="col-sm-12 col-md-6 venue-info">
      <h3>The <b>Venue</b></h3>
      <h2>Royal Theatre</h2>
      <ul class="contact">
        <li class="contact-info">
          <em class="fa fa-map-marker"></em>
          <a href="https://goo.gl/D2aN7H" target="_blank">
              <span>Leof. Meg. Alexandrou,
                <br> Thessaloniki 546 21</span>

          </a>
        </li>
        <li class="contact-info">
          <em class="fa fa-home"></em>
          <span><a href="http://www.ntng.gr/default.aspx?lang=el-GR&page=10" title="'Royal Theatre" target=blank>website</a></span>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 venue-map">
      <div class="map">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</section>
