{% assign url = page.url|remove:'index.html' %}
<div id="navigation-wrap" class="navigation-wrap">

  <div id="navigation" class="navigation">
    <div class="container">
      <nav class="navbar navbar-custom" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/#tickets" class="register">Buy Tickets!</a>
        </div>

        <!--== Site Menu ==-->
        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav">

            {% if page.url == "/blog/index.html" %}
              <li><a href="/">Home</a></li>
              <li class="active" ><a href="/blog">Blog</a></li>
              <li><a href="/2015/" class="previous">DEVit 2015</a></li>
            {% elsif page.url == "/index.html" %}
              <li class="active"><a href="/#home">Home</a></li>
              <li><a href="/#venue">Venue</a></li>
              <li><a href="/#register">Engage</a></li>
              <li><a href="/#sponsors">Sponsors</a></li>
              <li><a href="/#codeofconduct">Code of Conduct</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/2015/" class="previous">DEVit 2015</a></li>
            {% else  %}
              <li>
                <img src="/images/DevitLogo.svg" alt="DEVit Conference" style="width: 200px;float:left"/>
              </li>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li class="active"><a href="/{{page.url}}">{{page.title}}</a></li>
            {% endif %}
          </ul>
        </div>

      </nav>
    </div>
  </div>
</div>
