<!--===============================-->
<!--== Organizers ===================-->
<!--===============================-->
<section id="organizers">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>DEVit <b>is organized by:</b></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="partners">
      <div class="col-sm-3 col-sm-offset-2 partner">
        <a href="http://skgtech.io" target="_blank" title="Thessaloniki Tech Community">
          <img src="/images/affiliates/skgtech-alt.png" alt="Thessaloniki Tech Community" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 col-sm-offset-1 partner">
        <a href="http://www.shesharp.org/" target="_blank" title="SHESHARP Community">
          <img src="/images/affiliates/shesharp.png" alt="SHESHARP Community" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
<!--==========-->
