<section id="post">

  <article class="post row">

    <div class="entry">
      {{ content }}
    </div>

    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}, <span>by <a href="http://twitter.com/{{ author.twitter }}">{{ author.display_name }}</a></span>
    </div>

    <!--
      Pagination should be enabled when we add the second post. Requires recompilation of Bootstrap to include pagination.
    -->

    <br>

    {% include social.html %}

    {% include disqus.html %}
  </article>

</section>
