<section id="register" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-md-6">
      <div class="section-header">
        <h2><b>Stay</b> Connected!</h2>
      </div>
      <div class="mc-embed-signup">
        <form method="post" class="form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate"
              action="//datablaster.us2.list-manage.com/subscribe/post?u=249dbe460c3c1857a489dde05&amp;id=faa2000c02">
          <div class="cta validate"></div>
          <fieldset class="mc-field-group">
            <div class="form-group">
              <label for="mce-FNAME">First Name</label>
              <input id="mce-FNAME" type="text" name="FNAME" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="email-list">Your Email</label>
              <input id="email-list" type="email" placeholder="Email" value="" name="EMAIL" size="30"
                     class="required">
            </div>
            <div class="form-group">
              <input type="hidden" value="signup" name="SOURCE">
              <input type="hidden" value="" name="REF_SOURCE" class="js-signup-ref-source">
              <button type="submit" class="button button-active">Keep me in the
                loop!
              </button>
            </div>
            <div class="mce-responses clear">
              <div style="display:none" class="response js-error error"></div>
              <div style="display:none" class="response js-success success"></div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="thankyou hide">
        <h3><b>Thank</b> you!</h3>

        <p>Please confirm your subscription from the email we sent you...</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="section-header">
        <h2><b>Stay in</b> the loop</h2>
      </div>

      <div class="row text-left">
        <div class="col-xs-12">
          <div class="pull-left">
            <img class="shareit" src="/images/shareit.png">
          </div>
          <div class="pull-left">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://devitconf.org"
               class="share-box share-box-fb">
              <span class="fa fa-facebook"></span>

              <div class="share-box-count fb-count js-fb-count"></div>
            </a>
          </div>

          <div class="pull-left">
            <a target="_blank"
               href="https://twitter.com/home?status=Join%20%23DEVitConf%20the%20360%C2%B0%20Web%20Development%20Conference%2020%20May%202016%20Thessaloniki%20Greece%20http://devitconf.org"
               class="share-box share-box-tw">
              <span class="fa fa-twitter"></span>

              <div class="share-box-count tw-count js-tw-count"></div>
            </a>
          </div>
        </div>

      </div>

      <div class="section-header hashtag-section">
        <h2><b>Use the</b> hashtag</h2>
      </div>
      <h3>
        <a href="http://twitter.com/search?q=devitconf">
          #devitconf
        </a>
      </h3>
    </div>
  </div>
</section>
