<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/_bower_components/jquery.js"><\/script>')</script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- build:js(app) /js/script.js -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/SmoothScroll.js"></script>
<script src="/js/typed.js"></script>
<script src="/js/jquery.nav.js"></script>
<script src="/js/jquery.stellar.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/jquery.accordion.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/fancySelect.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/gmap3.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
