<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/_bower_components/jquery.js"><\/script>')</script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- build:js(app) /js/script.js -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/SmoothScroll.js"></script>
<script src="/js/jquery.nav.js"></script>
<script src="/js/jquery.stellar.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/jquery.accordion.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/fancySelect.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/gmap3.js"></script>
<script src="/js/main.js"></script>
<script src="/js/devit-custom.js"></script>


<div id="fb-root"></div>
<script type="text/javascript">
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=309825832497899";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<script type="/js/devit-custom.js"></script>
<!-- endbuild -->
