<!--===============================-->
<!--== Schedule ===================-->
<!--===============================-->
<section id="sessions" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>The <b>sessions</b></h2>

        <p>Two tracks of continuous talks.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">SpaceBalls</a></li>
          <li><a href="#tab2" data-toggle="tab">FairLight</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <ul class="accordion">
              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    08<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Registration</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>15</sup>
                  </span>
                  <h4 class="accordion-title">Opening Ceremony</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Nicolas_Frankel.jpeg" alt="Nicolas Frankel">
                  </div>
                  <h4 class="accordion-title">Integration Testing from the Trenches</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    10<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    11<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Nikos_Zinas.jpg" alt="Nikos Zinas">
                  </div>
                  <h4 class="accordion-title">The future of responsive web design: web component queries</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    12<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Benny_Weingarten-Gabbay.jpg" alt="Benny Weingarten-Gabbay">
                  </div>
                  <h4 class="accordion-title">iOS real time content modifications using websockets</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    13<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Lunch Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    14<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Kostis_Kapelonis.jpg" alt="Kostis Kapelonis">
                  </div>
                  <h4 class="accordion-title">Your Service is not Rest</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    15<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Tim_Perry.jpg" alt="Tim Perry">
                  </div>
                  <h4 class="accordion-title">Your Web Stack Would Betray You In An Instant</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    16<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/kuba.jpg" alt="Kuba Waliński">
                  </div>
                  <h4 class="accordion-title">Getting started with Meteor</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    The world of JavaScript Frameworks is constantly evolving. It seems that almost every month there is
                    a brand new thing that will revolutionise web development. However, having a closer look you don’t
                    really see much revolutionary stuff in those new frameworks - they are usually just a small step
                    forward from the previous thing.
                  </p>

                  <p>
                    At least that’s how I felt in the past few years of doing
                    JavaScript. Until I discovered Meteor, that is. It was enough to complete the getting started
                    tutorial to realise that I’m dealing with a potential game-changer. First imagine that all
                    communications happen via web sockets (way faster than REST API calls over HTTP). Then realise that
                    you have a full blown MongoDB implementation accessible on the client side. Finally, remember that
                    from now on you just need one programming language - JavaScript - to implement the whole application
                    - from the client-side through to the back-end and all the way down to the database.
                  </p>

                  <p>In this talk
                    you will see all this goodness brought together in one great package that is called Meteor.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    17<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Closing Ceremony - Socializing</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    19<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">After Party</h4>
                </a>
              </li>

            </ul>
          </div>

          <div class="tab-pane fade" id="tab2">
            <ul class="accordion">
              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    08<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Registration</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>15</sup>
                  </span>
                  <h4 class="accordion-title">Opening Ceremony</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Christian_Heilmann.jpg" alt="Christian Heilman">
                  </div>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    10<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    11<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/mathias_bynens.jpg" alt="Mathias Bynens">
                  </div>
                  <h4 class="accordion-title">JavaScript ♥ Unicode</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    12<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Heinz_Kabutz.jpg" alt="Heinz Kabutz">
                  </div>
                  <h4 class="accordion-title">Live Productive Coder</h4>
                </a>

                <div class="accordion-body">
                  <p>
                  What makes some coders so much more productive than others? Good coders have to be lazy. The right
                  amount of lazy. Not too lazy, where everything is copy and pasted also not to eager, where every new
                  feature also requires brand-new implementation. In this talk, Heinz Kabutz will demonstrate some of
                  the techniques that he uses to avoid reinventing the wheel.
                  </p>

                  <p>We start by looking at the IDE and show
                  how shortcuts and a bit of automation can save us a lot of work. Smart templates produce consistent
                  code, but even better is the use of Java 8 lambas, which we can use to define our coding idioms. We
                  will also talk about refactoring and hear some of the interesting stories of the finance industry,
                  where refactoring is often not an option or severely restricted.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    13<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Lunch Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    15<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Nickoloff.jpg" alt="Jeffrey Nickoloff">
                  </div>
                  <h4 class="accordion-title">An Introduction to Docker</h4>
                </a>

                <div class="accordion-body">
                  Join us to learn how Docker provided packaging and process isolation has changed the way people build,
                  test, ship, and deploy software.
                </div>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    14<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Nick_Krassas.jpeg" alt="Nick Krassas">
                  </div>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    16<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Forbes_Lindesay.jpg" alt="Forbes Lindesay">
                  </div>
                  <h4 class="accordion-title">GitHub Automation</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    17<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Closing Ceremony - Socializing</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    19<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">After Party</h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========-->
