<!--===============================-->
<!--== Schedule ===================-->
<!--===============================-->
<section id="sessions" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-left">
        <h2>The <b>sessions</b></h2>

        <p>Two tracks of continuous talks.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">SpaceBalls</a></li>
          <li><a href="#tab2" data-toggle="tab">FairLight</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <ul class="accordion">
              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    08<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Registration</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>15</sup>
                  </span>
                  <h4 class="accordion-title">Opening Ceremony</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Nicolas_Frankel.jpeg" alt="Nicolas Frankel">
                  </div>
                  <h4 class="accordion-title">Integration Testing from the Trenches</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    10<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    11<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Nikos_Zinas.jpg" alt="Nikos Zinas">
                  </div>
                  <h4 class="accordion-title">The future of responsive web design: web component queries</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    12<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Benny_Weingarten-Gabbay.jpg" alt="Benny Weingarten-Gabbay">
                  </div>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    13<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Lunch Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    14<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Kostis_Kapelonis.jpg" alt="Kostis Kapelonis">
                  </div>
                  <h4 class="accordion-title">You Service is not Rest</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    15<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Tim_Perry.jpg" alt="Tim Perry">
                  </div>
                  <h4 class="accordion-title">Your Web Stack Would Betray You In An Instant</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    17<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Closing Ceremony - Socializing</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    19<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">After Party</h4>
                </a>
              </li>

            </ul>
          </div>

          <div class="tab-pane fade" id="tab2">
            <ul class="accordion">
              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    08<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Registration</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>15</sup>
                  </span>
                  <h4 class="accordion-title">Opening Ceremony</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Christian_Heilmann.jpg" alt="Christian Heilman">
                  </div>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    10<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    11<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/mathias_bynens.jpg" alt="Mathias Bynens">
                  </div>
                  <h4 class="accordion-title">Stay Tuned</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    12<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Heinz_Kabutz.jpg" alt="Heinz Kabutz">
                  </div>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    13<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Lunch Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    14<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Nick_Krassas.jpeg" alt="Nick Krassas">
                  </div>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    15<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">TBA</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <img src="images/speakers/Forbes_Lindesay.jpg" alt="Mathias Bynens">
                  </div>
                  <h4 class="accordion-title">GitHub Automation</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    17<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Closing Ceremony - Socializing</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    19<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">After Party</h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========-->
