<!--===============================-->
<!--== Schedule ===================-->
<!--===============================-->
<section id="sessions" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>The <b>sessions</b></h2>

        <p>Two tracks of continuous talks.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">SpaceBalls</a></li>
          <li><a href="#tab2" data-toggle="tab">FairLight</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <ul class="accordion">
              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    08<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Registration</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>15</sup>
                  </span>
                  <h4 class="accordion-title">Opening Ceremony</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Nicolas Frankel</small>
                    <img src="images/speakers/Nicolas_Frankel.jpeg" alt="Nicolas Frankel">
                  </div>
                  <h4 class="accordion-title">Integration Testing from the Trenches</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    When one uses Test-Driven Development, has more then 90% test coverage and the best Sonar metrics
                    ever seen, and still finds regular bugs in his application, it is time for something more. Unit
                    Testing is like testing a car's every nuts and bolts while Integration Testing is like leading it on
                    a test drive: one cannot achieve high internal quality without the other.
                  </p>

                  <p>
                    However, Integration Testing might seem very complex when put in place for the first several times;
                    I have made many mistakes and have lost much time. In this presentation, I will present tools that
                    helped me tremendously in Integration Testing, as well as proven tactics to get the best out of your
                    tests.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    10<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    11<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Nikos Zinas</small>
                    <img src="images/speakers/Nikos_Zinas.jpg" alt="Nikos Zinas">
                  </div>
                  <h4 class="accordion-title">The future of responsive web design: web component queries</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    Change your way of thinking about responsive web design, put your focus on components.
                  </p>

                  <p>
                    Web components are becoming a part of our mainstream developer toolset, and the future is all about
                    reusing and sharing components. To take the next big step in responsive web design though, we need
                    to make sure that these components adapt to different scenarios and different layouts.
                  </p>

                  <p>
                    In this talk we will see how we can combine web components with the concept of element queries and
                    create responsive components that can adapt to their environment.
                  </p>
                </div>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    12<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Benny Weingarten-Gabbay</small>
                    <img src="images/speakers/Benny_Weingarten-Gabbay.jpg" alt="Benny Weingarten-Gabbay">
                  </div>
                  <h4 class="accordion-title">iOS real time content modifications using websockets</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    When developing web apps, one can open FireBug and make changes to texts and images on the spot,
                    immediately seeing the effect. When developing mobile applications, each change requires code
                    modification, recompile and a reinstall. This makes the development cycle of mobile application
                    longer and more tedious.
                  </p>

                  <p>
                    In this talk I present BetterContent, a tool that allows editing of an iOS mobile app in runtime, in
                    a fun and easy way. I'll talk
                    about:<br/>
                    - Motivation and need for a proper DevTools for iOS and Android application<br/>
                    - Current solutions that exist out there (such as Flipboard FLEX)<br/>
                    - Coding techniques I use on the native side (iOS, cocoapods)<br/>
                    - Websokets and how I implemented them using open source tools and free hosting on Heroku using
                    node.js.<br/>
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    13<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Lunch Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    14<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Kostis Kapelonis</small>
                    <img src="images/speakers/Kostis_Kapelonis.jpg" alt="Kostis Kapelonis">
                  </div>
                  <h4 class="accordion-title">Your Service is not Rest</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    Rest services are now everywhere. Most big companies (facebook,amazon, linke-in) offer programmatic
                    API to external developers. However developing a REST API on your own is very hard if you don't
                    avoid some common pitfalls. In this talk we will defind what REST is, what REST isn't and the good
                    values of a rest API
                  </p>
                </div>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    15<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Tim Perry</small>
                    <img src="images/speakers/Tim_Perry.jpg" alt="Tim Perry">
                  </div>
                  <h4 class="accordion-title">Your Web Stack Would Betray You In An Instant</h4>
                </a>

                <div class="accordion-body">
                  <p>Securely setting up a web stack today is a tricky balancing act, as you g
                    ingerly balance frameworks and services and tools all atop one another, ever higher, to get all mod
                    cons happily running together safely and correctly. One security flaw though, and the whole pile
                    tumbles down on you to throw your customer passwords to the world.
                  </p>

                  <p>
                    In this talk we take a stroll down through a modern web stack and examine some recent major security
                    breakages in each layer to see how they work and why. With any luck we can work out how to avoid
                    this sort of thing in future too, when either using or building such tools, but if all else fails we
                    can at least relax from all the careful balancing with a little schadenfreude.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    16<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Kuba Waliński</small>
                    <img src="images/speakers/kuba.jpg" alt="Kuba Waliński">
                  </div>
                  <h4 class="accordion-title">Getting started with Meteor</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    The world of JavaScript Frameworks is constantly evolving. It seems that almost every month there is
                    a brand new thing that will revolutionise web development. However, having a closer look you don’t
                    really see much revolutionary stuff in those new frameworks - they are usually just a small step
                    forward from the previous thing.
                  </p>

                  <p>
                    At least that’s how I felt in the past few years of doing
                    JavaScript. Until I discovered Meteor, that is. It was enough to complete the getting started
                    tutorial to realise that I’m dealing with a potential game-changer. First imagine that all
                    communications happen via web sockets (way faster than REST API calls over HTTP). Then realise that
                    you have a full blown MongoDB implementation accessible on the client side. Finally, remember that
                    from now on you just need one programming language - JavaScript - to implement the whole application
                    - from the client-side through to the back-end and all the way down to the database.
                  </p>

                  <p>In this talk
                    you will see all this goodness brought together in one great package that is called Meteor.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    17<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Closing Ceremony - Socializing</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    20<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">After Party (@ <span class="after-party-venue"
                                                                   data-href="https://www.facebook.com/pages/Cantina-Tropicana/228214083888307">Cantina Tropicana</span>)
                  </h4>
                </a>
              </li>

            </ul>
          </div>

          <div class="tab-pane fade" id="tab2">
            <ul class="accordion">
              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    08<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Registration</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>15</sup>
                  </span>
                  <h4 class="accordion-title">Opening Ceremony</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Christian Heilman</small>
                    <img src="images/speakers/Christian_Heilmann.jpg" alt="Christian Heilman">
                  </div>
                  <h4 class="accordion-title">Crack, Train, Fix, Release</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    The way we deal with new technologies of the web is changing and many new developers start in a
                    world where they use and discard off-the-shelf open source solutions without much analysis.
                    Releasing things quickly is paramount and there are not many repercussions - it seems.
                  </p>

                  <p>
                    In this talk
                    Chris Heilmann of Microsoft will talk about problems we bring to the web by being too quick and
                    assuming too much and he'll show how old-school quality thinking can help us deliver and be proud of
                    what we do.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    10<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    11<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Mathias Bynens</small>
                    <img src="images/speakers/mathias_bynens.jpg" alt="Mathias Bynens">
                  </div>
                  <h4 class="accordion-title">JavaScript ♥ Unicode</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    In this talk we’ll take a look at the various ways JavaScript relies on Unicode, what the
                    consequences are for JavaScript developers wishing to support full Unicode, and how the upcoming
                    ECMAScript 6 (or ES 2015 as it’s being called nowadays) will improve this.
                  </p>
                </div>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    12<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Heinz Kabutz</small>
                    <img src="images/speakers/Heinz_Kabutz.jpg" alt="Heinz Kabutz">
                  </div>
                  <h4 class="accordion-title">Live Productive Coder</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    What makes some coders so much more productive than others? Good coders have to be lazy. The right
                    amount of lazy. Not too lazy, where everything is copy and pasted also not to eager, where every new
                    feature also requires brand-new implementation. In this talk, Heinz Kabutz will demonstrate some of
                    the techniques that he uses to avoid reinventing the wheel.
                  </p>

                  <p>
                    We start by looking at the IDE and show
                    how shortcuts and a bit of automation can save us a lot of work. Smart templates produce consistent
                    code, but even better is the use of Java 8 lambas, which we can use to define our coding idioms. We
                    will also talk about refactoring and hear some of the interesting stories of the finance industry,
                    where refactoring is often not an option or severely restricted.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    13<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Lunch Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    14<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Ian Miell</small>
                    <img src="images/speakers/Ian_Miell.jpg" alt="Ian Miell">
                  </div>
                  <h4 class="accordion-title"> Introduction to Docker: What is it and why should I care?</h4>
                </a>

              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    15<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Nick Krassas</small>
                    <img src="images/speakers/Nick_Krassas.jpeg" alt="Nick Krassas">
                  </div>
                  <h4 class="accordion-title">Fun with XXE</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    An XML External Entity attack is a type of attack against an application that parses XML input. This
                    attack occurs when XML input containing a reference to an external entity is processed by a weakly
                    configured XML parser. This attack may lead to the disclosure of confidential data, denial of
                    service, port scanning from the perspective of the machine where the parser is located, and other
                    system impacts
                  </p>
                </div>

              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    16<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Forbes Lindesay</small>
                    <img src="images/speakers/Forbes_Lindesay.jpg" alt="Forbes Lindesay">
                  </div>
                  <h4 class="accordion-title">GitHub Automation</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    GitHub has one of the best REST APIs you'll ever see. Pretty much any task in GitHub can be
                    automated. Tired of updating code after a feature gets deprecated? Write a bot for that. Need to add
                    the repository field to all your package.json files? Script it. You can even use GitHub as the
                    backend for an entire application to take advantage of its built in collaboration features. This
                    talk will take you through how to write you own GitHub automation code in JavaScript and give you
                    some ideas on how to use your new-found powers for good.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    17<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Closing Ceremony - Socializing</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    20<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">After Party (@ <span class="after-party-venue"
                                                                   data-href="https://www.facebook.com/pages/Cantina-Tropicana/228214083888307">Cantina Tropicana</span>)
                  </h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========-->
