<!--===============================-->
<!--== Speakers ===================-->
<!--===============================-->
<section id="speakers" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our
          <b>speakers</b>
        </h2>
        <p>...will be announced soon!</p>
        <p class="cfp-moto">
          Do you want to be one of our <b>awesome</b> DEVit speakers?
        </p>
        <a href="https://docs.google.com/forms/d/1WOPx_vhoXwR4HBYp3HVAkr5OkV-ysiYbWz4WINsCR_Q/viewform" class="buy-ticket cfp-btn">Take your spot</a>
      </div>
    </div>
  </div>
  <!--== Speaker Card template -->
  <!--
   <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="http://placehold.it/248x248" alt="Awesome Speaker">
        <div class="speaker-info">
          <h3><b>Awesome</b><br/> Speaker</h3>
          <p>
            ...
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
  </div> -->
</section>
<!--==========-->
