<!--===============================-->
<!--== Speakers ===================-->
<!--===============================-->
<section id="speakers" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our <b>speakers</b></h2>
        <p>Awesome people you will listen to and meet.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/mathias_bynens.jpg" alt="Mathias Bynens">
        <div class="speaker-info">
          <h3><b>Mathias</b><br/> Bynens</h3>
          <p>
            Mathias is a Belgian web standards freak. He likes HTML, CSS, JavaScript, Unicode, performance, and security.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/mathias" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/mathiasbynens" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Christian_Heilmann.jpg" alt="Christan Heilmann">
        <div class="speaker-info">
          <h3><b>Christian</b><br/> Heilmann</h3>
          <p>
            Chris Heilmann has dedicated a lot of his time making the web better. A true HTML5/Open Web
            Evangelist.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="http://twitter.com/codepo8" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/codepo8" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="speaker">
        <img src="images/speakers/Heinz_Kabutz.jpg" alt="Heinz Kabutz">
        <div class="speaker-info">
          <h3><b>Dr.Heinz</b><br/> Kabutz</h3>
          <p>
            Heinz is the mastermind behind The Java Specialists' Newsletter. He has a PhD in Computer Science.</p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/heinzkabutz" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/kabutz" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Nicolas_Frankel.jpeg" alt="Nicolas Frankel">
        <div class="speaker-info">
          <h3><b>Nicolas</b><br/> Frankel</h3>
          <p>
            Nicolas Fränkel is focused on Java and JavaEE, but he's narrowed interests like Software Quality and Rich Internet Applications.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/nicolas_frankel" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/nfrankel" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Tim_Perry.jpg" alt="Tim Perry">
        <div class="speaker-info">
          <h3><b>Tim</b> <br/> Perry</h3>
          <p>
            Tim Perry is a technical lead and the open-source champion at Softwire and a contributor on Mockito, Moment.js & Knockout.js.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/pimterry" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/pimterry" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Kostis_Kapelonis.jpg" alt="Kostis Kapelonis">
        <div class="speaker-info">
          <h3><b>Kostis</b><br/> Kapelonis</h3>
          <p>
            Kostis is a Software Engineer who loves clean and compact code, simple solutions and modular distributed systems.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://github.com/kkapelon" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Forbes_Lindesay.jpg" alt="Forbes Lindesay">
        <div class="speaker-info">
          <h3><b>Forbes</b><br/> Lindesay</h3>
          <p>
            Node.js developer with a passion for open source, maintainer of <a href="http://jade-lang.com" target="_blank" title="Jade Language">Jade Lang</a> and Promises/A+ spec evangelist.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/ForbesLindesay" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/ForbesLindesay/" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Nikos_Zinas.jpg" alt="Nikos Zinas">
        <div class="speaker-info">
          <h3><b>Nikos</b><br/> Zinas</h3>
          <p>
            Nikos' focus is designing solutions for large teams, helping companies scale and setup frontend architectures.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/nzinas" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/zinas" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Nick_Krassas.jpeg" alt="Nick Krassas">
        <div class="speaker-info">
          <h3><b>Nick</b><br/> Krassas</h3>
          <p>
            Nicolas is a security researcher passionate with all sort of things like security and system administration.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/Dinosn" target="_blank" class="fa fa-twitter"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Benny_Weingarten-Gabbay.jpg" alt="Benny Weingarten-Gabbay">
        <div class="speaker-info">
          <h3><b>Benny</b><br/>Weingarten-Gabbay</h3>
          <p>
            Senior Software Engineer with 15 years of experience. Currently working at eBay.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/gardenofwine" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/gardenofwine" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/Ian_Miell.jpg" alt="Ian Miell">
        <div class="speaker-info">
          <h3><b>Ian</b><br/>Miell</h3>
          <p>
            Spent over a decade maintaining some of the biggest e-Commerce systems, now generally known as 'a Docker
            guy'.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/ianmiell" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/ianmiell" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="speaker">
        <img src="images/speakers/kuba.jpg" alt="Kuba Waliński">
        <div class="speaker-info">
          <h3><b>Kuba</b><br/>Waliński</h3>
          <p>
            Kuba has 7+ year career as an ASP.NET/C# developer but now he's doing his best to earn the title of a JS
            Ninja.
          </p>
        </div>
        <ul class="speaker-contacts">
          <li><a href="https://twitter.com/kubawalinski" target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://github.com/kubawalinski" target="_blank" class="fa fa-github"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==========-->
