<!--===============================-->
<!--== Sponsors ===================-->
<!--===============================-->
<section id="sponsors" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our <b>sponsors</b></h2>
        <p>We must thank these guys for their support.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-01.png" alt="Partner 1">
      </div>
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-02.png" alt="Partner 2">
      </div>
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-03.png" alt="Partner 3">
      </div>
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-04.png" alt="Partner 4">
      </div>
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-05.png" alt="Partner 5">
      </div>
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-06.png" alt="Partner 6">
      </div>
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-07.png" alt="Partner 7">
      </div>
      <div class="col-sm-6 col-md-3 partner">
        <img src="images/demo/partners/logo-08.png" alt="Partner 8">
      </div>
    </div>
  </div>
</section>
<!--==========-->
