<!--===============================-->
<!--== Tickets ====================-->
<!--===============================-->
<section id="tickets" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>We are officially <b>SOLD OUT ;)</b></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="pricing-table">
        <div class="table-header">
          <h3 class="early-bird-label">
            <a title="Get your ticket now for DEVit Conf 2015">
            Early Bird (Ends 15/03/2015)
            </a>
          </h3>
          <b class="accent">40<sup>€</sup></b>
          <small>Both Tracks included</small>
        </div>
        <ul class="table-features">
          <li class="on">Entrance</li>
          <li class="on">Coffee Break</li>
          <li class="on">Lunch</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pricing-table">
        <div class="table-header">
          <h3 class="early-bird-label">
            <a href="http://devitconf2015.eventzilla.net/" title="Get your ticket now for DEVit Conf 2015">
              Normal</a>
          </h3>
          <b class="accent">60<sup>€</sup></b>
          <small>Both Tracks included</small>
        </div>
        <ul class="table-features">
          <li class="on">Entrance</li>
          <li class="on">Coffee Break</li>
          <li class="on">Lunch</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==========-->
