<!--===============================-->
<!--== Tickets ====================-->
<!--===============================-->
<section id="tickets" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Get your ticket now for DEVit Conf 2016</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="pricing-table">
        <div class="table-header">
          <h3 class="sold-out">
            Blind Bird
          </h3>
          <b class="accent">25<sup>€</sup></b>
          <small>Both Tracks included</small>
        </div>
        <ul class="table-features">
          <li class="on">Entrance</li>
          <li class="on">Coffee Break</li>
          <li class="on">Lunch</li>
        </ul>
        <a href="javascript:;" title="SOLD OUT" class="buy-ticket sold-out">SOLD OUT</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pricing-table">
        <div class="table-header">
          <h3 class="sold-out">
            Early Bird
          </h3>
          <b class="accent">40<sup>€</sup></b>
          <small>Both Tracks included</small>
        </div>
        <ul class="table-features">
          <li class="on">Entrance</li>
          <li class="on">Coffee Break</li>
          <li class="on">Lunch</li>
        </ul>
        <a href="javascript:;" title="SOLD OUT" class="buy-ticket sold-out">SOLD OUT</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pricing-table">
        <div class="table-header">
          <h3>
              Normal
          </h3>
          <b class="accent">60<sup>€</sup></b>
          <small>Both Tracks included</small>
        </div>
        <ul class="table-features">
          <li class="on">Entrance</li>
          <li class="on">Coffee Break</li>
          <li class="on">Lunch</li>
        </ul>
        <a href="http://devit.eventzilla.net/" title="Get your ticket now for DEVit Conf 2016" class="buy-ticket">Get your ticket</a>
      </div>
    </div>
  </div>
</section>
<!--==========-->
