<!--===============================-->
<!--== Tickets ====================-->
<!--===============================-->
<section id="tickets" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-left">
        <h2>Join <b>now</b></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="pricing-table">
        <div class="table-header">
          <h3><a href="http://devitconf2015.eventzilla.net/">Early Bird (Ends 28/02/2015)</a></h3>
          <b class="accent">40<sup>€</sup></b>
        </div>
        <ul class="table-features">
          <li class="on">Entrance</li>
          <li class="on">Coffee Break</li>
          <li class="on">Lunch</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pricing-table">
        <div class="table-header">
          <h3><a href="http://devitconf2015.eventzilla.net/">Normal</a></h3>
          <b class="accent">50<sup>€</sup></b>
        </div>
        <ul class="table-features">
          <li class="on">Entrance</li>
          <li class="on">Coffee Break</li>
          <li class="on">Lunch</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==========-->
