<!--===============================-->
<!--== Workshops ===================-->
<!--===============================-->
<section id="workshops">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>The <b>Workshops</b></h2>

        <p>Be part ouf our awesome workshops.</p>
      </div>
    </div>
  </div>
  <div class="row">
      <ul class="accordion">

        <li>
          <a class="accordion-heading">
            <div class="schedule-speaker">
              <small class="hidden-xs hidden-sm">George Katsiampas</small>
            </div>
            <h4 class="accordion-title">Skroutz redesign: how to approach
              Card Design & SASS content-specific breakpoints</h4>
          </a>

          <div class="accordion-body">
            <p>
              The workshop is a case study about the methodology, the procedure
              and the technical solutions that we followed in the recent
              redesign of Skroutz.gr.
            </p>
            <p>
              Specifically, we will demonstrate the challenges and needs
              we tried to solve through the application of Card design,
              the solutions suggested and finally how we managed to
              implement these solutions in HTML & CSS, keeping our
              codebase clean and maintainable.
            </p>
            <p>
              This workshop is about front-end developers and designers
              who are familiar with basic design & Web UX terms, responsive
              design, and those able to understand SASS usage.
            </p>
            <p>
              Hands-on/interactive, but laptop is not required.
            </p>
          </div>
        </li>

        <li>
          <a class="accordion-heading">
            <div class="schedule-speaker">
              <small class="hidden-xs hidden-sm">Sokratis Vidros / Nikos Kostoulas</small>
            </div>
            <h4 class="accordion-title">Building a workable Chrome
              Extension in React+Redux</h4>
          </a>

          <div class="accordion-body">
            <p>
              Written in HTML, Javascript and CSS, Chrome Extensions are
              made up of various different pieces, namely the background
              script, the content script, popups and option dropdowns.
              In this workshop we will demonstrate a lean paradigm based
              on Redux to facilitate communication between the different
              building blocks and we will combine React with shadow DOM
              gimmicks to accomplish better content script encapsulation.
            </p>
            <p>
              This is for everyone.
            </p>
            <p>
              Laptop is required.
            </p>
          </div>
        </li>

        <li>
          <a class="accordion-heading">
            <div class="schedule-speaker">
              <small class="hidden-xs hidden-sm">Petros Amiridis</small>
            </div>
            <h4 class="accordion-title">GitHub Patchwork (for the more advanced users)</h4>
          </a>

          <div class="accordion-body">
            <p>
              Patchwork http://patchwork.github.io/ is a self-directed,
              hands-on workshop for learning Git and GitHub. The atmosphere
              is casual and informal; it is not an event full of presented
              tutorials and copious note-taking. You will be able to go
              at your own pace, with the help of a community mentor
              nearby in case you run into any trouble.
            </p>
            <p>
              This is for anyone that wants to learn how to use or
              already uses GitHub. Both beginners and intermediate users.
            </p>
            <p>
              Hands-on, self-paced, you need a laptop and some
              preliminary work a day or two before the workshop.
            </p>
          </div>
        </li>
      </ul>
  </div>
  <div class="row">
      <div class=" col-lg-push-3 col-lg-6">
        <a href="https://docs.google.com/forms/d/1CJOb8RxtE2hSau669_6XpLmo-EADePGdS14_RQmtikg/viewform" title="signup for a workshop " class="button btn-block btn-action">signup for a workshop </a>
      </div>
  </div>
</section>
<!--==========-->
