@import "phonon/dist/css/phonon";

$blue: #003F74;

header,
.content,
.header-bar,
body {
  background: none;
}

.header-bar .btn,
.header-bar .title,
.content-header .btn,
.content-header .title {
  color: #003F74;
}

.header-bar .title,
.content-header .title {
  font-weight: bold;
  font-size: 26px;
  color: $blue;

  span {
    opacity: 0.5;
  }
}

.list li .item-content {
  line-height: 25px;
  width: 250px;
}
.schedule-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.schedule-item__title {
  font-weight: 500;
  color: $blue;
  font-size: 16px;
}
.schedule-item__duration,
.schedule-item__name {
  font-size: 14px;
  font-weight: lighter;
}
.talk-page__speaker-img,
.schedule-item__img {
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.section {
  border-radius: 3px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
  width: 80%;
  margin: 20px auto;
  padding: 15px;

  &:after{
    clear: both;
    content: "";
    display: block;
  }
}

.speaker-page .speaker__img {
  width: 100px;
  margin-top: 50px
}

.talk-page,
.speaker-page {
  background: url(/assets/images/live/header.svg), #F7FCFF;
  background-size: 100%;
  background-repeat: no-repeat;
}

.back-btn {
  position: absolute;
  left: 0;
  top: 50px;
  background: none;
}
.talk-page .content-header,
.speaker-page .content-header {
  color: white;
  text-align: center;
  margin-top: 50px;

  .center {
    top: 50px;
  }

  .type {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.4;
  }

  .title {
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .duration {
    font-size: 12px;
    font-weight: lighter;
  }
}
.talk-page .content-header .btn,
.speaker-page .content-header .btn,
.talk-page .content-header .title,
.speaker-page .content-header .title,
.talk-page .header-bar .btn,
.speaker-page .header-bar .btn,
.talk-page .header-bar .title,
.speaker-page .header-bar .title {
  color: white;
}

.section .btn {
  background: none;
}
