<div class="icons-stack">
  {% for row in include.items %}
    <div class="icons-stack__row">
      {% for item in row %}
        {% if row.size == 1 %}
          <div class="icons-stack__item icons-stack__item--one">
        {% elsif row.size == 2 %}
          <div class="icons-stack__item icons-stack__item--two">
        {% elsif row.size == 3 %}
          <div class="icons-stack__item icons-stack__item--three">
        {% endif %}
        {% if item.img %}
          <a href="{{item.url}}" target="_blank" rel="noopener">
            <img src="{{ item.img }}" alt="{{ item.name }}">
          </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
