{% assign speaker = include.speaker %}
{% assign entry = include.entry %}

<div class="schedule-item">
  <div class="schedule-item__hour">{{entry.hours}}:{{entry.mins}}</div>

  {% if speaker %}
    <div class="schedule-item__image">
      <img
        class="lazy"
        src="/assets/images/new/placeholder-profile-photo.svg"
        data-src="/assets/images/speakers/{{year}}/{{ speaker.image_filename }}"
        alt="{{ speaker.first_name }} {{ speaker.last_name }}">
    </div>
  {% else %}
    <div class="schedule-item__image">
      <span>
        <i class="fas {{entry.type}}"></i>
      </span>
    </div>
  {% endif %}

  <div class="schedule-item__main">
    {% if speaker %}
      <div class="schedule-item__subtitle">{{speaker.first_name}} {{speaker.last_name}}</div>
      <div class="schedule-item__title">{{talk.title}}</div>
    {% else %}
      <div class="schedule-item__title">{{entry.title}}</div>
    {% endif %}
  </div>
</div>
