{% assign speaker = include.speaker %}
{% assign entry = include.entry %}
{% assign talk = include.talk %}

{% if talk.type != 'Workshop' %}
  <div class="schedule-item">
    <div class="schedule-item__hour">{{entry.hours}}:{{entry.mins}}</div>

    {% if speaker %}
      <div class="schedule-item__image">
        {% if speaker == "tba" %}
          <img
            class="lazy"
            src="/assets/images/new/placeholder-profile-photo.svg"
            alt="To be announced">
        {% else %}
            <img
              class="lazy"
              src="/assets/images/new/placeholder-profile-photo.svg"
              data-src="/assets/images/speakers/{{year}}/{{ speaker.image_filename }}"
              alt="{{ speaker.first_name }} {{ speaker.last_name }}">

        {% endif %}
      </div>
    {% else %}
      <div class="schedule-item__image">
        <span>
          <i class="fas {{entry.type}}"></i>
        </span>
      </div>
    {% endif %}

    <div class="schedule-item__main">
      {% if speaker %}
        {% if speaker == "tba" %} 
          <div class="schedule-item__title">
            To Be Announced
          </div>
        {% else %}
          <div class="schedule-item__subtitle">{{speaker.first_name}} {{speaker.last_name}}</div>
          <a
            href="/speakers/{{ speaker.url }}#{{talk.title | slugify}}"
            class="schedule-item__title">
              {{talk.title}}
          </a>

          <div class="tags">
            {% for tag in talk.tags %}
            <span class="tag">
              {{tag}}
            </span>
            {% endfor %}
          </div>

        {% endif %}
      {% else %}
        <div class="schedule-item__title" style="padding-top: 10px;">{{entry.title}}</div>
        {% if entry.title == 'After Party' %}
          <div class="schedule-item__subtitle">
            <a href="https://www.facebook.com/xarchakoslivebar/" target="_blank">Xarhakos La Rosa Negra</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% else %}

  <div class="schedule-item">
    <div class="schedule-item__hour">{{entry.hours}}:{{entry.mins}}</div>

    {% if speaker %}
      <div class="schedule-item__image">
        {% if speaker == "tba" %}
          <img
            class="lazy"
            src="/assets/images/new/placeholder-profile-photo.svg"
            alt="To be announced">
        {% else %}
            <img
              class="lazy"
              src="/assets/images/new/placeholder-profile-photo.svg"
              data-src="/assets/images/speakers/{{year}}/{{ speaker.image_filename }}"
              alt="{{ speaker.first_name }} {{ speaker.last_name }}">
        {% endif %}
      </div>
    {% else %}
      <div class="schedule-item__image">
        <span>
          <i class="fas {{entry.type}}"></i>
        </span>
      </div>
    {% endif %}

    <div class="schedule-item__buy">
      {% if speaker %}
        {% if speaker == "tba" %} 
          <div class="schedule-item__title">
            To Be Announced
          </div>
        {% else %}
          <div class="schedule-item__subtitle">{{speaker.first_name}} {{speaker.last_name}}</div>
          <a
            href="/speakers/{{ speaker.url }}#{{talk.title | slugify}}"
            class="schedule-item__title">
              {% if entry.part %}
                {% if entry.part == 'part_1' %}
                  {{talk.title}} Part 1
                {% elsif entry.part == 'part_2' %}
                  {{talk.title}} Part 2
                {% else %}
                  {{talk.title}} Part 3
                {% endif %} 
              {% else %}
                {{talk.title}} 
              {% endif %}

                <!-- {{talk.title}} 
              }
              {% if entry.part == 'part_1' %}
                {{talk.title}} Part 1
              {% else if entry.part == 'part_2' %}
                {{talk.title}} Part 2
              {% else if entry.part == 'part_3' %}
                {{talk.title}} Part 3
              {% else %}
                {{talk.title}} 
              {% endif %} -->
              
          </a>

          <div class="tags">
            {% for tag in talk.tags %}
            <span class="tag">
              {{tag}}
            </span>
            {% endfor %}
          </div>

        {% endif %}
      {% else %}
        <div class="schedule-item__title">{{entry.title}}</p></div>
      {% endif %}
    </div>

     {% if talk.buyLink %}
      <a
        target="_blank"
        rel="noopener"
        class="schedule__item-cta btn btn-primary"
        href="{{ talk.buyLink }}">
        Buy now
      </a>
    {% endif %}

   
  </div>

{% endif %}