{% assign speaker = include.speaker %}
{% assign entry = include.entry %}
{% assign talk = include.talk %}

{% if talk.type != 'Workshop' %}
  <div class="schedule-item">

    {% include components/workshop/spacetime.html entry=entry %}
    {% include components/workshop/image.html speaker=speaker entry=entry %}

    <div class="schedule-item__main">
      {% if speaker %}
        {% if speaker == "tba" %}
          <div class="schedule-item__title">
            To Be Announced
          </div>
        {% else %}
          <div class="schedule-item__subtitle">{{speaker.first_name}} {{speaker.last_name}}</div>
          <a
            href="/speakers/{{ speaker.url }}#{{talk.title | slugify}}"
            class="schedule-item__title">
              {{talk.title}}
          </a>
          {% include components/tags.html tags=talk.tags %}
        {% endif %}
      {% else %}
        <div class="schedule-item__title" style="padding-top: 10px;">{{entry.title}}</div>
        {% if entry.title == 'After Party' %}
          <div class="schedule-item__subtitle">
            <a href="https://www.facebook.com/xarchakoslivebar/" target="_blank">Xarhakos La Rosa Negra</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% else %}

  <div class="schedule-item">

    {% include components/workshop/spacetime.html entry=entry %}
    {% include components/workshop/image.html speaker=speaker entry=entry %}
    {% include components/workshop/buy.html speaker=speaker talk=talk entry=entry %}

  </div>

{% endif %}
