{% assign speaker = include.speaker %}

<div class="speaker {% if include.speaker_page == true %}speaker--hover{% endif %}">
  <a class="speaker__avatar" href="/speakers/{{speaker.url}}">
    <img
      class="lazy"
      src="/assets/images/new/placeholder-profile-photo.svg"
      data-src="/assets/images/speakers/{{speaker.year}}/{{ speaker.image_filename }}"
      alt="{{ speaker.first_name }} {{ speaker.last_name }}">
  </a>
  {% if include.speaker_page == false %}
    <a class="speaker__name" href="/speakers/{{speaker.url}}">
      <span>
        {{ speaker.first_name }} {{ speaker.last_name }}
      </span>
    </a>
    {% if speaker.tagline.size > 60 %}
      <div class="speaker__title">{{ speaker.tagline | truncate: 60 }}</div>
    {% else %}
      <div class="speaker__title">{{ speaker.tagline }}</div>
    {% endif %}
    {% include components/herefor.html herefor=speaker.hearFor %}
  {% endif %}
  <div class="speaker__hover">
    {% include components/tags.html tags=speaker.tags %}
    {% include components/speaker-social.html social=speaker.social %}
  </div>
</div>
