{% assign speaker = include.speaker %}

<div class="speaker {% if include.speaker_page == true %}speaker--hover{% endif %}">
  <a href="/speakers/{{speaker.year}}/{{speaker.url}}">
    <img class="speaker__avatar" src="/assets/images/speakers/{{speaker.year}}/{{ speaker.image_filename }}" alt="{{ speaker.first_name }} {{ speaker.last_name }}">
  </a>
  {% if include.speaker_page == false %}
    <div class="speaker__name">
      <span>
        {{ speaker.first_name }} {{ speaker.last_name }}
      </span>
    </div>
    <div class="speaker__title">Founder and CEO</div>
  {% endif %}
  <div class="speaker__tags">
    {% for tag in speaker.tags %}
    <span class="speaker__tag">
      {{tag}}
    </span>
    {% endfor %}
  </div>
  <div class="speaker__social">
    {% for social in speaker.social %}
      {% if social[0] == "github" %}
        {% assign icon = "fab fa-github" %}
        {% assign link = "https://github.com/" | append: social[1] %}
      {% endif %}
      {% if social[0] == "twitter" %}
        {% assign icon = "fab fa-twitter" %}
        {% assign link = "https://twitter.com/" | append: social[1] %}
      {% endif %}
      {% if social[0] == "facebook" %}
        {% assign icon = "fab fa-facebook-f" %}
        {% assign link = "https://facebook.com/" | append: social[1] %}
      {% endif %}
      {% if social[0] == "homepage" %}
        {% assign icon = "fas fa-link" %}
        {% assign link = "https://facebook.com/" | append: social[1] %}
      {% endif %}

      <a href="{{ link }}" class="speaker__social__item {{icon}}"></a>

    {% endfor %}
  </div>
</div>
