{% assign speaker = include.speaker %}

<div class="speaker {% if include.speaker_page == true %}speaker--hover{% endif %}">
  <a class="speaker__avatar" href="/speakers/{{speaker.url}}">
    <img
      class="lazy"
      src="/assets/images/new/placeholder-profile-photo.svg"
      data-src="/assets/images/speakers/{{speaker.year}}/{{ speaker.image_filename }}"
      alt="{{ speaker.first_name }} {{ speaker.last_name }}">
  </a>
  {% if include.speaker_page == false %}
    <a class="speaker__name" href="/speakers/{{speaker.url}}">
      <span>
        {{ speaker.first_name }} {{ speaker.last_name }}
      </span>
    </a>
    {% if speaker.tagline.size > 60 %}
      <div class="speaker__title">{{ speaker.tagline | truncate: 60 }}</div>
    {% else %}
      <div class="speaker__title">{{ speaker.tagline }}</div>
    {% endif %}
    {% if speaker.hearFor.first %}
      {% for item in speaker.hearFor %}
        <div class="speaker__type">
          {{ item }}
        </div>
      {% endfor %}
    {% else %}
      <div class="speaker__type">
        {{ speaker.hearFor }}
      </div>
    {% endif %}
  {% endif %}
  <div class="speaker__hover">
    {% include components/tags.html tags=speaker.tags %}
    <div class="speaker__social">
      {% for social in speaker.social %}
        {% if social[0] == "github" %}
          {% assign icon = "fab fa-github" %}
          {% assign link = "https://github.com/" | append: social[1] %}
        {% endif %}
        {% if social[0] == "linkedin" %}
          {% assign icon = "fab fa-linkedin" %}
          {% assign link = social[1] %}
        {% endif %}
        {% if social[0] == "medium" %}
          {% assign icon = "fab fa-medium" %}
          {% assign link = "https://medium.com/@" | append: social[1] %}
        {% endif %}
        {% if social[0] == "twitter" %}
          {% assign icon = "fab fa-twitter" %}
          {% assign link = "https://twitter.com/" | append: social[1] %}
        {% endif %}
        {% if social[0] == "facebook" %}
          {% assign icon = "fab fa-facebook-f" %}
          {% assign link = "https://facebook.com/" | append: social[1] %}
        {% endif %}
        {% if social[0] == "homepage" %}
          {% assign icon = "fas fa-link" %}
          {% assign link = social[1] %}
        {% endif %}
        <a href="{{link}}" class="speaker__social__item" target="blank" rel="noopener">
          <i class="{{icon}}"></i>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
