---
layout: live
title: LIVE DEVit Conference - Thessaloniki 20-21 May 2017
metaTitle: DEVit the 360° Web Development Conference
metaDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /live
custom_js:
- live.bundle.js
---
{% assign speakers=site.data.speakers.2017.speakers %}
{% assign allDayWorkshops=site.data.workshops.2017.allDay %}
{% assign openWorkshops=site.data.workshops.2017.open %}

<schedule class="schedule" data-page="true">
  <header class="header-bar">
    <div class="center">
      <h1 class="title">Session <span>workshops</span></h1>
    </div>
  </header>
  <div class="content">
    <ul class="schedule-list">
      {% for workshop in allDayWorkshops %}
        <li class="schedule-list__item">
          <a class="schedule-list__item-link" href="#!{{workshop.type | slugify}}-{{workshop.name | slugify}}">
            <div class="schedule-list__item-col">
              <span class="schedule-list__item-time">19:00</span>
              <img class="schedule-list__item-avatar" src="{{ workshop.speakerPhoto }}" alt="{{ workshop.name }}">
            </div>
            <div class="schedule-list__item-col">
              <div class="schedule-list__item-talk-title">{{ workshop.title }}</div>
              <div class="schedule-list__item-speaker-name">{{ workshop.name }}</div>
              <div>
                <span class="schedule-list__item-talk-duration">40 min</span>
                <button class="schedule-list__item-feedback-btn">Give feedback</button>
              </div>
            </div>
            <div class="schedule-list__item-col">
              <i class="icon icon-arrow-forward"></i>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</schedule>

{% for speaker in speakers %}
<{{speaker.url}} class="speaker-page" data-page="true">
  <header class="header-bar">
    <a href="#!schedule" class="btn pull-left icon icon-arrow-back"></a>
    <div class="center">
      <img
        src="/assets/images/speakers/2017/{{ speaker.first_name }}_{{ speaker.last_name }}.png" alt="{{ speaker.first_name}} {{speaker.last_name }}"
        class="speaker__img">
      <h1 class="title">{{speaker.first_name}} {{speaker.last_name}}</h1>
      <span class="company">Facebook</span>
    </div>
  </header>
  <div class="content">
    <div class="section">
      <span>About {{speaker.first_name}}</span>
      <p>{{speaker.bio}}</p>
    </div>
  </div>
</{{speaker.url}}>
{% endfor %}

{% for workshop in allDayWorkshops %}
<{{workshop.type | slugify}}-{{workshop.name | slugify}} class="talk-page" data-page="true">
  <header class="header-bar">
    <a href="#!schedule" class="btn pull-left icon icon-arrow-back"></a>
    <div class="center">
      <div class="type">Workshop</div>
      <h1 class="title">{{workshop.title}}</h1>
      <div class="duration">40 min</div>
    </div>
  </header>
  <div class="content">
    <div class="section">
      <span>Description</span>
      <p>{{workshop.description}}</p>
    </div>
    <div class="section">
      <img src="{{workshop.speakerPhoto}}" alt="{{ workshop.name }}" class="pull-left talk-page__speaker-img">
      <p class="pull-left">{{workshop.name}}</p>
      <a href="#!jameshalliday" class="btn pull-right icon icon-arrow-forward"></a>
    </div>
  </div>
</{{workshop.type | slugify}}-{{workshop.name | slugify}}>
{% endfor %}

{% for workshop in openWorkshops %}
<{{workshop.type | slugify}}-{{workshop.name | slugify}} class="talk-page" data-page="true">
  <header class="header-bar">
    <a href="#!schedule" class="btn pull-left icon icon-arrow-back"></a>
    <div class="center">
      <img src="{{workshop.speakerPhoto}}" alt="{{ workshop.name }}"
        class="speaker__img">
      <h1 class="title">{{workshop.name}}</h1>
      <span class="company">Facebook</span>
    </div>
  </header>
  <div class="content">
    <span>About {{workshop.title}}</span>
    <p>{{workshop.description}}</p>
  </div>
</{{workshop.type | slugify}}-{{workshop.name | slugify}}>
{% endfor %}
