---
layout: default
title: Press Page
description: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /press
---

{% include blocks/header.html page="press" %}

<div class="container">
  <div class="block">
    <div class="press-block">
      <div class="block__heading--dark">
        Some copy samples
      </div>
      <p class="leading--dark">
        One liner
      </p>
      <p>
        DEVit, the 360° Web Development Conference
      </p>

      <br/>
      <p class="leading--dark">
        Short description
      </p>
      <p>
        DEVit is the 360° Web Development Conference, frontend, backend, devops, mobile, we want to get you out of your comfort zone and cross pollinate all arts and crafts that make today’s World Wide Web possible.
      </p>
    </div>
    <div class="press-block">
      <div class="block__heading--dark">
        Our logo
      </div>
      <div class="logos">
        <div class="logo">
          <div class="logo__container">
            <img class="" src="/assets/images/new/devit-logo-blue.svg" alt="DEVit logo">
          </div>
          <div class="logo__title">Cover logo</div>
          <div>
            <a rel="noopener noreferrer" target="_blank" rel="noopener" href="/assets/images/new/devit-logo-blue.svg">SVG</a> or
            <a href="">PNG</a>
          </div>
        </div>
        <div class="logo">
          <div class="logo__container">
            <img class="" src="/assets/images/new/devit-logo-grey.svg" alt="DEVit logo">
          </div>
          <div class="logo__title">Dark logo</div>
          <div>
            <a rel="noopener noreferrer" target="_blank" rel="noopener" href="/assets/images/new/devit-logo-grey.svg">SVG</a> or
            <a href="#">PNG</a>
          </div>
        </div>
        <div class="logo">
          <div class="logo__container">
            <img class="" src="/assets/images/new/devit-logo-white.svg" alt="DEVit logo">
          </div>
          <div class="logo__title">White logo</div>
          <div>
            <a rel="noopener noreferrer" target="_blank" rel="noopener" href="/assets/images/new/devit-logo-white.svg">SVG</a> or
            <a href="#">PNG</a>
          </div>
        </div>
        <div class="logo">
          <div class="logo__container">
            <img class="" src="/assets/images/new/devit-logo-black.svg" alt="DEVit logo">
          </div>
          <div class="logo__title">Black logo</div>
          <div>
            <a rel="noopener noreferrer" target="_blank" rel="noopener" href="/assets/images/new/devit-logo-black.svg">SVG</a> or
            <a href="#">PNG</a>
          </div>
        </div>
      </div>
    </div>
    <div class="press-block">
      <div class="block__heading--dark">
        Photos
      </div>
      <div class="photos">
        <div class="photo">
          <img src="/assets/images/new/press/DEVit_2017_1_small.jpg" alt="">
        </div>
        <div class="photo">
          <img src="/assets/images/new/press/DEVit_2017_2_small.jpg" alt="">
        </div>
        <div class="photo">
          <img src="/assets/images/new/press/DEVit_2017_3_small.jpg" alt="">
        </div>
        <div class="photo">
          <img src="/assets/images/new/press/DEVit_2017_4_small.jpg" alt="">
        </div>
        <div class="photo">
          <img src="/assets/images/new/press/DEVit_2017_5_small.jpg" alt="">
        </div>
        <div class="photo">
          <img src="/assets/images/new/press/background.svg" alt="">
          <a rel="noopener noreferrer" target="_blank" rel="noopener" href="https://www.facebook.com/pg/DEVitConf/photos/">Browser all photos <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>

      <p class="leading--dark">
        Photos are copyrighted with <a rel="noopener noreferrer" target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> and it is required that credits will follow them on each usage: Dimitris Tsakiris, <a rel="noopener noreferrer" target="_blank" rel="noopener" href="www.dimitristsakiris.com">www.dimitristsakiris.com</a>
      </p>
    </div>
  </div>
</div>

{% include blocks/footer.html %}
