---
layout: default
title: Workshops
description: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /workshops
---

{% include blocks/header.html page="workshops" %}

<div class="block block-schedule text-center">
  <div class="container">
    <h1 class="block__heading--dark">
      Schedule
    </h1>
    <div class="schedule__nav">
      <a class="schedule__nav-btn schedule__nav-btn--active btn" href="/workshops">Workshops</a>
      <div class="schedule__nav-separator"></div>
      <a class="schedule__nav-btn btn" href="/talks">Talks</a>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <ol>
      <li class="schedule__item">
        <strong class="schedule__item-time">9:30</strong>
        <div class="schedule__item-img">
          <i class="fas fa-ticket-alt"></i>
        </div>
        <div class="schedule__item-copy">
          <strong>Registration</strong>
        </div>
      </li>
    </ol>
  </div>
</div>

{% include blocks/footer.html %}
