---
layout: default
title: Workshops
description: "The 10th of June will be a day dedicated on workshops. View all our sessions below along with their respective instructors and join us for a full day of hands-on experience."
permalink: /workshops
---

{% include blocks/header.html page="workshops" %}
 
<div class="block block-sessions text-center">
  <div class="container">
    <h1 class="block__heading--dark">
      Workshops
    </h1>

    <p>
      The 10th of June will be a day dedicated on workshops. View all our sessions below
      along with their respective instructors and join us for a full day of hands-on
      experience.
    </p>
  </div>
</div>

<div class="block">
  <div class="container">
    {% for session in site.data.talks[site.data.config.currentYear] %}
      {% if session.type == "Workshop" %}
        {% for speaker in site.data.speakers[site.data.config.currentYear].speakers %}
          {% if speaker.url == session.speaker %}
            {% include components/session.html speaker=speaker session=session %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include blocks/subscribe.html %}
{% include blocks/footer.html %}
