---
layout: new
title: DEVit Conference - Thessaloniki 9 June 2018
metaTitle: DEVit the 360° Web Development Conference
metaDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
permalink: /new/index.html
custom_js:
- new.bundle.js
---

{% include blocks/hero.html %}
{% include blocks/early.html %}
{% include blocks/about.html %}
{% include blocks/testimonials.html %}
{% include blocks/cfp.html %}
{% include blocks/cfs.html %}
{% include blocks/tweets.html %}
{% include blocks/footer.html %}
