---
layout: new
title: Speaker Example
description: Explore all speakers that have talked to DEVit.
permalink: /new/speaker-example
---

{% include blocks/header.html %}

{% assign speaker = site.data.speakers['2017'].speakers[0] %}

<div class="speaker-page">
  <div class="speaker-page__header">
    <div class="container">
      <div class="speaker-page__header__left">
        {% include components/speaker.html speaker=speaker speaker_page=true %}
      </div>
      <div class="speaker-page__header__right">
        <h1 class="speaker-page__name">{{ speaker.first_name }} {{ speaker.last_name }}</h1>
        <p class="speaker-page__title">{{ speaker.tagline }}</p>
        <p class="speaker-page__bio">{{ speaker.bio }}</p>
      </div>
    </div>
  </div>

  <div class="talks">
    <div class="talks__tabs">
      <div class="container">
        {% assign talks = "" | split: "" %}
        {% assign years = '2015,2016,2017' | split: ',' %}
        <ul class="nav nav-tabs" role="tablist">
          {% for year in years %}
            {% for talk in site.data.talks[year] %}
              {% if talk.speaker == speaker.url %}
                <li role="{{ year }}" class="active">
                  <a href="#{{ year }}" aria-controls="{{ year }}" role="tab" data-toggle="tab">{{ year }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="talks__content">
      <div class="container">
        <div class="tab-content">
          {% for year in years %}
            {% for talk in site.data.talks[year] %}
              {% if talk.speaker == speaker.url %}
                <div role="tabpanel" class="tab-pane active" id="{{ year }}">
                  <h1>
                    {{ talk.title }}
                  </h1>
                  <p>
                    {{ talk.description }}
                  </p>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include blocks/early.html %}
{% include blocks/footer.html %}
