<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title | append: site.data.config.titlePostfix }}{% else %}{{ site.data.config.defaults.title | append: site.data.config.titlePostfix}}{% endif %}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.config.defaults.description }}{% endif %}">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title | append: site.data.config.titlePostfix }}{% else %}{{ site.data.config.defaults.title | append: site.data.config.titlePostfix}}{% endif %}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.config.defaults.description }}{% endif %}">
  <meta itemprop="image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}{{ site.data.config.defaults.image }}{% endif %}">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@devitconf">

  <meta name="twitter:title" content="{% if page.title %}{{ page.title | append: site.data.config.titlePostfix }}{% else %}{{ site.data.config.defaults.title | append: site.data.config.titlePostfix}}{% endif %}">
  <meta name="twitter:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}{{ site.data.config.defaults.image }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.config.defaults.description }}{% endif %}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | append: site.data.config.titlePostfix }}{% else %}{{ site.data.config.defaults.title | append: site.data.config.titlePostfix}}{% endif %}">
  <meta property="og:site_name" content="devitconf.org">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.config.defaults.description }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}{{ site.data.config.defaults.image }}{% endif %}">
  <meta property="og:type" content="website">

  <link href="/assets/css/main.css" rel="stylesheet" media="screen">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png?v=GvJLOgvboj">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png?v=GvJLOgvboj" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png?v=GvJLOgvboj" sizes="16x16">
  <link rel="manifest" href="/assets/images/favicon/manifest.json?v=GvJLOgvboj">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg?v=GvJLOgvboj" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico?v=GvJLOgvboj">

  <meta name="apple-mobile-web-app-title" content="DEVit Conf">
  <meta name="application-name" content="DEVit Conf">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml?v=GvJLOgvboj">
  <meta name="theme-color" content="#ffffff">

  {% if page.schemaFile %}
    {% include schemas/{{ page.schemaFile }}.html %}
  {% endif %}

  <!-- DO NOT EDIT THIS  -->
  {% if site.analytics.google %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.analytics.google.tracker}}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}

  <!-- Facebook Pixel Code -->
  {% if site.analytics.fb %}
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '{{ site.analytics.fb.tracker}}');
  fbq('track', "PageView");
  </script>
  <noscript><img alt="Facebook pixel" height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id={{ site.analytics.fb.tracker}}&ev=PageView&noscript=1"
  /></noscript>
  {% endif %}
  <!-- End Facebook Pixel Code -->

</head>
<body>

  {{ content }}

  <!-- Add your custom script for a page in the front-matter `custom_js` attribute -->
  <script src="/assets/js/commons.js"></script>
  <script src="/assets/js/layout.bundle.js"></script>
  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script src='/assets/js/{{ js_file }}'></script>
    {% endfor %}
  {% endif %}
  <!-- DO NOT EDIT THIS END -->

</body>
</html>
