<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <head>
    <title>{{ page.title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ page.metaDescription }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.metaTitle }}">
    <meta itemprop="description" content="{{ page.metaDescription }}">
    <meta itemprop="image" content="http://devitconf.org/assets/images/devit-og-general.jpg?1474393691">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@devitconf">
    <meta name="twitter:title" content="{{ page.metaTitle }}">
    <meta name="twitter:image" content="http://devitconf.org/assets/images/devit-og-general.jpg?1474393691">
    <meta name="twitter:description" content="{{ page.metaDescription }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.metaTitle }}">
    <meta property="og:site_name" content="devitconf.org">
    <meta property="og:url" content="http://devitconf.org{{ page.url }}">
    <meta property="og:description" content="{{ page.metaDescription }}">
    <meta property="og:image" content="http://devitconf.org/assets/images/devit-og-general.jpg?1474393691">
    <meta property="og:type" content="website">

    <link href="/assets/css/main.css" rel="stylesheet" media="screen">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png?v=GvJLOgvboj">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png?v=GvJLOgvboj" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png?v=GvJLOgvboj" sizes="16x16">
    <link rel="manifest" href="/assets/images/favicon/manifest.json?v=GvJLOgvboj">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg?v=GvJLOgvboj" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico?v=GvJLOgvboj">
    <meta name="apple-mobile-web-app-title" content="DEVit Conf">
    <meta name="application-name" content="DEVit Conf">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml?v=GvJLOgvboj">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>

    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
