---
layout: legacy
---

{% include legacy/header.html %}

{% include legacy/navigation.html %}


<div class="container content">
  <!--===============================-->
  <!--== Posts ======================-->
  <!--===============================-->

  <section id="posts">

    {{ content }}

  </section>

  <!--==========-->

  <!--===============================-->
  <!--== Footer =====================-->
  <!--===============================-->

  {% include legacy/footer.html %}

  <!--==========-->

</div>
