<section id="about" class="text-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-header">
          <h1 class="h2">The 360° Web Development Conference</h1>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <p>
          Each year we meticulously vet and select remarkable speakers to deliver the best talks
          on web development. Whether it's <b>Frontend</b>, <b>Backend</b>, <b>DevOps</b> or <b>Mobile</b>
          that you care about, join us to learn about the most modern practices and techniques. A truly 360° conference!
        </p>
      </div>
    </div>
    <br/>
    <!-- <div class="row">
      <div class="col-xs-6 col-lg-2">
        <div class="number">
          <b class="accent">2</b>
          Days
        </div>
      </div>
      <div class="col-xs-6 col-lg-2">
        <div class="number">
          <b class="accent">1</b>
          Track
        </div>
      </div>
      <div class="col-xs-6 col-lg-2">
        <div class="number">
          <b class="accent">24</b>
          Speakers
        </div>
      </div>
      <div class="col-xs-6 col-lg-2">
        <div class="number">
          <b class="accent">10</b>
          Talks
        </div>
      </div>
      <div class="col-xs-6 col-lg-2">
        <div class="number">
          <b class="accent">3</b>
          All day workshops
        </div>
      </div>
      <div class="col-xs-6 col-lg-2">
        <div class="number">
          <b class="accent">13</b>
          Open Workshops
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="section-header" style="margin-top: 60px;">
        <h3>Spread the <b>word</b></h3>
        <small>Hashtag: #devitconf </small>
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="pull-left hidden-xs">
          <img class="shareit" src="/assets/images/shareit.png" alt="DEVit share it">
        </div>
        <div class="pull-left">
          <a target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u=http://devitconf.org"
             class="share-box share-box-fb">
            <span class="fa fa-facebook"></span>
            <div class="share-box-count fb-count js-fb-count"></div>
          </a>
        </div>

        <div class="pull-left">
          <a target="_blank" rel="noopener"
             href="https://twitter.com/home?status=Join%20%23DEVitConf%20the%20360%C2%B0%20Web%20Development%20Conference%202020%20Thessaloniki%20Greece%20http://devitconf.org"
             class="share-box share-box-tw">
            <span class="fa fa-twitter"></span>
            <div class="share-box-count tw-count js-tw-count"></div>
          </a>
        </div>

        <div class="pull-left">
          <a target="_blank" rel="noopener"
             href="https://www.youtube.com/channel/UCrKmMv6c6oqZPYC7zzbP-RQ"
             class="share-box share-box-yt">
            <span class="fa fa-youtube-play"></span>
          </a>
        </div>
      </div>
    </div>
  </section>
