<div id="home"></div>
<header id="header" class="header">

  <div class="header-caption">
    <div class="container">
      <div class="box">
        <div class="logo">
          <img src="/assets/images/DevitLogo.svg" alt="DEVit Conference" class="img-responsive"/>
        </div>
        <h1><h1>{{ page.title }}</h1></h1>
      </div>
    </div>
  </div>

  <picture>
    <source srcset="/assets/images/header/screen.jpg" media="(min-width: 1126px)">
    <source srcset="/assets/images/header/tablet.jpg" media="(min-width: 768px)">
    <img class="header-img" srcset="/assets/images/header/mobile.jpg" alt="…">
  </picture>
</header>
