{% assign speaker = page.speaker %}

<ol class="breadcrumb">
  <li><a href="/">DEVit {{site.data.config.currentYear}}</a></li>
  <li><a href="/#speakers">{% if speaker.type == 'mc' %}Masters of Ceremonies{% else %}Speakers{% endif %}</a></li>
  <li class="active">{{ speaker.first_name }} {{ speaker.last_name }}</li>
</ol>
<section>
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src="/assets/images/speakers/{{ page.year }}/{{ speaker.image_filename }}" alt="{{ speaker.first_name}} {{speaker.last_name }}"
          class="img-responsive speaker-image">
    </div>
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>
          <b>{{ speaker.first_name }}</b>
          {{ speaker.last_name }}
          {% if speaker.nickname %}
            <br /><small>({{ speaker.nickname }})</small>
          {% endif %}
        </h2>
        <ul class="speaker-contacts">
          {% if speaker.social.twitter %}
            <li><a href="https://twitter.com/{{speaker.social.twitter}}" target="_blank" rel="noopener" class="fa fa-twitter"></a></li>
          {% endif %}
          {% if speaker.social.github %}
            <li><a href="https://github.com/{{speaker.social.github}}" target="_blank" rel="noopener" class="fa fa-github"></a></li>
          {% endif %}
          {% if speaker.social.linkedin %}
            <li><a href="{{speaker.social.linkedin}}" target="_blank" rel="noopener" class="fa fa-linkedin"></a></li>
          {% endif %}
        </ul>
        <br/><small>{{ speaker.hearFor }}</small>
      </div>
    </div>
    <div class="col-lg-push-3 col-lg-6">
      <p>
        {{ speaker.bio }}
      </p>
    </div>
  </div>
</section>
