{% include blocks/header.html page="speaker" %}

{% assign speaker = page.speaker %}

<div class="speaker-page">
  <div class="speaker-page__header">
    <div class="container">
      <div class="speaker-page__header__left">
        {% include components/speaker.html speaker=speaker speaker_page=true %}
      </div>
      <div class="speaker-page__header__right">
        <h1 class="speaker-page__name">{{ speaker.first_name }} {{ speaker.last_name }}</h1>
        <div class="speaker-page__title">{{ speaker.tagline }}</div>
        <div class="speaker-page__bio">{{ speaker.bio }}</div>
      </div>
    </div>
  </div>

  <div class="talks">
    <div class="talks__tabs">
      <div class="container">
        {% assign years = '2018,2017,2016,2015' | split: ',' %}
        <ul class="nav nav-tabs" role="tablist">
          {% for year in years %}
            {% for talk in site.data.talks[year] %}
            {% if talk.speaker == speaker.url %}
                <li role="{{ talk.title | slugify }}">
                  <a
                    id="#{{ talk.title | slugify }}"
                    href="#{{ talk.title | slugify }}"
                    aria-controls="{{ talk.title | slugify }}"
                    role="tab"
                    data-toggle="tab">
                      {{ year }} {{ talk.type }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="talks__content">
      <div class="tab-content">
        {% for year in years %}
          {% for talk in site.data.talks[year] %}
            {% if talk.speaker == speaker.url %}
              <div role="tabpanel" class="tab-pane" id="{{ talk.title | slugify }}">
                <div class="container">
                  <div class="talk">
                    <h1 class="talk__title">
                      {{ talk.title }}
                    </h1>
                    <div class="talk__description">
                      {{ talk.description }}
                      {% include components/tags.html tags=talk.tags %}

                    <!-- {% if talk.type == "Workshop" %}
                      <div>
                        <p>
                          <b>Skill Level: </b>{{ talk.skill }}
                        </p>
                        <p>
                          <b>Prerequisites: </b>{{ talk.prerequisites }}
                        </p>
                        <p>
                          <b>Covers:</b>
                          <ul>
                          {% for item in talk.covers %}
                          <li>{{ item }}</li>
                          {% endfor %}
                          </ul>
                        </p>
                      </div>
                    {% endif %} -->
                    </div>
                    {% if talk.youtube_url %}
                      <div class="talk__video">
                        <iframe width="100%" height="531" src="https://www.youtube.com/embed/{{talk.youtube_url}}?rel=0&amp;showinfo=0" frameborder="0"
                          allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>
                    {% endif %}
                  </div>
                  <hr>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include blocks/early.html %}
{% include blocks/footer.html %}
