<!--===============================-->
<!--== Schedule ===================-->
<!--===============================-->
<style>
  .accordion-heading:after {
    display: none !important;
  }

  .tab-content > .tab-pane {
    display: block;
    opacity: 1;
  }
</style>
<!--===============================-->
<!--== Schedule ===================-->
<!--===============================-->
<section id="sessions" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>The <b>sessions</b></h2>

        <p>Two tracks of continuous talks.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-tabs">
        <div class="tab-content">
          <div class="tab-pane fade" id="tab2">
            <ul class="accordion">
              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    08<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Registration</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>15</sup>
                  </span>
                  <h4 class="accordion-title">Opening Ceremony</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    09<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Christian Heilman</small>
                    <img src="images/speakers/Christian_Heilmann.jpg" alt="Christian Heilman">
                  </div>
                  <h4 class="accordion-title">Crack, Train, Fix, Release</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    The way we deal with new technologies of the web is changing and many new developers start in a
                    world where they use and discard off-the-shelf open source solutions without much analysis.
                    Releasing things quickly is paramount and there are not many repercussions - it seems.
                  </p>

                  <p>
                    In this talk
                    Chris Heilmann of Microsoft will talk about problems we bring to the web by being too quick and
                    assuming too much and he'll show how old-school quality thinking can help us deliver and be proud of
                    what we do.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    10<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    11<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Mathias Bynens</small>
                    <img src="images/speakers/mathias_bynens.jpg" alt="Mathias Bynens">
                  </div>
                  <h4 class="accordion-title">JavaScript ♥ Unicode</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    In this talk we’ll take a look at the various ways JavaScript relies on Unicode, what the
                    consequences are for JavaScript developers wishing to support full Unicode, and how the upcoming
                    ECMAScript 6 (or ES 2015 as it’s being called nowadays) will improve this.
                  </p>
                </div>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    12<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Heinz Kabutz</small>
                    <img src="images/speakers/Heinz_Kabutz.jpg" alt="Heinz Kabutz">
                  </div>
                  <h4 class="accordion-title">Live Productive Coder</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    What makes some coders so much more productive than others? Good coders have to be lazy. The right
                    amount of lazy. Not too lazy, where everything is copy and pasted also not to eager, where every new
                    feature also requires brand-new implementation. In this talk, Heinz Kabutz will demonstrate some of
                    the techniques that he uses to avoid reinventing the wheel.
                  </p>

                  <p>
                    We start by looking at the IDE and show
                    how shortcuts and a bit of automation can save us a lot of work. Smart templates produce consistent
                    code, but even better is the use of Java 8 lambas, which we can use to define our coding idioms. We
                    will also talk about refactoring and hear some of the interesting stories of the finance industry,
                    where refactoring is often not an option or severely restricted.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    13<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Lunch Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    14<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Ian Miell</small>
                    <img src="images/speakers/Ian_Miell.jpg" alt="Ian Miell">
                  </div>
                  <h4 class="accordion-title"> Introduction to Docker: What is it and why should I care?</h4>
                </a>

              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    15<sup>00</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Nick Krassas</small>
                    <img src="images/speakers/Nick_Krassas.jpeg" alt="Nick Krassas">
                  </div>
                  <h4 class="accordion-title">Fun with XXE</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    An XML External Entity attack is a type of attack against an application that parses XML input. This
                    attack occurs when XML input containing a reference to an external entity is processed by a weakly
                    configured XML parser. This attack may lead to the disclosure of confidential data, denial of
                    service, port scanning from the perspective of the machine where the parser is located, and other
                    system impacts
                  </p>
                </div>

              </li>

              <li class="conf-related">
                <a class="accordion-heading break-heading">
                  <span class="schedule-time accent">
                    16<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">Coffee Break</h4>
                </a>
              </li>

              <li>
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    16<sup>30</sup>
                  </span>

                  <div class="schedule-speaker">
                    <small class="hidden-xs hidden-sm">Forbes Lindesay</small>
                    <img src="images/speakers/Forbes_Lindesay.jpg" alt="Forbes Lindesay">
                  </div>
                  <h4 class="accordion-title">GitHub Automation</h4>
                </a>

                <div class="accordion-body">
                  <p>
                    GitHub has one of the best REST APIs you'll ever see. Pretty much any task in GitHub can be
                    automated. Tired of updating code after a feature gets deprecated? Write a bot for that. Need to add
                    the repository field to all your package.json files? Script it. You can even use GitHub as the
                    backend for an entire application to take advantage of its built in collaboration features. This
                    talk will take you through how to write you own GitHub automation code in JavaScript and give you
                    some ideas on how to use your new-found powers for good.
                  </p>
                </div>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    17<sup>30</sup>
                  </span>
                  <h4 class="accordion-title">Closing Ceremony - Socializing</h4>
                </a>
              </li>

              <li class="conf-related">
                <a class="accordion-heading">
                  <span class="schedule-time accent">
                    19<sup>00</sup>
                  </span>
                  <h4 class="accordion-title">After Party (@ <span class="after-party-venue"
                                                                   data-href="https://www.facebook.com/pages/Cantina-Tropicana/228214083888307">Cantina Tropicana</span>)
                  </h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========-->
