<!--===============================-->
<!--== Sponsors ===================-->
<!--===============================-->
<section id="sponsors" class="wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
        <h2>Our <b>sponsors</b></h2>
        <p>
          We must thank these guys for their support. If you don’t want to miss this opportunity and you are willing to  offer your support as a sponsor please see our
          <a href="https://docs.google.com/document/d/1Yp9kTlxmmbLqbIhiEQFUbJ8n1ndXLmPKHj5H-8az88I/edit" title="DEVit Sponsorship Proposal">sponsorship proposal.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-header text-center">
      <h3><b>Platinum</b></h3>
    </div>
  </div>
  <div class="row">
    <div class="partners premium-partners">
      <div class="col-md-offset-4 col-sm-6 col-md-4 partner">
        <a href="http://www.amdtelecom.net/" target="_blank">
          <img src="images/sponsors/amd-telecom_logo.jpg" alt="AMD Telecom" class="img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-header text-center">
      <h3>Premium</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners premium-partners">
      <div class="col-sm-6 col-md-4 partner">
        <a href="http://ots.gr" target="_blank">
          <img src="images/sponsors/ots.jpg" alt="OTS" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 partner">
        <a href="http://skroutz.gr" target="_blank">
          <img src="images/sponsors/skroutz.jpg" alt="Skroutz.gr" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 partner">
        <a href="http://miipharos.com/" target="_blank">
          <img src="images/sponsors/miipharos_logo.jpg" alt="Miipharos" class="img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-header text-center">
      <h3>Standard</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-sm-6 partner">
        <a href="http://trasys.be" target="_blank">
          <img src="images/sponsors/trasys.gif" alt="Trasys" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 partner">
        <a href="http://www.intrasoft-intl.com/" target="_blank">
          <img src="images/sponsors/instrasoft.jpg" alt="Intrasoft" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 partner">
        <a href="http://citycollege.sheffield.eu/" target="_blank">
          <img src="images/sponsors/citycollege.jpg" alt="City College of Sheffield" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 partner">
        <a href="http://www.netstudio.gr/" target="_blank">
          <img src="images/sponsors/netstudiologo.jpg" alt="Netstudio" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 partner">
        <a href="http://www.i4g.gr/" target="_blank">
          <img src="images/sponsors/i4G_logo.jpg" alt="i4G" class="img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-header text-center">
      <h3>Media</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-md-offset-4 col-sm-6 col-md-4 partner">
        <a href="http://www.teiserron.gr/" target="_blank">
          <img src="images/sponsors/teiserron-logo.jpg" alt="TeiSerron" class="img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-header text-center">
      <h3>Auspices</h3>
    </div>
  </div>
  <div class="row">
    <div class="partners">
      <div class="col-md-offset-4 col-sm-6 col-md-4 partner">
        <a href="http://www.thessaloniki.gr/portal/page/portal/DimosThessalonikis" target="_blank">
          <img src="images/sponsors/thessaloniki-municipality.jpg" alt="Municipality of Thessaloniki"
             class="img-responsive">
        </a>
      </div>
    </div>
  </div>

</section>
<!--==========-->
