---
layout: default
title: DEVit Conference - Thessaloniki 20 May 2016
metaTitle: DEVit the 360° Web Development Conference
metaDescription: Find out the latest trends and techniques for Frontend, Backend, DevOps and Mobile! Meet all the cool people! We are 360° and proud of it!
---

{% include header.html %}

{% include navigation.html %}

<div class="container content">
<section>


  <div class="row">
    <div class="col-sm-12">
      <div class="section-header text-center">
          <h2>Our
            <b>Press Kit</b>
          </h2>
        </div>
    </div>

    <!-- Press kit download buttons -->
    <!-- <div class="text-center">
      <a href="devit-conference-presskit-english.zip" class="button btn-action" download>
         Download (English)
       </a>
      <span class="hidden-xs">&nbsp;</span>
      <a href="devit-conference-presskit-greek.zip" class="button btn-action" download>
         Κατεβαστε (Ελληνικα)
       </a>
    </div> -->

    <!-- Press releases -->
    <div class="row">
      <div class="col-lg-12">
        <h3>
          <b>Press Releases</b>
        </h3>
      </div>
      <!-- <div class="col-md-6">
        <b>Press Release 2016 - English</b>
        <p>

        </p>
      </div> -->
      <div class="col-md-6">
        <b>Δελτίο Τύπου 2016</b>
        <p>
          <a href="2016-03-31-DEVit-announce-GR.docx" target="_blank" download>docx</a> &bull;
          <a href="2016-03-31-DEVit-announce-GR.rtf" target="_blank" download>rtf</a> &bull;
          <a href="2016-03-31-DEVit-announce-GR.pdf" target="_blank">pdf</a>
        </p>
      </div>
    </div>

<div class="row">
  <div class="col-lg-12">
    <h3>
      <b>Copies</b>
    </h3>
  </div>
  <div class="col-md-6">
    <b>Με μια φράση</b>
    <p>
      DΕVit, το τεχνολογικό συνέδριο 360° μοιρών για τ​oν σύγχρονο Παγκόσμιο Ιστό
    </p>
    <b>Σύντομη περιγραφή</b>
    <p>
      Το DEVit είναι το Web συνέδριο 360° μοιρών για frontend, backend, devops και mobile. Θέλουμε να προκαλέσουμε το ενδιαφέρον σου για νέες τεχνολογίες και να μοιραστούμε όλες τις τέχνες που κάνουν το σημερινό World Wide Web πραγματικότητα.
    </p>
  </div>
  <div class="col-md-6">
    <b>One Liner</b>
    <p>
      DEVit, the 360° Web Development Conference
      <br />
      <br />
    </p>
    <b>Short Description</b>
    <p>
      DEVit is the 360° Web Development Conference, frontend, backend, devops, mobile, we want to get you out of your comfort zone and cross pollinate all arts and crafts that make today’s World Wide Web possible.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3>
      <b>Logos</b>
    </h3>
  </div>
  <div class="col-md-6">
    <p>
        <img src="/images/press/DEVit_250.png" />
    </p>
    <b>White</b>
    <p>
      <a href="/images/press/DEVit_250.png" target="_blank">250x250</a> &bull;
      <a href="/images/press/DEVit_800.png" target="_blank">800x800</a> &bull;
      <a href="/images/press/DEVit_1280.png" target="_blank">1280x1280</a> &bull;
      <a href="/images/press/DEVit.pdf" target="_blank">Vector</a>
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <img src="/images/press/DEVit_250_dark.png" />
    </p>
    <b>Dark</b>
    <p>
      <a href="/images/press/DEVit_250_dark.png" target="_blank">250x250</a> &bull;
      <a href="/images/press/DEVit_800_dark.png" target="_blank">800x800</a> &bull;
      <a href="/images/press/DEVit_1280_dark.png" target="_blank">1280x1280</a> &bull;
      <a href="/images/press/DEVit_dark.pdf" target="_blank">Vector</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3>
      <b>Photos</b>
    </h3>
  </div>
  <div class="col-lg-4 col-md-6 press-photos">
    <img src="/images/press/thumbs/devit-conference-xs-1.png" />
    <p>
      <a href="/images/press/devit-conference-sm-1.jpg" target="_blank">small</a> &bull;
      <a href="/images/press/devit-conference-md-1.jpg" target="_blank">medium</a> &bull;
      <a href="/images/press/devit-conference-lg-1.jpg" target="_blank">large</a>
    </p>
  </div>
  <div class="col-lg-4 col-md-6 press-photos">
    <img src="/images/press/thumbs/devit-conference-xs-2.png" />
    <p>
      <a href="/images/press/devit-conference-sm-2.jpg" target="_blank">small</a> &bull;
      <a href="/images/press/devit-conference-md-2.jpg" target="_blank">medium</a> &bull;
      <a href="/images/press/devit-conference-lg-2.jpg" target="_blank">large</a>
    </p>
  </div>
  <div class="col-lg-4 col-md-6 press-photos">
    <img src="/images/press/thumbs/devit-conference-xs-3.png" />
    <p>
      <a href="/images/press/devit-conference-sm-3.jpg" target="_blank">small</a> &bull;
      <a href="/images/press/devit-conference-md-3.jpg" target="_blank">medium</a> &bull;
      <a href="/images/press/devit-conference-lg-3.jpg" target="_blank">large</a>
    </p>
  </div>
  <div class="col-lg-4 col-md-6 press-photos">
    <img src="/images/press/thumbs/devit-conference-xs-4.png" />
    <p>
      <a href="/images/press/devit-conference-sm-4.jpg" target="_blank">small</a> &bull;
      <a href="/images/press/devit-conference-md-4.jpg" target="_blank">medium</a> &bull;
      <a href="/images/press/devit-conference-lg-4.jpg" target="_blank">large</a>
    </p>
  </div>
  <div class="col-lg-4 col-md-6 press-photos">
    <img src="/images/press/thumbs/devit-conference-xs-5.png" />
    <p>
      <a href="/images/press/devit-conference-sm-5.jpg" target="_blank">small</a> &bull;
      <a href="/images/press/devit-conference-md-5.jpg" target="_blank">medium</a> &bull;
      <a href="/images/press/devit-conference-lg-5.jpg" target="_blank">large</a>
    </p>
  </div>
  <div class="col-sm-12">
    <p>
      Photos are copyrighted with <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> and it is required that credits will follow them on each usage:<br /><b>© dD Photography | dimitris Doutsiopoulos | www.ddphotography.gr</b>
    </p>
  </div>
</div>


  </div>
  </section>

  {% include footer.html %}

</div>
